@model IEnumerable<ERPBO.Production.ViewModels.ItemReturnDetailListViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
}
<table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblReturnAndFaultyItemDetailList">
    <thead class="btn-dark">
        <tr class="text-center">
            <th style="vertical-align:middle">#SL</th>
            <th style="vertical-align:middle">Return Code</th>
            <th style="vertical-align:middle">Return Type</th>
            <th style="vertical-align:middle">Faulty Case</th>
            <th style="vertical-align:middle">Floor</th>
            <th style="vertical-align:middle">Model</th>
            <th style="vertical-align:middle">Warehouse</th>
            <th style="vertical-align:middle">ItemType Name</th>
            <th style="vertical-align:middle">Item Name</th>
            <th style="vertical-align:middle">Quantity</th>
            <th style="vertical-align:middle">Type Of Unit</th>
            <th style="vertical-align:middle">StateStatus</th>
            <th style="vertical-align:middle">Remarks</th>
            <th style="vertical-align:middle">EntryDate</th>
            <th style="vertical-align:middle">Entry User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl += 1;
            badge = item.StateStatus == "Pending" ? "badge bg-warning" : (item.StateStatus == "Accepted" ? "badge bg-primary" : item.StateStatus == "Approved" ? "badge bg-success" : (item.StateStatus == "Decline" ? "badge bg-danger" : "badge bg-secondary"));
            <tr>
                <td class="text-center"><b>@sl</b></td>
                <td>@item.IRCode</td>
                <td>@item.ReturnType</td>
                <td>@item.FaultyCase</td>
                <td>@item.LineNumber</td>
                <td>@item.ModelName</td>
                <td>@item.WarehouseName</td>
                <td>@item.ItemTypeName</td>
                <td>@item.ItemName</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center">@item.UnitSymbol</td>
                <td class="text-center" data-val="@item.StateStatus">
                    <span class="@badge">@item.StateStatus</span>
                </td>
                <td class="text-center">@item.Remarks</td>
                <td class="text-center text-sm">@item.EntryDate</td>
                <td class="text-center text-sm">@item.EntryUser</td>
            </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center empty-row">
                <td colspan="16">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pagination", pagerData)
