@model IEnumerable<ERPBO.Production.ViewModels.TransferFromQCDetailViewModel>
@using ERPBO.Production.ViewModels;
@using ERPBLL.Common;
@{
    Layout = null;
    int sl = 0;
    int count = 0;
    TransferFromQCInfoViewModel info = (TransferFromQCInfoViewModel)ViewBag.Info;
    IEnumerable<QRCodeTransferToRepairInfoViewModel> QrCodeDetails = (IEnumerable<QRCodeTransferToRepairInfoViewModel>)ViewBag.QrCodeDetail;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
    string belt = "(" + info.LineName + ")-(" + info.QCLineName + ")-(" + info.RepairLineName + ")";
    string itemName = info.ItemName + " [" + info.ItemTypeName + "-" + info.WarehouseName + "]";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblInfo">
            <tbody>
                <tr>
                    <td class="hide">@info.TFQInfoId</td>
                    <td style="width:15%">Transfer Code</td>
                    <td style="width:20%"><b>@info.TransferCode</b></td>
                    <td style="width:20%">Belt</td>
                    <td colspan="3"><b>@belt</b></td>
                </tr>
                <tr>
                    <td style="width:15%">Model Name</td>
                    <td style="width:20%"><b>@info.ModelName</b></td>
                    <td style="width:20%">Item Name</td>
                    <td colspan="3"><b>@itemName</b></td>
                </tr>
                <tr>
                    <td style="width:15%">Qty</td>
                    <td style="width:20%"><b>@info.ForQty</b></td>
                    <td style="width:20%">State Status</td>
                    <td colspan="3"><b>@info.StateStatus</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5" style="max-height:150px;overflow-y:scroll">
                <table class="table table-bordered table-striped table-sm table-responsive-lg text-sm tblQrCodes">
                    <thead class="btn-dark">
                        <tr>
                            <th colspan="2">
                                Total Items : @QrCodeDetails.Count()
                            </th>
                        </tr>
                        <tr>
                            <th style="width:15%">#SL</th>
                            <th style="width:85%">QRCode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in QrCodeDetails)
                        {
                            count++;
                            <tr>
                                <td style="width:15%"class="text-center text-bold">@count</td>
                                <td style="width:85%">@item.QRCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-7" style="max-height:150px;overflow-y:scroll">
                <table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblDetail">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>#SL</th>
                            <th class="hide"></th>
                            <th>Item Name</th>
                            <th>Qty.</th>
                            <th>Type Of Unit</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detail in Model)
                        {
                            sl = sl + 1;
                            string itemNameDetatil = detail.ItemName + " [" + detail.ItemTypeName + "-" + detail.WarehouseName + "]";
                            <tr>
                                <td class="text-center" width="10%"><b>@sl</b></td>
                                <td class="hide">@detail.TFQDetailId</td>
                                <td>@itemNameDetatil</td>
                                <td class="text-center">
                                    @detail.Quantity
                                </td>
                                <td class="text-center">@detail.UnitName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@if (info.StateStatus == RequisitionStatus.Approved)
{
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success btnAcceptedRFQ">Accept</button>
    </div>
}