@model IEnumerable<ERPBO.Production.ViewModels.QCItemStockInfoViewModel>
@{
    Layout = null;
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;

}

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    <thead class="btn-dark">
        <tr class="text-center text-bold">
            <th>#SL</th>
            <th>Belt</th>
            <th class="text-center">Model Name</th>
            <th>Warehouse Name</th>
            <th>ItemType Name</th>
            <th class="text-center">Item Name</th>
            <th class="hide">Quantity</th>
            <th>QC Pass Qty.</th>
            <th>Repair Transfer Qty.</th>
            <th>Lab Transfer Qty.</th>
            <th class="hide floor"></th>
            <th class="hide qc"></th>
            <th class="hide model"></th>
            <th class="hide warehouse"></th>
            <th class="hide itemType"></th>
            <th class="hide item"></th>
            <th class="text-center hide">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            string belt = "(" + item.ProductionFloorName + ")-(" + item.AssemblyLineName + ")-(" + item.QCName + ")";
            <tr>
                <td class="text-center text-bold">@sl</td>
                <td class="text-center text-bold">@belt</td>
                <td class="text-center">@item.ModelName</td>
                <td>@item.WarehouseName</td>
                <td>@item.ItemTypeName</td>
                <td class="text-center">@item.ItemName</td>
                <td class="text-center text-bold hide">@item.Quantity</td>
                <td class="text-center text-bold">@item.MiniStockQty</td>
                <td class="text-center text-bold">@item.RepairQty</td>
                <td class="text-center text-bold">@item.LabQty</td>
                <td class="hide floor">@item.ProductionFloorId</td>
                <td class="hide qc">@item.QCId</td>
                <td class="hide model">@item.DescriptionId</td>
                <td class="hide warehouse">@item.WarehouseId</td>
                <td class="hide itemType">@item.ItemTypeId</td>
                <td class="hide item">@item.ItemId</td>
                <td class="hide assembly">@item.AssemblyLineId</td>
                <td class="text-center hide">
                    <a href="#" class="btn btn-sm btn-primary btn-flat data-item-qcpass" title="QC Pass">
                        <i class="fas fa-paper-plane"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-danger btn-flat data-item-repair" title="Transfer To Repair">
                        <i class="fas fa-gavel"></i>
                    </a>
                </td>
            </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center text-bold">
                <td colspan="18">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pagination", pagerData)
