@model IEnumerable<ERPBO.Production.ViewModels.RepairSectionSemiFinishStockInfoViewModel>
@{ 
    int sl = 0;
    string belt = string.Empty;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped text-sm">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th>Belt</th>
                    <th>Warehouse</th>
                    <th>Model</th>
                    <th>StockInQty</th>
                    <th>StockOutQty</th>
                    <th>CurrentStock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    belt = "(" + item.FloorName + ")-(" + item.AssemblyLineName + ")-(" + item.QCLineName + ")-(" + item.RepairLineName + ")";
                <tr>
                    <td class="text-center text-bold">@sl</td>
                    <td>@belt</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.ModelName</td>
                    <td class="text-center">@item.StockInQty</td>
                    <td class="text-center">@item.StockOutQty</td>
                    <td class="text-center">@item.StockQty</td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="empty-row text-sm text-bold text-center">
                        <td colspan="11">
                            No data found in the table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>