@model IEnumerable<ERPBO.Production.ViewModels.RepairSectionFaultyItemTransferInfoViewModel>
@{
    //var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = 0;//pagerData.Serial;
    string badge = string.Empty;
    //var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

@*<div class="card-body">*@
    <div class="row">
        <div class="col-md-12" style="overflow-y:scroll">
            <table class="table table-bordered table-sm table-striped table-responsive-lg tblFaultyTransferInfo" id="tblData">
                <thead class="btn-dark">
                    <tr class="text-center">
                        <th style="vertical-align:middle">#SL</th>
                        <th style="vertical-align:middle">Transfer Code</th>
                        <th style="vertical-align:middle">Repair Line</th>
                        <th style="vertical-align:middle">Floor</th>
                        <th style="vertical-align:middle">Total Unit Qty</th>
                        <th style="vertical-align:middle">State Status</th>
                        <th style="vertical-align:middle">Entry User</th>
                        <th style="vertical-align:middle">Entry Date</th>
                        <th style="vertical-align:middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var info in Model)
                    {
                        sl = sl + 1;
                        badge = info.StateStatus == "Approved" ? "badge bg-success" : "badge bg-primary";
                        <tr>
                            <td class="text-center text-bold">@sl</td>
                            <td>@info.TransferCode</td>
                            <td>@info.RepairLineName</td>
                            <td>@info.ProductionFloorName</td>
                            <td class="text-center text-bold">@info.TotalUnit</td>
                            <td class="text-center" data-val="@info.StateStatus">
                                <span class="@badge">@info.StateStatus</span>
                            </td>
                            <td class="text-center text-sm">
                                @info.EntryDate.Value.ToString("dd MMM yyyy hh:mm tt")
                            </td>
                            <td class="text-center text-sm">@info.EntryUser</td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-outline-secondary data-item-detail-FTL" title="View Details" data-item-detail="@info.RSFIRInfoId"><i class="fas fa-eye"></i></a>
                                @*@if (privilege != null && privilege.Detail)
                                    {

                                    }*@
                                @*@if (privilege != null && privilege.Report)
                                    {

                                    }*@
                                <a href="#" class="btn btn-sm btn-outline-danger data-report-item hide" title="Pdf Report" data-report-item="@info.RSFIRInfoId"><i class="fas fa-file-pdf"></i></a>
                            </td>
                        </tr>
                    }
                    @if (Model.Count() == 0)
                    {
                        <tr class="text-center empty-row">
                            <td colspan="18">
                                No data found in table
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12 mt-1">
            @*@Html.Partial("_Pagination", pagerData)*@
        </div>
    </div>
@*</div>*@
