@model IEnumerable<ERPBO.Production.ViewModels.FinishGoodsSendDetailListViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
}

<table class="table table-bordered table-sm table-striped" id="tblProductionDetailInfoList">
    <thead class="btn-dark">
        <tr class="text-center">
            <th style="vertical-align:middle">#SL</th>
            <th class="hide"></th>
            <th style="vertical-align:middle">Floor</th>
            <th style="vertical-align:middle">Model</th>
            <th style="vertical-align:middle">Warehouse</th>
            <th style="vertical-align:middle">ItemType Name</th>
            <th style="vertical-align:middle">Item Name</th>
            <th style="vertical-align:middle">Type Of Unit</th>
            <th style="vertical-align:middle">Quantity</th>
            <th style="vertical-align:middle">StateStatus</th>
            <th style="vertical-align:middle">Entry Date</th>
            <th style="vertical-align:middle">Entry User</th>
            <th style="vertical-align:middle">Refference Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            badge = item.StateStatus.ToLower() == "Send" ? "badge bg-primary" : "badge bg-success";
            <tr>
                <td class="text-center text-bold">@sl</td>
                <td class="hide">@item.SendDetailId</td>
                <td>@item.LineNumber</td>
                <td>@item.ModelName</td>
                <td>@item.WarehouseName</td>
                <td>@item.ItemTypeName</td>
                <td>@item.ItemName</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center">@item.UnitName</td>
                <td class="text-center" data-val="@item.StateStatus">
                    <span class="@badge">@item.StateStatus</span>
                </td>
                <td class="text-center">@item.EntryDate</td>
                <td class="text-center text-sm">@item.EntryUser</td>
                <td>@item.RefferenceNumber</td>
            </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center">
                <td colspan="14">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pagination", pagerData)