@model IEnumerable<ERPBO.Production.ViewModels.HalfDoneStockTransferToWarehouseInfoViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
    string updateDate = string.Empty;

}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped text-sm">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th class="hide"></th>
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle">Transfer Code</th>
                    <th style="vertical-align:middle">Total Quantity</th>
                    <th style="vertical-align:middle">StateStatus</th>
                    <th style="vertical-align:middle">Entry User</th>
                    <th style="vertical-align:middle">Entry Date</th>
                    <th style="vertical-align:middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    badge = item.StateStatus == "Received" ? "badge bg-success" : (item.StateStatus == "Approved" ? "badge bg-primary" : item.StateStatus == "Return" ? "badge bg-danger" : "badge bg-warning");
                <tr>
                    <td class="hide">@item.HalfDoneTransferInfoId</td>
                    <td class="text-center text-bold">@sl</td>
                    <td class="text-center ">@item.TransferCode</td>
                    <td class="text-center text-bold">@item.TotalQuantity</td>
                    <td class="text-center " data-val="@item.StateStatus">
                        <span class="@badge">@item.StateStatus</span>
                    </td>
                    <td class="text-center">@item.EntryUser</td>
                    <td class="text-center">@item.EntryDate.Value.ToString("dd-MMM-yyyy hh:mm tt")</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-outline-secondary btn-flat data-item-halfDoneTransfer btnHalfDoneTransfer" title="View" data-item-halfDoneTransfer-val="@item.HalfDoneTransferInfoId" style="line-height:1"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="empty-row text-sm text-bold text-center">
                        <td colspan="15">
                            No data found in the table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="divHalfDoneTransferToWarehouse">
    @Html.Partial("_Pagination", pagerData)
</div>





