@model IEnumerable<ERPBO.Production.ViewModels.TransferStockToQCInfoViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped table-responsive-lg text-sm" id="tblFloorStockTransferInfoData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th style="vertical-align:middle">#SL</th>
                    <th class="hide"></th>
                    <th style="vertical-align:middle">Transfer Code</th>
                    <th style="vertical-align:middle">Floor</th>
                    <th style="vertical-align:middle">Assembly Line</th>
                    <th style="vertical-align:middle">QC Line</th>
                    <th style="vertical-align:middle">Model</th>
                    <th style="vertical-align:middle">Warehouse Name</th>
                    <th style="vertical-align:middle">ItemType Name</th>
                    <th style="vertical-align:middle">Item Name</th>
                    <th style="vertical-align:middle">Assembly Qty</th>
                    <th style="vertical-align:middle">Total Item</th>
                    <th style="vertical-align:middle">State Status</th>
                    <th style="vertical-align:middle">Remarks</th>
                    <th style="vertical-align:middle">EntryDate</th>
                    <th style="vertical-align:middle">Entry User</th>
                    <th style="vertical-align:middle">Update User</th>
                    <th style="vertical-align:middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in Model)
                {
                    sl = sl + 1;
                    badge = info.StateStatus == "Approved" ? "badge bg-success" : "badge bg-primary";
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td class="hide">@info.TSQInfoId</td>
                        <td>@info.TransferCode</td>
                        <td>@info.ProductionLineName</td>
                        <td>@info.AssemblyLineName</td>
                        <td>@info.QCLineName</td>
                        <td>@info.ModelName</td>
                        <td>@info.WarehouseName</td>
                        <td>@info.ItemTypeName</td>
                        <td>@info.ItemName</td>
                        <td class="text-center text-bold">@info.ForQty</td>
                        <td class="text-center">@info.ItemCount</td>
                        <td class="text-center" data-val="@info.StateStatus">
                            <span class="@badge">@info.StateStatus</span>
                        </td>
                        <td>@info.Remarks</td>
                        <td class="text-center text-sm">@info.EntryDate.Value.ToString("dd MMM yyyy hh:mm tt")</td>
                        <td class="text-center text-sm">@info.EntryUser</td>
                        <td class="text-center text-sm">@info.UpdateUser</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-outline-secondary data-item-detail" title="View Details" data-item-detail="@info.TSQInfoId"><i class="fas fa-eye"></i></a>
                            <a href="#" class="btn btn-sm btn-outline-danger data-report-item" title="Pdf Report" data-report-item="@info.TSQInfoId"><i class="fas fa-file-pdf"></i></a>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="18">
                            No data found in table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        @Html.Partial("_Pagination", pagerData)
    </div>
</div>

