@model IEnumerable<ERPBO.Production.ViewModels.ProductionStockInfoViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    int stock = 0;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped table-responsive-lg text-sm" id="tblWarehouseStockInfo">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th class="hide"></th>
                    <th>Floor</th>
                    <th class="hide"></th>
                    <th>Model</th>
                    <th class="hide"></th>
                    <th>Warehouse</th>
                    <th class="hide"></th>
                    <th>ItemType Name</th>
                    <th class="hide"></th>
                    <th>Item Name</th>
                    <th>Stock-In Qty</th>
                    <th>Stock-Out Qty</th>
                    <th>Current Stock</th>
                    <th class="hide"></th>
                    <th>Type Of Unit</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in Model)
                {
                    sl = sl + 1;
                    stock = (info.StockInQty.Value - info.StockOutQty.Value);
                    <tr>
                        <td class="text-center"><b>@sl</b></td>
                        <td class="hide">@info.StockInfoId</td>
                        <td class="hide">@info.LineId</td>
                        <td>@info.LineNumber</td>
                        <td class="hide">@info.DescriptionId</td>
                        <td>@info.ModelName</td>
                        <td class="hide">@info.WarehouseId</td>
                        <td>@info.Warehouse</td>
                        <td class="hide">@info.ItemTypeId</td>
                        <td>@info.ItemType</td>
                        <td class="hide">@info.ItemId</td>
                        <td>@info.Item</td>
                        <td class="text-center">@info.StockInQty</td>
                        <td class="text-center">@info.StockOutQty</td>
                        <td class="text-center">@stock</td>
                        <td class="hide">@info.UnitId</td>
                        <td class="text-center">@info.Unit</td>
                        <td>@info.Remarks</td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="16">
                            No data available in table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        @Html.Partial("_Pagination", pagerData)
    </div>
</div>

