@{
    ViewBag.Title = "Assembly Line Spare Parts Stock";
}

<div class="row text-sm">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-receiveStock-tab" data-toggle="pill" href="#custom-tabs-two-receiveStock" role="tab" aria-controls="custom-tabs-two-receiveStock" aria-selected="true">Parts Receive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-stockInfo-tab" data-toggle="pill" href="#custom-tabs-two-stockInfo" role="tab" aria-controls="custom-tabs-two-stockInfo" aria-selected="true">Parts Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-stockReturnList-tab" data-toggle="pill" href="#custom-tabs-two-stockReturnList" role="tab" aria-controls="custom-tabs-two-stockReturnList" aria-selected="true">Stock Return List</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-two-receiveStock" role="tabpanel" aria-labelledby="custom-tabs-two-receiveStock-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Receive Spare Parts
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body text-sm">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-2">
                                                <label for="ddlAssemblyReceiveList" class="control-label font-weight-bold">Assembly</label>
                                                @Html.DropDownList("ddlAssemblyReceiveList", (IEnumerable<SelectListItem>)ViewBag.ddlAssemblyLineWithProduction, "--Select Assembly--", new { @class = "form-control form-control-sm ctrl-change" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlModelNameReceiveList" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelNameReceiveList", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlStateStatusReceiveList" class="control-label font-weight-bold">Status</label>
                                                @Html.DropDownList("ddlStateStatusReceiveList", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="txtTSACode" class="control-label font-weight-bold">REQ Code</label>
                                                <input type="text" id="txtTSACode" class="form-control form-control-sm" placeholder="Search By REQ Code" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center text-bold hide" id="loader1">
                                                    <h6>Loading....</h6>
                                                </div>
                                                <div class="col-md-12" id="dataContainer2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-stockInfo" role="tabpanel" aria-labelledby="custom-tabs-two-stockInfo-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Assemble Stock Info
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-2">
                                                <label for="ddlLineNumberStockInfo" class="control-label font-weight-bold">Floor</label>
                                                @Html.DropDownList("ddlLineNumberStockInfo", (IEnumerable<SelectListItem>)ViewBag.ddlLineNumber, "--Select Floor--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlAssemblyStockInfo" class="control-label font-weight-bold">Assembly Line</label>
                                                <select id="ddlAssemblyStockInfo" class="form-control form-control-sm ctrl-change">
                                                    <option value="0">--Select Assembly--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlModelNameStockInfo" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelNameStockInfo", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                <label for="ddlItemsStockInfo" class="control-label font-weight-bold">Item Name</label>
                                                @Html.DropDownList("ddlItemsStockInfo", (IEnumerable<SelectListItem>)ViewBag.ddlItems, "--Select Item--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">Qty (Less/ Eq)</label>
                                                <input type="number" id="txtLessOrEq" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center text-bold hide" id="loader2">
                                                    <h6>Loading....</h6>
                                                </div>
                                                <div class="col-md-12" id="dataContainer1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-stockReturnList" role="tabpanel" aria-labelledby="custom-tabs-two-stockReturnList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Stock Return List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="@Url.Action("CreateAssemblyStockReturn","Production")" class="btn btn-flat btn-danger btn-sm float-right">
                                                    <i class="fas fa-minus"> Stock Return</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">
                                            Search By
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-2">
                                                <label for="txtReturnCodeForStockReturn" class="control-label font-weight-bold">Return Code</label>
                                                <input type="text" name="search" id="txtReturnCodeForStockReturn" class="form-control form-control-sm" placeholder="Search By Code" />
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlFloorsForStockReturn" class="control-label font-weight-bold">Floor</label>
                                                @Html.DropDownList("ddlFloorsForStockReturn", (IEnumerable<SelectListItem>)ViewBag.ddlLineNumber, "--Select Floor--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlAssemblyLineForStockReturn" class="control-label font-weight-bold">Packeging</label>
                                                <select id="ddlAssemblyLineForStockReturn" class="form-control form-control-sm">
                                                    <option value="0">--Select Assembly--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlStateStatusForStockReturn" class="control-label font-weight-bold">Status</label>
                                                <select id="ddlStateStatusForStockReturn" class="form-control form-control-sm">
                                                    <option value="">--Select Status--</option>
                                                    <option value="Send">Send</option>
                                                    <option value="Received">Received</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDateForStockReturn" />
                                                    <div class="input-group-prepend cursor-pointer remove-date-ForStockReturn dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDateForStockReturn" />
                                                    <div class="input-group-prepend remove-date-ForStockReturn dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="text-center text-bold" id="loader3">
                                                <h6>Loading....</h6>
                                            </div>
                                            <div class="col-md-12" id="dataContainer3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReqDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <input type="hidden" id="hdfInfoId" />
                <input type="hidden" id="hdfRowIndex" />
                <h4 id="modalHeading" class="modal-title">Requisition Item Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalContainer1">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="returnDetail" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Stock Return Detail</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalDataContainer3">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        // Stock Info
        var ddlLineNumberStockInfo = $("#ddlLineNumberStockInfo");
        var ddlAssemblyStockInfo = $("#ddlAssemblyStockInfo");
        var ddlModelNameStockInfo = $("#ddlModelNameStockInfo");
        var ddlItemsStockInfo = $("#ddlItemsStockInfo");
        var txtLessOrEq = $("#txtLessOrEq");
        var warehouseStock = '';
        var itemTypeStock = '';
        var itemStock = '';
        var pageNo = 1;

        ///Receive list //
        var hdfRowIndex = $("#hdfRowIndex");
        var hdfInfoId = $("#hdfInfoId");
        var ddlModelNameReceiveList = $("#ddlModelNameReceiveList");
        var ddlAssemblyReceiveList = $("#ddlAssemblyReceiveList");
        var ddlStateStatusReceiveList = $("#ddlStateStatusReceiveList");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var txtTSACode = $("#txtTSACode");
        var assmblyList = '';
        var floorList = '';

        //Repair Stock Return
        var ddlFloorsForStockReturn = $("#ddlFloorsForStockReturn");
        var ddlAssemblyLineForStockReturn = $("#ddlAssemblyLineForStockReturn");
        var ddlStateStatusForStockReturn = $("#ddlStateStatusForStockReturn");
        var dptFromDateForStockReturn = $("#dptFromDateForStockReturn");
        var dptToDateForStockReturn = $("#dptToDateForStockReturn");
        var txtReturnCodeForStockReturn = $("#txtReturnCodeForStockReturn");

        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });
            //Repair Return
            dptFromDateForStockReturn.prop('readonly', true);
            dptToDateForStockReturn.prop('readonly', true);
            dptFromDateForStockReturn.css("background-color", "#fff");
            dptToDateForStockReturn.css("background-color", "#fff");

            $('#dptFromDateForStockReturn').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on("change", function () {
                $('.datepicker').hide();
            });
            $('#dptToDateForStockReturn').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on("change", function () {
                $('.datepicker').hide();
            });

            $(".transferFor").addClass('hide');
            $(".repairLine").addClass('hide');

            LoadInitialize();
        })

        function LoadInitialize() {
            LoadDataTableReceiveList();
            LoadDataTableStockInfo();
            LoadDataTableStockReturn();
        }

        // Stock Info

        function getItemDetailsByStock() {
            warehouseStock = '';
            itemTypeStock = '';
            itemStock = '';
            if (ddlItemsStockInfo.val() != '') {
                itemStock = ddlItemsStockInfo.val().substring(0, ddlItemsStockInfo.val().indexOf("#"));
                itemTypeStock = ddlItemsStockInfo.val().substring(ddlItemsStockInfo.val().indexOf("#") + 1, ddlItemsStockInfo.val().lastIndexOf("#"));
                warehouseStock = ddlItemsStockInfo.val().substring(ddlItemsStockInfo.val().lastIndexOf("#") + 1);
            }
        }

        ddlLineNumberStockInfo.change(function () {
            clearDropdown("ddlAssemblyStockInfo");
            if (ddlLineNumberStockInfo.val() != "") {
                LoadDropDown('/Common/GetAssembliesByLine', 'POST', ddlAssemblyStockInfo, JSON.stringify({ lineId: ddlLineNumberStockInfo.val() }));
            }
            LoadDataTableStockInfo();
        })

        ddlItemsStockInfo.change(function () {
            LoadDataTableStockInfo();
        })

        ddlModelNameStockInfo.change(function () {
            LoadDataTableStockInfo();
        })

        ddlAssemblyStockInfo.change(function () {
            LoadDataTableStockInfo();
        })

        txtLessOrEq.keyup(function () {
            LoadDataTableStockInfo();
        })

        function LoadDataTableStockInfo() {
            $("#loader2").removeClass("hide");
            getItemDetailsByStock();
            var data = { flag: "search", lineId: ddlLineNumberStockInfo.val(), assemblyId: ddlAssemblyStockInfo.val(), modelId: ddlModelNameStockInfo.val(), warehouseId: warehouseStock, itemTypeId: itemTypeStock, itemId: itemStock, lessOrEq: txtLessOrEq.val(), page: pageNo };

            $.when(getReqWithData('html', 'GET', '/Production/GetAssemblyLineStockInfo', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
                $("#loader2").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader2").addClass("hide");
            });
            pageNo = 1;
        }

        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTableStockInfo();
            }
        })

        // Receive Stocks //

        function getProductionFloorAndAssembly() {
            floorList = '';
            assmblyList = '';
            if (ddlAssemblyReceiveList.val() != '') {
                var val = ddlAssemblyReceiveList.val();
                assmblyList = val.substring(0, val.lastIndexOf("#"));
                floorList = val.substring(val.lastIndexOf("#") + 1);
            }
        }

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTableReceiveList();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTableReceiveList();
                }
            }
        })

        ddlAssemblyReceiveList.change(function myfunction() {
            LoadDataTableReceiveList();
        })

        ddlModelNameReceiveList.change(function myfunction() {
            LoadDataTableReceiveList();
        })

        ddlStateStatusReceiveList.change(function myfunction() {
            LoadDataTableReceiveList();
        })

        txtTSACode.keyup(function () {
            LoadDataTableReceiveList();
        })

        function LoadDataTableReceiveList() {
            $("#loader1").removeClass("hide");
            getProductionFloorAndAssembly();
            //reqInfoId
            var data = { flag: "info", floorId: floorList, transferFor: "Assembly", repairLineId: 0, assemblyId: assmblyList, modelId: TryParseInt(ddlModelNameReceiveList.val(), 0), warehouseId: 0, itemTypeId: 0, itemId: 0, status: ddlStateStatusReceiveList.val(), transferCode: txtTSACode.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), transferInfoId: 0, page: pageNo, reqFlag: "Direct" };

            $.when(getReqWithData('html', 'GET', '/Production/ReceiveSparePartsFromProductionRequisitionInAssembly', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer2").fadeOut('500', function () {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                        //$(".transferFor").addClass('hide');
                        //$(".repairLine").addClass('hide');
                    });
                }
                $("#loader1").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader1").addClass("hide");
            });

            //pageNo = 1;
        }

        function OpenModal() {
            $("#modelDataContainer").empty();
            hdfInfoId.val('0');
            hdfRowIndex.val("");
            $("#modalReqDetails").modal("show");
        }

        $(document).on("click", "a.data-details", function (e) {
            e.preventDefault();
            var data = {
                flag: flag.detail,
                reqInfoId: TryParseInt($(this).attr("data-details"), 0)
            };
            var idx = $(this).parent().parents('tr').index();

            $.when(getReqWithData('html', 'GET', '/Production/ReceiveSparePartsFromProductionRequisitionInAssembly', data)).then(function (res, status) {
                if (status == "success") {
                    OpenModal();
                    hdfInfoId.val(data.reqInfoId);
                    hdfRowIndex.val(idx)
                    $("#modalContainer1").empty();
                    $("#modalContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
        })

        // accept the transfer stock
        $(document).on("click", ".btnAccepted", function (e) {
            e.preventDefault();
            fnTransferStateChange(hdfInfoId.val(), reqStatus.accepted);
        })

        function fnTransferStateChange(id, status) {
            disable(".btnAccepted");
            var data = JSON.stringify({ reqInfoId: id, status: status });
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveRequisitionItemsByAssemblyOrRepairOrPackaging', data, getToken())).then(function (res, status) {
                if (res === true && status === "success") {
                    $("#modalReqDetails").modal("toggle").toggle("fast");
                    hdfInfoId.val('0');
                    fnRemoveARowFromTbody(".tblReqInfo", hdfRowIndex.val())
                    $('.toastrDefaultSuccess').trigger('click');

                    setTimeout(function () {
                        LoadDataTableReceiveList();
                        LoadDataTableStockInfo();
                    }, 1300);
                }
                enable(".btnAccepted");
            }).fail(function (error) {
                console.log(error);
                enable(".btnAccepted");
            })
        }

        // Stock Return List //

        $(document).on('click', 'div.remove-date-ForStockReturn', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDateForStockReturn.val() !== '') {
                    dptToDateForStockReturn.val('');
                    LoadDataTableStockReturn();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDateForStockReturn.val() !== '') {
                    dptFromDateForStockReturn.val('');
                    LoadDataTableStockReturn();
                }
            }
        })
        ddlFloorsForStockReturn.change(function () {
            LoadDataTableStockReturn();
            clearDropdown("ddlAssemblyLineForStockReturn");
            if (ddlFloorsForStockReturn.val() != "") {
                LoadDropDown('/Common/GetAssblyByLine', 'POST', ddlAssemblyLineForStockReturn, JSON.stringify({ lineId: ddlFloorsForStockReturn.val() }));
            }
        })

        ddlAssemblyLineForStockReturn.change(function () {
            LoadDataTableStockReturn();
        })

        txtReturnCodeForStockReturn.keyup(function () {
            LoadDataTableStockReturn();
        })

        dptFromDateForStockReturn.change(function () {
            LoadDataTableStockReturn();
        })

        dptToDateForStockReturn.change(function () {
            LoadDataTableStockReturn();
        })

        ddlStateStatusForStockReturn.change(function () {
            LoadDataTableStockReturn();
        })

        function LoadDataTableStockReturn() {
            $("#loader3").removeClass("hide");
            var data = { flag: "StockReturnList", lineId: TryParseInt(ddlFloorsForStockReturn.val(), 0), assemblyId: TryParseInt(ddlAssemblyLineForStockReturn.val(), 0), returnCode: $.trim(txtReturnCodeForStockReturn.val()), status: ddlStateStatusForStockReturn.val(), fromDate: dptFromDateForStockReturn.val(), toDate: dptToDateForStockReturn.val(), page: pageNo }
            $.when(getReqWithData('html', 'GET', '/Production/GetAssemblyLineStockInfoFS', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer3").fadeOut('500', function () {
                        $("#dataContainer3").empty();
                        $("#dataContainer3").append(res).fadeIn('500');
                        $(".flag").addClass('hide');
                    });
                }
                $("#loader3").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader3").addClass("hide");
                });
            pageNo = 1;
        }
        //Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                if ($(this).parent().parents('div').hasClass('divStockReturnList')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTableStockReturn();
                }
            }
        })
        // Stock Return Detail //
        $(document).on('click', '.data-item-return', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-val");
            if (TryParseInt(id, 0) > 0) {
                $("#modalDataContainer3").empty();
                var data = { returnId: id };
                $.when(getReqWithData('html', 'GET', '/Production/GetStockReturnItemsDetail', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#modalDataContainer3").append(res);
                        $("#returnDetail").modal("show");
                    }
                }).fail(function (error) {
                    console.log(error);

                });
            }
        })

    </script>
}