@{
    ViewBag.Title = "Packaging Stock";
}

<div class="row">
    <div class="col-md-12 text-sm">
        @Html.AntiForgeryToken()
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-receiveStock-tab" data-toggle="pill" href="#custom-tabs-two-receiveStock" role="tab" aria-controls="custom-tabs-two-receiveStock" aria-selected="true">Receive Requisitioned Parts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-stockInfo-tab" data-toggle="pill" href="#custom-tabs-two-stockInfo" role="tab" aria-controls="custom-tabs-two-stockInfo" aria-selected="true">Parts Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-receiveItem-tab" data-toggle="pill" href="#custom-tabs-two-receiveItem" role="tab" aria-controls="custom-tabs-two-receiveItem" aria-selected="true">Receive Handset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-itemStock-tab" data-toggle="pill" href="#custom-tabs-two-itemStock" role="tab" aria-controls="custom-tabs-two-itemStock" aria-selected="true">Handset Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-stockReturnList-tab" data-toggle="pill" href="#custom-tabs-two-stockReturnList" role="tab" aria-controls="custom-tabs-two-stockReturnList" aria-selected="true">Stock Return List</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-two-receiveStock" role="tabpanel" aria-labelledby="custom-tabs-two-receiveStock-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Receive Items
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body text-sm">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-2">
                                                <label for="ddlPackagingLineReqReceive" class="control-label font-weight-bold">Packaging</label>
                                                @Html.DropDownList("ddlPackagingLineReqReceive", (IEnumerable<SelectListItem>)ViewBag.ddlPackagingLineWithProduction, "--Select Packaging--", new { @class = "form-control form-control-sm ctrl-change" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlModelNameReqReceive" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelNameReqReceive", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlStateStatusReqReceive" class="control-label font-weight-bold">Status</label>
                                                @Html.DropDownList("ddlStateStatusReqReceive", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="txtTSACode" class="control-label font-weight-bold">REQ Code</label>
                                                <input type="text" id="txtTSACode" class="form-control form-control-sm" placeholder="Search By REQ Code" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center hide" id="loader1">
                                                    <h6 class="text-bold">Loading...</h6>
                                                </div>
                                                <div class="col-md-12" id="dataContainer1">
                                                    @*@{Html.RenderAction("ReceiveSparePartsFromProductionRequisitionInPackaging", new { @flag = "Info" });}*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-stockInfo" role="tabpanel" aria-labelledby="custom-tabs-two-stockInfo-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="#" class="float-left btn btn-sm btn-outline-primary" title="Details View">
                                                    <i class="fas fa-eye"></i> Go To Details View
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Packaging Stock
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="ddlPackagingLineStock" class="control-label font-weight-bold">Packaging Line</label>
                                                @Html.DropDownList("ddlPackagingLineStock", (IEnumerable<SelectListItem>)ViewBag.ddlPackagingLineWithProduction, "--Select Packaging--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlModelNameStock" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelNameStock", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlItemsStock" class="control-label font-weight-bold">Item</label>
                                                @Html.DropDownList("ddlItemsStock", (IEnumerable<SelectListItem>)ViewBag.ddlItems, "--Select Item--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold" for="txtLessOrEqStock">Qty(Le/Eq)</label>
                                                <input type="number" id="txtLessOrEqStock" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="text-center hide" id="loader2">
                                                <h6 class="text-bold">Loading...</h6>
                                            </div>
                                            <div class="col-md-12" id="dataContainer2">
                                                @*@{Html.RenderAction("GetPackagingLineStockInfo", new { @flag = "View" });}*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-two-receiveItem" role="tabpanel" aria-labelledby="custom-tabs-two-receiveItem-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Receive Packaging Item
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="txtMSTCode" class="control-label font-weight-bold">Transfer Code</label>
                                                <input type="text" id="txtMSTCode" class="form-control form-control-sm" placeholder="Search By REQ Code" />
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlPackagingLineReceiveItem" class="control-label font-weight-bold">Packaging Line</label>
                                                @Html.DropDownList("ddlPackagingLineReceiveItem", (IEnumerable<SelectListItem>)ViewBag.ddlPackagingLineWithProduction, "--Select Packaging--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlStateStatusReceiveItem" class="control-label font-weight-bold">Status</label>
                                                <select class="form-control form-control-sm" id="ddlStateStatusReceiveItem">
                                                    <option value="">Select Status</option>
                                                    <option value="Send">Send</option>
                                                    <option value="Received">Received</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker-receiveItem ctrl-changed" id="dptFromDateReceiveItem" />
                                                    <div class="input-group-prepend cursor-pointer remove-date-receiveItem dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker-receiveItem ctrl-changed" id="dptToDateReceiveItem" />
                                                    <div class="input-group-prepend remove-date-receiveItem dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center hide" id="loader3">
                                                    <h6 class="text-bold">Loading...</h6>
                                                </div>
                                                <div class="col-md-12" id="dataContainer3">
                                                    @*@{Html.RenderAction("GetMiniStockTransferInfos", new { @flag = "View" });}*@
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-two-itemStock" role="tabpanel" aria-labelledby="custom-tabs-two-itemStock-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="#" class="float-left btn btn-sm btn-outline-primary" title="Details View">
                                                    <i class="fas fa-eye"></i> Go To Details View
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Packaging Item Stock
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">Search By</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="ddlPackagingLineItemStock" class="control-label font-weight-bold">Packaging Line</label>
                                                @Html.DropDownList("ddlPackagingLineItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlPackagingLineWithProduction, "--Select Packaging--", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlModelNameItemStock" class="control-label font-weight-bold">Model</label>
                                                @Html.DropDownList("ddlModelNameItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlItemsItemStock" class="control-label font-weight-bold">Item</label>
                                                @Html.DropDownList("ddlItemsItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlHandSetItems, "--Select Item--", new { @class = "form-control form-control-sm ctrl-change select2 select2-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold" for="txtLessOrEqItemStock">Qty(Le/Eq)</label>
                                                <input type="number" id="txtLessOrEqItemStock" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-center hide" id="loader4">
                                                    <h6 class="text-bold">Loading...</h6>
                                                </div>
                                                <div class="col-md-12" id="dataContainer4">
                                                    @*@{Html.RenderAction("GetPackagingItemStockList", new { @flag = "View" });}*@
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-stockReturnList" role="tabpanel" aria-labelledby="custom-tabs-two-stockReturnList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Stock Return List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="@Url.Action("CreatePackagingStockReturn","Production")" class="btn btn-flat btn-secondary btn-sm float-right">
                                                    <i class="fas fa-minus"> Stock Return</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h6 class="card-title">
                                            Search By
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-12" style="margin-top:-10px">
                                            <div class="row">
                                                <div class="col-md-12"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="text-center hide" id="loader5">
                                                <h6 class="text-bold">Loading....</h6>
                                            </div>
                                            <div class="col-md-12" id="dataContainer5">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<div class="modal fade" id="returnDetail" role="dialog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header alert-secondary">
                                    <h4 id="modalHeading" class="modal-title">Stock Return Detail</h4>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body" id="modalDataContainer3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReqDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <input type="hidden" id="hdfInfoId" />
                <input type="hidden" id="hdfRowIndex" />
                <h4 id="modalHeading" class="modal-title">Requisition Item Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalContainer1">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="returnDetail" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Stock Return Detail</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalDataContainer3">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Receive Stock From Requisition //
        var ddlPackagingLineReqReceive = $("#ddlPackagingLineReqReceive");
        var ddlModelNameReqReceive = $("#ddlModelNameReqReceive");
        var ddlStateStatusReqReceive = $("#ddlStateStatusReqReceive");
        var txtTSACode = $("#txtTSACode");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var hdfRowIndex = $("#hdfRowIndex");
        var hdfInfoId = $("#hdfInfoId");

        // Stock //
        var ddlPackagingLineStock = $("#ddlPackagingLineStock");
        var ddlModelNameStock = $("#ddlModelNameStock");
        var ddlItemsStock = $("#ddlItemsStock");
        var txtLessOrEqStock = $("#txtLessOrEqStock");
        var pageNo = 1;

        
        // Item Stock //
        var ddlPackagingLineItemStock = $("#ddlPackagingLineItemStock");
        var ddlModelNameItemStock = $("#ddlModelNameItemStock");
        var ddlItemsItemStock = $("#ddlItemsItemStock");
        var txtLessOrEqItemStock = $("#txtLessOrEqItemStock")

        // Receive Item Stock //
        var ddlPackagingLineReceiveItem = $("#ddlPackagingLineReceiveItem");
        var ddlStateStatusReceiveItem = $("#ddlStateStatusReceiveItem");
        var txtMSTCode = $("#txtMSTCode");
        var dptFromDateReceiveItem = $("#dptFromDateReceiveItem");
        var dptToDateReceiveItem = $("#dptToDateReceiveItem");

        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });


            dptFromDateReceiveItem.prop('readonly', true);
            dptToDateReceiveItem.prop('readonly', true);
            dptFromDateReceiveItem.css("background-color", "#fff");
            dptToDateReceiveItem.css("background-color", "#fff");
            $('#dptFromDateReceiveItem').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
            });
            $('#dptToDateReceiveItem').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });
            loadDataInitializer();
        })

        function loadDataInitializer() {
            LoadDataTableReqReceiveList();
            LoadDataTableStockInfo();
            LoadDataTablePackagingItemStock();
            LoadDataTableMiniStockTransferList();
            LoadDataTableStockReturn();
        }

        // Receive Stock From Requisition //
        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTableReqReceiveList();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTableReqReceiveList();
                }
            }
        })

        ddlPackagingLineReqReceive.change(function myfunction() {
            LoadDataTableReqReceiveList();
        })

        ddlModelNameReqReceive.change(function myfunction() {
            LoadDataTableReqReceiveList();
        })

        ddlStateStatusReqReceive.change(function myfunction() {
            LoadDataTableReqReceiveList();
        })

        txtTSACode.keyup(function () {
            LoadDataTableReqReceiveList();
        })

        function LoadDataTableReqReceiveList() {
            $("#loader1").removeClass("hide");
            $("#dataContainer1").empty();
            var packagingId = ddlPackagingLineReqReceive.val() != "" ? ddlPackagingLineReqReceive.val().split("#") : ["0", "0"];
            var data = { flag: "info", floorId: TryParseInt(packagingId[1], 0), transferFor: "Packaging", packagingId: TryParseInt(packagingId[0], 0), modelId: TryParseInt(ddlModelNameReqReceive.val(), 0), warehouseId: 0, itemTypeId: 0, itemId: 0, status: ddlStateStatusReqReceive.val(), transferCode: txtTSACode.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), transferInfoId: 0, page: pageNo, reqFlag: "Direct" };

            $.when(getReqWithData('html', 'GET', '/Production/ReceiveSparePartsFromProductionRequisitionInPackaging', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
                $("#loader1").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader1").addClass("hide");
            });
            //pageNo = 1;
        }

        function OpenModal() {
            $("#modelDataContainer").empty();
            hdfInfoId.val('0');
            hdfRowIndex.val("");
            $("#modalReqDetails").modal("show");
        }

        $(document).on("click", "a.data-details", function (e) {
            e.preventDefault();
            var data = {
                flag: flag.detail,
                reqInfoId: TryParseInt($(this).attr("data-details"), 0)
            };
            var idx = $(this).parent().parents('tr').index();

            $.when(getReqWithData('html', 'GET', '/Production/ReceiveSparePartsFromProductionRequisitionInPackaging', data)).then(function (res, status) {
                if (status == "success") {
                    OpenModal();
                    $("#modalHeading").text('Requisition Item Details');
                    $(".modal-dialog").addClass("modal-xl")
                    $(".modal-dialog").removeClass("modal-lg")
                    hdfInfoId.val(data.reqInfoId);
                    hdfRowIndex.val(idx)
                    $("#modalContainer1").empty();
                    $("#modalContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
        })

        // receive requisition stocks
        $(document).on("click", ".btnAccepted", function (e) {
            e.preventDefault();
            fnTransferStateChange(hdfInfoId.val(), reqStatus.accepted);
        })

        function fnTransferStateChange(id, status) {
            var data = JSON.stringify({ reqInfoId: id, status: status });
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveRequisitionItemsByAssemblyOrRepairOrPackaging', data, getToken())).then(function (res, status) {
                if (res === true && status === "success") {
                    $("#modalReqDetails").modal("toggle").toggle("fast");
                    hdfInfoId.val('0');
                    fnRemoveARowFromTbody(".tblReqInfo", hdfRowIndex.val())
                    hdfRowIndex.val('');
                    toastrSuccessAlert(execuStatus.reqStatusSave);
                    setTimeout(function () {
                        LoadDataTableReqReceiveList();
                        LoadDataTableStockInfo();
                    }, 1300);
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
        // ============================== //

        // ===============Stock Raw Item=============== //

        ddlPackagingLineStock.change(function () {
            LoadDataTableStockInfo();
        })

        ddlItemsStock.change(function () {
            LoadDataTableStockInfo();
        })

        $(document).on('change', '.ctrl-change', function () {
            LoadDataTableStockInfo();
        })

        txtLessOrEqStock.keyup(function () {
            LoadDataTableStockInfo();
        })

        function LoadDataTableStockInfo() {
            $("#loader2").removeClass("hide");
            $("#dataContainer2").empty();
            //string flag, long ? lineId, long ? packagingId, long ? qcId, long ? modelId, long ? warehouseId, long ? itemTypeId, long ? itemId, string lessOrEq, int page = 1
            var packagingId = ddlPackagingLineStock.val() != "" ? ddlPackagingLineStock.val().split("#") : ["0", "0"];
            var itemId = ddlItemsStock.val() != "" ? ddlItemsStock.val().split("#") : ["0", "0", "0"];
            //console.log("Packing Split");
            //console.log(packagingId);
            var data = { flag: "view", lineId: TryParseInt(packagingId[1], 0), packagingId: TryParseInt(packagingId[0], 0), modelId: TryParseInt(ddlModelNameStock.val(), 0), qcId: 0, warehouseId: TryParseInt(itemId[2], 0), itemTypeId: TryParseInt(itemId[1], 0), itemId: TryParseInt(itemId[0], 0), lessOrEq: txtLessOrEqStock.val(), page: pageNo };

            $.when(getReqWithData('html', 'GET', '/Production/GetPackagingLineStockInfo', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer2").fadeOut('500', function () {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                    });
                }
                $("#loader2").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader2").addClass("hide");
            });
            //pageNo = 1;
        }

        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTableStockInfo();
            }
        })

        //===========Receive Mini Stock Items==============//

        $(document).on('click', 'div.remove-date-receiveItem', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDateReceiveItem.val() !== '') {
                    dptToDateReceiveItem.val('');
                    LoadDataTableMiniStockTransferList();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDateReceiveItem.val() !== '') {
                    dptFromDateReceiveItem.val('');
                    LoadDataTableMiniStockTransferList();
                }
            }
        })

        ddlPackagingLineReceiveItem.change(function () {
            LoadDataTableMiniStockTransferList();
        })

        ddlStateStatusReceiveItem.change(function () {
            LoadDataTableMiniStockTransferList();
        })

        txtMSTCode.keyup(function () {
            LoadDataTableMiniStockTransferList();
        })

        dptFromDateReceiveItem.change(function () {
            LoadDataTableMiniStockTransferList();
        })

        dptToDateReceiveItem.change(function () {
            LoadDataTableMiniStockTransferList();
        })

        function LoadDataTableMiniStockTransferList() {
            $("#loader3").removeClass("hide");
            $("#dataContainer3").empty();
            var packagingId = ddlPackagingLineReceiveItem.val() != "" ? ddlPackagingLineReceiveItem.val().split("#") : ["0", "0"];
            var data = { flag: "view", floorId: packagingId[1], status: ddlStateStatusReceiveItem.val(), fromDate: dptFromDateReceiveItem.val(), toDate: dptToDateReceiveItem.val(), transferInfoId: 0, transferCode: txtMSTCode.val(), transferId: 0 };

            $.when(getReqWithData('html', 'GET', '/Production/GetMiniStockTransferInfos', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer3").fadeOut('500', function () {
                        $("#dataContainer3").empty();
                        $("#dataContainer3").append(res).fadeIn('500');
                        //$(".cell-action").addClass('hide');
                    });
                }
                $("#loader3").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader3").addClass("hide");
            });
            pageNo = 1;
        }

        $(document).on("click", "a.data-item-transfer", function (e) {
            e.preventDefault();
            var data = {
                flag: flag.detail,
                transferId: TryParseInt($(this).attr("data-item-val"), 0)
            };
            var idx = $(this).parent().parents('tr').index();
            $.when(getReqWithData('html', 'GET', '/Production/GetMiniStockTransferInfos', data)).then(function (res, status) {
                if (status == "success") {
                    OpenModal();
                    $("#modalHeading").text('Receive Mini Stock');
                    $(".modal-dialog").addClass("modal-lg")
                    $(".modal-dialog").removeClass("modal-xl")
                    hdfInfoId.val(data.transferId);
                    hdfRowIndex.val(idx);
                    $("#modalContainer1").empty();
                    $("#modalContainer1").append(res);
                    $(".btnSendMiniStock").addClass('hide');
                }
            }).fail(function (error) {
                console.log(error);
            })
        })

        $(document).on("click", ".btnReceiveMiniStock", function (e) {
            e.preventDefault();
            var id = TryParseInt(hdfInfoId.val(), 0);
            if (id > 0) {
                fnMiniStockStateChange(id, 'Received');
            }
        })

        function fnMiniStockStateChange(id, status) {
            disable(".btnReceiveMiniStock")
            var data = JSON.stringify({ transferId: id, status: status });
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveMiniTrasferStatus', data, getToken())).then(function (res, status) {
                if (res === true && status === "success") {
                    toastrSuccessAlert(execuStatus.successSave);
                    $("#modalReqDetails").modal('toggle').toggle('fast');
                    $("#modalContainer1").empty();
                    fnRemoveARowFromTbody(".tblMSTInfo", hdfRowIndex.val());
                    setTimeout(function () {
                        LoadDataTableMiniStockTransferList();
                        LoadDataTablePackagingItemStock();
                    }, 1300);
                    enable(".btnReceiveMiniStock");
                }
            }).fail(function (error) {
                console.log(error);
                enable(".btnReceiveMiniStock");
            })
        }

        // ===============Item Stock ===============//

        ddlPackagingLineItemStock.change(function () {
            LoadDataTablePackagingItemStock();
        })
        ddlModelNameItemStock.change(function () {
            LoadDataTablePackagingItemStock();
        })
        ddlItemsItemStock.change(function () {
            LoadDataTablePackagingItemStock();
        })
        txtLessOrEqItemStock.keyup(function () {
            LoadDataTablePackagingItemStock();
        })

        function LoadDataTablePackagingItemStock() {
            $("#loader4").removeClass("hide");
            $("#dataContainer4").empty();
            var packagingId = ddlPackagingLineItemStock.val() != "" ? ddlPackagingLineItemStock.val().split("#") : ["0", "0"];
            var itemId = ddlItemsItemStock.val() != "" ? ddlItemsItemStock.val().split("#") : ["0","0","0"];
            var data = { flag: "view", floorId: packagingId[1], packagingLineId: packagingId[0], modelId: ddlModelNameItemStock.val(), warehouseId: itemId[2], itemTypeId: itemId[1], itemId: itemId[0], lessOrEq: txtLessOrEqItemStock.val() };

            $.when(getReqWithData(dataType.html, type.get, '/Production/GetPackagingItemStockList', data)).then(function (res,status) {
                if (status === "success") {
                    $("#dataContainer4").fadeOut('500', function () {
                        $("#dataContainer4").empty();
                        $("#dataContainer4").append(res).fadeIn('500');
                    });
                }
                $("#loader4").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader4").addClass("hide");
            })
        }

        //===================================//

        // Stock Return List //
        function LoadDataTableStockReturn() {
            $("#loader5").removeClass("hide");
            var data = { flag: "StockReturnList" }
            $.when(getReqWithData('html', 'GET', '/Production/GetPackagingLineStockInfo', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer5").fadeOut('500', function () {
                        $("#dataContainer5").empty();
                        $("#dataContainer5").append(res).fadeIn('500');
                        $(".flag").addClass('hide');
                    });
                }
                $("#loader5").addClass("hide");
            }).fail(function (error) {
                console.log(error);
                $("#loader5").addClass("hide");
            });
        }

        // Stock Return Detail //
        $(document).on('click', '.data-item-return', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-val");
            if (TryParseInt(id, 0) > 0) {
                $("#modalDataContainer3").empty();
                var data = { returnId: id };
                $.when(getReqWithData('html', 'GET', '/Production/GetStockReturnItemsDetail', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#modalDataContainer3").append(res);
                        $("#returnDetail").modal("show");
                    }
                }).fail(function (error) {
                    console.log(error);

                });
            }
        })
    </script>
}