@model IEnumerable<ERPBO.Production.ViewModels.RequsitionDetailViewModel>
@using ERPBO.Production.ViewModels;
@{
                /**/

    var sl = 0;
    Layout = null;
    RequsitionInfoViewModel info = ((RequsitionInfoViewModel)ViewBag.RequsitionInfoViewModel);

}
<table class="table table-bordered table-striped table-sm table-responsive-lg" id="tblReqInfoForEdit">
    <tbody>
        <tr>
            <td class="hide">@info.ReqInfoId</td>
            <td style="width:15%">Return Code</td>
            <td style="width:35%"><b>@info.ReqInfoCode</b></td>
            <td class="hide">@info.LineId</td>
            <td style="width:15%">Floor</td>
            <td style="width:35%"><b>@info.LineNumber</b></td>
            <td class="hide">@info.RequisitionFor</td>
        </tr>
        <tr>
            <td class="hide">@info.WarehouseId</td>
            <td style="width:15%">Warehouse</td>
            <td style="width:35%"><b>@info.WarehouseName</b></td>
            <td class="hide">@info.DescriptionId</td>
            <td style="width:15%">Model</td>
            <td style="width:35%"><b>@info.ModelName</b></td>
            <td class="hide">@info.RequisitionType</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg" id="tblReqDetailsData">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th class="hide"></th>
            <th class="hide"></th>
            <th>ItemType Name</th>
            <th class="hide"></th>
            <th>Item Name</th>
            <th>Qty.</th>
            <th>Type Of Unit</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center" width="10%"><b>@sl</b></td>
                <td class="hide">@detail.ReqDetailId</td>
                <td class="hide">@detail.ItemTypeId</td>
                <td>@detail.ItemTypeName</td>
                <td class="hide">@detail.ItemId</td>
                <td>@detail.ItemName</td>
                <td class="text-center" style="width:15%">
                    <input type="number" value="@detail.Quantity" class="form-control form-control-sm" />
                </td>
                <td class="text-center">@detail.UnitName</td>
                @*<td class="text-center">
                        <a href="#" class="btn btn-danger btn-sm data-onfly-del" data-edit-item="@detail.ReqDetailId"><i class="fa fa-pen"></i> Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>