@model IEnumerable<ERPBO.Inventory.ViewModels.WarehouseViewModel>
@{
    ViewBag.Title = "List Of Warehouse";
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;

}

<div class="row">
    <div class="col-md-12 mt-2" style="overflow-y:scroll">
        <table class="table table-bordered table-sm text-sm table-striped table-responsive-lg tblWarehouseData" id="tblWarehouseData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th>Warehouse Name</th>
                    <th>Entry User</th>
                    <th>Update User</th>
                    <th>StateStatus</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    badge = item.StateStatus.ToLower() == "active" ? "badge bg-success" : "badge bg-danger";
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td class="hide">@item.Id</td>
                        <td>@item.WarehouseName</td>

                        <td class="text-center">@item.EntryUser</td>
                        <td class="text-center">@item.UpdateUser</td>

                        <td class="text-center" data-val="@item.StateStatus">
                            <span class="@badge">@item.StateStatus</span>
                        </td>
                        <td>@item.Remarks</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-warning btn-sm data-edit-item" style="line-height:1" data-edit-item="@item.Id"><i class="fa fa-sm fa-pen"></i> Edit</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-12 warehouse">
        @Html.Partial("_Pagination", pagerData)
    </div>
</div>

