@model IEnumerable<ERPBO.Inventory.ViewModels.IQCStockDetailViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge = string.Empty;
}

<div class="row">
    <div class="col-md-12 mt-2" style="overflow-y:scroll">
        <table class="table table-bordered table-sm text-sm table-striped table-responsive-lg tblIQCDetailList" id="tblIQCDetailList">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle">IQC</th>
                    <th style="vertical-align:middle">Warehouse</th>
                    <th style="vertical-align:middle">Model Name</th>
                    <th style="vertical-align:middle">ItemType Name</th>
                    <th style="vertical-align:middle">Item Name</th>
                    <th style="vertical-align:middle">Type Of Unit</th>
                    <th style="vertical-align:middle">Quantity</th>
                    <th style="vertical-align:middle">Stock Type</th>
                    <th style="vertical-align:middle">Stock Status</th>
                    <th style="vertical-align:middle">Entry Date</th>
                    <th style="vertical-align:middle">Ref Number</th>
                    <th style="vertical-align:middle">Entry User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    badge = 
                    (item.StockStatus.ToLower() == "stock-in" ? "badge bg-primary" : (item.StockStatus.ToLower() == "stock-out" ? "badge bg-success" : "badge bg-danger"));
                <tr>
                    <td class="text-center"><b>@sl</b></td>
                    <td>@item.IQCName</td>
                    <td>@item.WarehouseName</td>
                    <td class="text-center">@item.ModelName</td>
                    <td>@item.ItemTypeName</td>
                    <td>@item.ItemName</td>
                    <td class="text-center">@item.UnitSymbol</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center" data-val="@item.StockType">
                        <span class="@badge">@item.StockType</span>
                    </td>
                    <td class="text-center" data-val="@item.StockStatus">
                        <span class="@badge">@item.StockStatus</span>
                    </td>
                    <td class="text-center">@item.EntryDate</td>
                    <td>@item.ReferenceNumber</td>
                    <td class="text-center">@item.EntryUser</td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center text-bold">
                        <td colspan="14">No data found in the table</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="IQCStockDetailPage">
    @Html.Partial("_Pagination", pagerData)
</div>




