@model IEnumerable<ERPBO.Inventory.ViewModels.DescriptionViewModel>
@{
    ViewBag.Title = "Description List";
    int sl = 0;
    string badge = string.Empty;
    Layout = null;
}

<div class="row">
    <div class="col-md-12 text-center">
            <h4><b style="color:darkblue">Description List</b></h4>
            <hr />
        </div>
    @*<div class="col-md-4">
        <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblDescriptionData tbody tr',this)" />
    </div>*@
    <div class="col-md-12 mt-2 ">
        <table class="table table-bordered table-sm text-sm table-striped table-responsive-lg" id="tblDescriptionData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>SL No.</th>
                    <th class="hide"></th>
                    <th class="hide">SubCategoryId</th>
                    <th>Model Name</th>
                    <th>StateStatus</th>
                    <th>Remarks</th>
                    <th>Entry User</th>
                    <th>Update User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var des in Model)
                {
                    sl = sl + 1;
                    badge = des.StateStatus.ToLower() == "active" ? "badge bg-success" : "badge bg-danger";
                    <tr>
                        <td class="text-center" width="10%">@sl</td>
                        <td class="hide">@des.DescriptionId</td>
                        <td class="hide">@des.SubCategoryId</td>
                        <td class="text-center">@des.DescriptionName</td>
                        <td class="text-center" data-val="@des.StateStatus">
                            <span class="@badge">@des.StateStatus</span>
                        </td>
                        <td>@des.Remarks</td>
                        <td class="text-center">@des.EntryUser</td>
                        <td class="text-center">@des.UpdateUser</td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="5">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblDescriptionData').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "pageLength": 10,
                "language": {
                    searchPlaceholder: "Search By Anything",
                    search:""
                }
            });
            $('.dataTables_filter input[type="search"]').css(
                { 'width': '350px', 'display': 'inline-block' }
            );
        })
    </script>    
}
