@model IEnumerable<ERPBO.Production.ViewModels.StockItemReturnDetailViewModel>

@{
    int sl = 0;
}

<div class="row text-sm">
    <div class="col-md-12">
        <table class="table table-sm table-bordered table-striped table-responsive-lg">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th class="vertialHeader">#SL</th>
                    <th class="vertialHeader">Item</th>
                    <th class="vertialHeader">Good Stock</th>
                    <th class="vertialHeader">Man Made Faulty</th>
                    <th class="vertialHeader">China Made Faulty</th>
                    <th class="vertialHeader">Total Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl++;
                    string itemName = item.ItemName + " [" + item.ItemTypeName + "-" + item.WarehouseName + "]";
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td>@itemName</td>
                        <td class="text-center">@item.GoodStockQty</td>
                        <td class="text-center">@item.ManMadeFaultyQty</td>
                        <td class="text-center">@item.ChinaFaultyQty</td>
                        <td class="text-center">@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (ViewBag.StateStatus == "Send")
{
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success btn-flat btnReceiveReturnStock">
            <i class="fas fa-paper-plane"></i> Receive...
        </button>
    </div>
}

