@model IEnumerable<ERPBO.SalesAndDistribution.ViewModels.BTRCApprovedIMEIViewModel>
@{
    int sl = 0;
    string badge = string.Empty;
}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-striped table-sm table-valign-middle table-responsive-lg tblBTRCIMEIList" id="tblBTRCIMEIList">
            <thead class="text-center btn-dark">
                <tr>
                    <th>#SL</th>
                    <th class="hide">Model Name</th>
                    <th>IMEI</th>
                    <th>StateStatus</th>
                    <th>Remarks</th>
                    <th>Entry User</th>
                    <th>Entry Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    badge = item.StateStatus == "Initiated" ? "badge badge-success" : "badge badge-primary";
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td class="hide">@item.ModelName</td>
                        <td class="text-center">@item.IMEI</td>
                        <td class="text-center" data-val="@item.StateStatus">
                            <span class="@badge">@item.StateStatus</span>
                        </td>
                        <td>@item.Remarks</td>
                        <td class="text-center">@item.EntryDate.Value.ToString("dd-MMM-yyyy")</td>
                        <td class="text-center">@item.EntryUser</td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="empty-row text-center text-bold">
                        <td colspan="7">No data found in the table</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

