@model IEnumerable<ERPBO.SalesAndDistribution.ViewModels.DealerViewModel>

@{
    ViewBag.Title = "";
    int sl = 0;
    string badge = string.Empty;
}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped table-responsive-lg tblDealers table-valign-middle" id="tblDealers">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th>Dealer Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Contact_Person</th>
                    <th>Contact_Mobile</th>
                    <th>Representative</th>
                    <th>Zone</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Loging User</th>
                    <th>EntryUser</th>
                    <th>EntryDate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dealer in Model)
                {
                    sl = sl + 1;
                    badge = dealer.IsActive ? "badge bg-success" : "badge bg-danger";
                    string status = dealer.IsActive ? "Active" : "Inactive";
                    string zoneName = dealer.ZoneName + " [" + dealer.DistrictName + "-" + dealer.DivisionName+"]";
                    string loginStatus = dealer.IsAllowToLogIn ? "Yes" : "No";
                    string loginBadge= dealer.IsAllowToLogIn ? "badge bg-success" : "badge bg-danger";
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td data-val="@dealer.DealerId">@dealer.DealerName</td>
                        <td>@dealer.Address</td>
                        <td>@dealer.TelephoneNo</td>
                        <td>@dealer.MobileNo</td>
                        <td>@dealer.Email</td>
                        <td>@dealer.ContactPersonName</td>
                        <td>@dealer.ContactPersonMobile</td>
                        <td class="text-center" data-val="@dealer.RepresentativeId" data-user="@dealer.RepresentativeUserId" data-flag="@dealer.RepresentativeFlag">@dealer.RepresentativeName</td>
                        <td class="text-center" data-zone="@dealer.ZoneId" data-district="@dealer.DistrictId" data-division="@dealer.DivisionId">
                            @zoneName
                        </td>
                        <td>@dealer.Remarks</td>
                        <td class="text-center" data-val="@status">
                            <span class="@badge">@status</span>
                        </td>
                        <td class="text-center" data-val="@dealer.IsAllowToLogIn" data-user-val="@dealer.UserId">
                            <span class="@loginBadge">@loginStatus</span>
                        </td>
                        <td class="text-center">@dealer.EntryUser</td>
                        <td class="text-center">@dealer.EntryDate.Value.ToString("dd-MMM-yyyy")</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-warning btn-sm btn-flat data-dealer-edit" data-dealer-edit="@dealer.DealerId" title="Edit"><i class="fa fa-pen"></i> </a>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="15">
                            No data found in the table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>