
@{
    ViewBag.Title = "Sales & Distribution Stocks";
}
<div class="row text-sm" style="margin-top:-20px">
    <div class="col-md-12">
        @Html.AntiForgeryToken()
        <div class="card card-navy shadow card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs text-bold" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-IMEIList-tab" data-toggle="pill" href="#custom-tabs-one-IMEIList" role="tab" aria-controls="custom-tabs-one-IMEIList" aria-selected="true">BTRC Approved IMEI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-stock-tab" data-toggle="pill" href="#custom-tabs-two-stock" role="tab" aria-controls="custom-tabs-two-stock" aria-selected="true">Item Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-three-modelcolorStock-tab" data-toggle="pill" href="#custom-tabs-three-modelcolorStock" role="tab" aria-controls="custom-tabs-three-modelcolorStockS" aria-selected="false">Model & Color Wise Stock</a>
                    </li>
                    <li class="nav-item hide">
                        <a class="nav-link" id="custom-tabs-four-repair-tab" data-toggle="pill" href="#custom-tabs-four-repair" role="tab" aria-controls="custom-tabs-four-repair" aria-selected="false">Repair Line</a>
                    </li>
                    <li class="nav-item hide">
                        <a class="nav-link" id="custom-tabs-five-packaging-tab" data-toggle="pill" href="#custom-tabs-five-packaging" role="tab" aria-controls="custom-tabs-five-packaging" aria-selected="false">Packaging Line</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-IMEIList" role="tabpanel" aria-labelledby="custom-tabs-one-IMEIList">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" name="searchIMEI" id="searchByIMEI" class="form-control form-control-sm" placeholder="Search By IMEI" onkeyup="tableFilter('.tblBTRCIMEIList tbody tr',this)" />
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-outline-primary btn-flat btn-sm float-lg-right" id="btnAddIMEI"><i class="fa fa-plus"></i> Add IMEI</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-stock" role="tabpanel" aria-labelledby="custom-tabs-two-stock">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5>Search By</h5>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-outline-primary btn-flat btn-sm float-lg-right" id="btnAddProcess"><i class="fa fa-cogs"></i> Run Process</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="txtIMEIForItemStock" class="control-label font-weight-bold">
                                                    IMEI
                                                </label>
                                                <input type="text" class="form-control form-control-sm" id="txtIMEIForItemStock" placeholder="Search By IMEI" />
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlCategoriesForItemStock" class="control-label font-weight-bold">
                                                    Category
                                                </label>
                                                @Html.DropDownList("ddlCategoriesForItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlCategories, "---Select Category---", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlMobileBrandForItemStock" class="control-label font-weight-bold">
                                                    Brand
                                                </label>
                                                @Html.DropDownList("ddlMobileBrandForItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlMobileBrand, "---Select Brand---", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlModelsForItemStock" class="control-label font-weight-bold">
                                                    Model
                                                </label>
                                                @Html.DropDownList("ddlModelsForItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlModels, "---Select Model---", new { @class = "form-control form-control-sm select2 select2-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="ddlStockStatusForItemStock" class="control-label font-weight-bold">
                                                    Status
                                                </label>
                                                @Html.DropDownList("ddlStockStatusForItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlStockStatus, "---Select Status---", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlColorsForItemStock" class="control-label font-weight-bold">
                                                    Color
                                                </label>
                                                @Html.DropDownList("ddlColorsForItemStock", (IEnumerable<SelectListItem>)ViewBag.ddlColors, "---Select Color---", new { @class = "form-control form-control-sm" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDateForItemStock" />
                                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDateForItemStock" />
                                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-three-modelcolorStock" role="tabpanel" aria-labelledby="custom-tabs-three-modelcolorStock">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" name="searchModelColorStock" id="searchByModelColorStock" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('.tblModelAndColorWiseStock tbody tr',this)" />
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-four-repair" role="tabpanel" aria-labelledby="custom-tabs-four-repair">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    List Of Repair Line
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" name="searchRepair" id="searchByRepair" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('.tblRepairLine tbody tr',this)" />
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-outline-primary btn-flat btn-sm float-right" id="btnAddNewRepair"><i class="fa fa-plus"></i> Create Repair Line</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-five-packaging" role="tabpanel" aria-labelledby="custom-tabs-five-packaging">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    List Of Packaging Line
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" name="searchPackaging" id="searchByPackaging" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('.tblPackagingLine tbody tr',this)" />
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-outline-primary btn-flat btn-sm float-right" id="btnAddNewPackaging"><i class="fa fa-plus"></i> Create Packaging Line</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalIMEI" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert-secondary">
                    <h4 id="modalHeading" class="modal-title"><span id="spanModalHeadIMEI">Upload IMEI Excel</span></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="frmIMEI">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input form-control-sm" id="FileUpload" name="FileUpload" />
                                    <label class="custom-file-label" for="OrgImage"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer btn-light">
                    <button type="button" class="btn btn-danger btn-flat float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                    <button type="submit" class="btn btn-success btn-flat float-right" id="btnSubmitIMEI"><i class="far fa-save"></i> <span id="spanSaveTextIMEI"> Save</span> </button>
                </div>
            </div>
        </div>
    </div>
    <div class="callout callout-warning hide" id="loader-process" style="position:absolute;top:40%;left:40%">
        <div id="loader-div">
            <h3 class="text-center">
                <img src="~/Content/Images/loader.gif" width="50" height="50" />
            </h3>
            <h5>Please wait. This process will take few times!</h5>
            <h6 class="text-center">Don't exit from this page while process is running</h6>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // IMEI File
        var FileUpload = $("#FileUpload");

        // Item Stock
        var txtIMEIForItemStock = $("#txtIMEIForItemStock")
        var ddlCategoriesForItemStock = $("#ddlCategoriesForItemStock");
        var ddlMobileBrandForItemStock = $("#ddlMobileBrandForItemStock")
        var ddlModelsForItemStock = $("#ddlModelsForItemStock")
        var ddlStockStatusForItemStock = $("#ddlStockStatusForItemStock");
        var ddlColorsForItemStock = $("#ddlColorsForItemStock");
        var dptFromDateForItemStock = $("#dptFromDateForItemStock");
        var dptToDateForItemStock = $("#dptToDateForItemStock");

        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            dptFromDateForItemStock.prop('readonly', true);
            dptToDateForItemStock.prop('readonly', true);
            dptFromDateForItemStock.css("background-color", "#fff");
            dptToDateForItemStock.css("background-color", "#fff");
            $('#dptFromDateForItemStock').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDateForItemStock').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });

            loadDataInitializer();
        })

        $("#btnAddIMEI").click(function (e) {
            e.preventDefault();
            OpenModalIMEI();
        })

        function loadDataInitializer() {
            loadBTRCApprovedDataTable();
            loadItemStockDataTable();
            loadModelAndColorWiseStockDataTable();
        }

        function OpenModalIMEI() {
            $("#modalIMEI").modal("show");
        }

        function loadBTRCApprovedDataTable() {
            $("#searchByIMEI").val('');
            var data = { flag: "list" };
            $.when(getReqWithData(dataType.html, type.get, '/SalesAndDistribution/GetSalesAndDistributionStock', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                consoleLog(error);
            })
        }


        $("#btnSubmitIMEI").click(function (e) {
            e.preventDefault();
            var excelFile = $("#FileUpload").prop('files')[0];
            var formData = new FormData();
            formData.append("FileUpload", excelFile);
            console.log(formData);
            if (excelFile != null) {
                disable("#btnSubmitIMEI");
                $.when(postReqWithFile(dataType.json, type.post, '/SalesAndDistribution/SaveBTRCApprovedIMEI', formData, getToken())).then(function (res, status) {
                    if (res.isSuccess === true && status === 'success') {
                        toastrSuccessAlert(execuStatus.successSave);
                        $("#modalIMEI").modal("toggle").toggle("fast");
                        setTimeout(function () {
                            loadBTRCApprovedDataTable();
                        }, 1500);
                    }
                    else {
                        toastrErrorAlert(execuStatus.fail);
                    }
                    enable("#btnSubmitIMEI");
                }).fail(function (error) {
                    enable("#btnSubmitIMEI");
                })
            }

        })

        $("#btnAddProcess").click(function (e) {
            e.preventDefault();
            bootbox.confirm("Are you sure you want to Run this Process", function (result) {
                if (result) {
                    $("#loader-process").removeClass("hide");
                    //return;
                    $.when(postReqWithToken(null, dataType.json, type.post, '/SalesAndDistribution/IMEIProcess', null, getToken())).then(function (res, status) {
                        if (status === 'success') {
                            toastr.info(res.rows + "(Rows) affected", null, { timeOut: 1500 });
                            loadItemStockDataTable();
                            loadBTRCApprovedDataTable();
                        }
                        else {
                            toastrErrorAlert(execuStatus.fail);
                        }
                        $("#loader-process").addClass("hide");
                    }).fail(function (error) {
                        toastrErrorAlert(execuStatus.fail);
                        $("#loader-process").addClass("hide");
                    })
                }
            })
        })

        

        // Item Stock
        txtIMEIForItemStock.keyup(function () {
            loadItemStockDataTable();
        })

        ddlCategoriesForItemStock.change(function () {
            loadItemStockDataTable();
        })

        ddlMobileBrandForItemStock.change(function () {
            loadItemStockDataTable();
        })

        ddlModelsForItemStock.change(function () {
            loadItemStockDataTable();
        })

        ddlStockStatusForItemStock.change(function () {
            loadItemStockDataTable();
        })

        ddlColorsForItemStock.change(function () {
            loadItemStockDataTable();
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDateForItemStock.val() !== '') {
                    dptToDateForItemStock.val('');
                    loadItemStockDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDateForItemStock.val() !== '') {
                    dptFromDateForItemStock.val('');
                    loadItemStockDataTable();
                }
            }
        })

        function loadItemStockDataTable() {

            var data = { flag: "stock", status: ddlStockStatusForItemStock.val(), categoryId: TryParseInt(ddlCategoriesForItemStock.val(), 0), brandId: TryParseInt(ddlMobileBrandForItemStock.val(), 0), warehouseId: 0, itemTypeId: 0, itemId: 0, colorId: TryParseInt(ddlColorsForItemStock.val(), 0), imei: $.trim(txtIMEIForItemStock.val()), modelId: TryParseInt(ddlModelsForItemStock.val(), 0), fromDate: dptFromDateForItemStock.val(), toDate: dptToDateForItemStock.val() };

            $.when(getReqWithData(dataType.html, type.get, '/SalesAndDistribution/GetSalesAndDistributionStock', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer2").fadeOut('500', function () {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                consoleLog(error);
            })
        }

        // Model & Color Wise Stock
        function loadModelAndColorWiseStockDataTable() {
            var data = { flag: "modelandColorStock"};
            $.when(getReqWithData(dataType.html, type.get, '/SalesAndDistribution/GetSalesAndDistributionStock', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer3").fadeOut('500', function () {
                        $("#dataContainer3").empty();
                        $("#dataContainer3").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                consoleLog(error);
            })
        }
    </script>
}