@model IEnumerable<ERPBO.FrontDesk.ViewModels.HandsetChangeInformationViewModel>
@{ 
    Layout = null;
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
}
<div class="col-md-12 text-sm">
    <table class="table table-bordered table-sm table-striped" id="HandsetChangeInformation">
        <thead class="btn-dark">
            <tr class="text-center">
                <th>#SL</th>
                <th>Job Code</th>
                <th>Old Model</th>
                <th>New Model</th>
                <th>Old Color</th>
                <th>New Color</th>
                <th>Old IMEI1</th>
                <th>New IMEI1</th>
                <th>Old IMEI2</th>
                <th>New IMEI2</th>
                <th class="hide"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var change in Model)
            {
                sl = sl + 1;
                //string entryDate = part.EntryDate != null ? part.EntryDate.Value.ToString("dd-MMM-yyy hh:mm tt") : "";
            <tr>
                <td class="text-center">@sl</td>
                <td>@change.JobOrderCode</td>
                <td>@change.OldModel</td>
                <td>@change.NewModel</td>
                <td>@change.OldColor</td>
                <td>@change.Color</td>
                <td>@change.OldIMEI1</td>
                <td>@change.IMEI1</td>
                <td>@change.OldIMEI2</td>
                <td>@change.IMEI2</td>
                <td class="hide">@change.EntryDate</td>
            </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="6">
                        No Rows Found
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-12">
        @Html.Partial("_Pagination", pagerData)
    </div>
</div>
