@model  ERPBO.FrontDesk.ViewModels.JobOrderViewModel
@{
    string isWarrantyAvailable = Model.IsWarrantyAvailable ? "Yes" : "No";
    string isWarrantyPaperEnclosed = Model.IsWarrantyPaperEnclosed ? "Yes" : "No";
}

<table class="table table-sm table-bordered table-responsive-lg text-sm text-bold" id="tblJobOrderDetail">
    <tr>
        <td class="hide">@Model.JodOrderId</td>
        <td class="text-purple">JobOrder Code</td>
        <td colspan="5">@Model.JobOrderCode</td>
    </tr>
    <tr>
        <td class="text-purple">Customer Name</td>
        <td>@Model.CustomerName</td>
        <td class="text-purple">Moblie No</td>
        <td>@Model.MobileNo</td>
        <td class="text-purple">Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td class="text-purple">Model Name</td>
        <td>@Model.ModelName</td>
        <td class="text-purple">Accessories</td>
        <td>@Model.AccessoriesNames</td>
        <td class="text-purple">Problems</td>
        <td>@Model.Problems</td>
    </tr>
    <tr>
        <td class="text-purple">Warrenty Available</td>
        <td>@isWarrantyAvailable</td>
        <td class="text-purple">Warrenty Paper Enclosed</td>
        <td>@isWarrantyPaperEnclosed</td>
        <td class="text-purple">StateStatus</td>
        <td>@Model.StateStatus</td>
    </tr>
    <tr>
        <td class="text-purple">
            JobOrder Type
        </td>
        <td colspan="5">
            @Model.JobOrderType
        </td>
    </tr>
    @if (Model.StateStatus == ERPBLL.Common.JobOrderStatus.CustomerApproved || Model.StateStatus == ERPBLL.Common.JobOrderStatus.AssignToTS)
    {
        <tr>
            <td class="text-purple">
                T.S. Name
            </td>
            <td colspan="5">
                @if (Model.TSId != null && Model.TSId > 0)
                {
                    @Model.TSName
                }
                else
                {
                    @Html.DropDownList("ddlTSName", (IEnumerable<SelectListItem>)ViewBag.ddlTSName, "Select T.S.", new { @class = "form-control form-control-sm ddlTSName" })
                    <span class="error hide require-ts font-weight-bold">T.S. is required</span>
                }
            </td>
        </tr>
    }
</table>

@if (Model.StateStatus == ERPBLL.Common.JobOrderStatus.CustomerApproved && (Model.TSId == null || Model.TSId <= 0))
{
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success btnAssignTS">Assign T.S.</button>
    </div>
}