@model  IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string isWarrantyAvailable = string.Empty;
    string isWarrantyPaperEnclosed = string.Empty;
    string isHandSet = string.Empty;
    string badge = string.Empty;
    string badge1 = string.Empty;
    string badge2 = string.Empty;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <div class="row">
            <table class="table table-bordered table-sm table-striped table-responsive-lg text-sm" id="tblJobOrderList">
                <thead class="btn-dark">
                    <tr class="text-center text-sm">
                        <th style="vertical-align:middle">#SL</th>
                        <th style="vertical-align:middle">Job Order</th>
                        <th style="vertical-align:middle" class="action">Action</th>
                        <th style="vertical-align:middle" class="action">Invoice</th>
                        <th class="hide"></th>
                        <th style="vertical-align:middle">Job Status</th>
                        <th style="vertical-align:middle">Eng. Work Status</th>
                        <th style="vertical-align:middle">Model</th>
                        <th style="vertical-align:middle">IMEI1</th>
                        <th style="vertical-align:middle">Symptoms</th>
                        <th style="vertical-align:middle">Accessories</th>
                        <th style="vertical-align:middle">Job Type</th>
                        <th style="vertical-align:middle">PDStatus</th>
                        <th style="vertical-align:middle">Receive Id</th>
                        <th style="vertical-align:middle">DeliveryChallan</th>
                        <th style="vertical-align:middle">Customer Name</th>
                        <th style="vertical-align:middle">Mobile No</th>
                        <th style="vertical-align:middle">Warrenty Paper</th>
                        <th style="vertical-align:middle">Warranty Date</th>
                        <th style="vertical-align:middle">Probabily Date</th>
                        <th style="vertical-align:middle">Eng. Name</th>
                        <th style="vertical-align:middle">Approx Bill</th>
                        <th style="vertical-align:middle">Received by</th>
                        <th style="vertical-align:middle">Delivery by</th>
                        <th style="vertical-align:middle">Create Date</th>
                        <th style="vertical-align:middle">Repair Date</th>
                        <th style="vertical-align:middle">Delivery Date</th>
                        <th class="hide" style="vertical-align:middle">Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        badge2 = item.TotalPOrDStatus == "Pending" ? "badge bg-warning" : "badge bg-danger";
                        badge1 = item.JobOrderType == "Billing" ? "badge bg-danger" : "badge bg-success";
                        badge = item.StateStatus == "QC-Assigned" ? "badge bg-warning" : (item.StateStatus == "Job-Initiated" ? "badge bg-success" : item.StateStatus == "Delivery-Done" ? "badge bg-danger" : (item.StateStatus == "TS-Assigned" ? "badge bg-secondary" : (item.StateStatus == "HandSetChange" ? "badge bg-info" : "badge bg-primary")));
                        sl = sl + 1;
                        isWarrantyAvailable = item.IsWarrantyAvailable ? "Yes" : "No";
                        isWarrantyPaperEnclosed = item.IsWarrantyPaperEnclosed ? "Yes" : "No";
                        string strWarrentStartDate = item.WarrantyDate.HasValue ? item.WarrantyDate.Value.ToString("dd-MMM-yyy") : "";
                        string closeDate = item.CloseDate != null ? item.CloseDate.Value.ToString("dd-MMM-yyy") : "";
                        string repairDate = item.RepairDate != null ? item.RepairDate.Value.ToString("dd-MMM-yyy") : "";
                        string probabilyDate = item.ProbablyDate != null ? item.ProbablyDate.Value.ToString("dd-MMM-yyy") : "";
                        <tr class="text-sm">

                            <td class="hide">@item.JodOrderId</td>
                            <td class="text-center text-bold">@sl</td>
                            @if (User.RoleName == "FrontDesk")
                            {
                                <td>
                                    <a href="@Url.Action("GetJobOrderReceipt", "ReportSS", new { @jobOrderId = item.JodOrderId })" target="_blank" class="btn text-bold" style="color:blue" title="Download Receipt">@item.JobOrderCode</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.JobOrderCode
                                </td>
                            }
                            <td class="text-center action">
                                <a href="#" class="btn btn-sm btn-outline-info data-item-details" data-item-details="@item.JodOrderId" title="Job Order Details">
                                    <i class="fas fa-eye"></i>
                                </a>

                                @if ((item.StateStatus == ERPBLL.Common.JobOrderStatus.JobInitiated && item.IsTransfer == null) || (User.RoleName == "Administrator"))
                                {
                                    <a href="@Url.Action("CreateJobOrder","FrontDesk",new {@jobOrderId=item.JodOrderId })" class="btn btn-sm btn-outline-success" title="Edit Job Order"><i class="fas fa-pencil-alt"></i> </a>
                                }
                                @if (item.StateStatus == "Delivery-Done")
                                {
                                    <a href="@Url.Action("GetDeliveryReceiptRePrint","ReportSS",new {@jobOrderId=item.JodOrderId })" class="btn btn-sm btn-outline-danger" title="Download Delivery Receipt"><i class="fas fa-file-pdf"></i> </a>
                                }
                            </td>
                            <td class="action">
                                <a href="@Url.Action("InvoiceReport","ReportSS", new {infoId= item.InvoiceInfoId})" target="_blank" class="btn text-bold" style="color:blue" title="Download Invoice">@item.InvoiceCode</a>
                            </td>
                            <td class="text-center" data-val="@item.StateStatus">
                                <span class="@badge">@item.StateStatus</span>
                            </td>
                            <td>@item.TsRepairStatus</td>
                            <td>@item.ModelName</td>
                            <td>@item.IMEI</td>
                            <td>@item.Problems</td>
                            <td class="hiddendots">@item.AccessoriesNames</td>
                            <td>@item.JobOrderType</td>
                            <td class="text-center" data-val2="@item.TotalPOrDStatus">
                                <span class="@badge2">@item.TotalPOrDStatus</span>
                            </td>
                            <td>@item.MultipleJobOrderCode</td>
                            <td>
                                <a href="@Url.Action("MultipleDeliveryReceiptRePrint", "ReportSS", new { @deliveryCode = item.MultipleDeliveryCode })" target="_blank" class="btn text-bold" style="color:blue" title="Download Receipt">@item.MultipleDeliveryCode</a>
                            </td>
                            <td>@item.CustomerName</td>
                            <td>@item.MobileNo</td>
                            <td class="text-center">@isWarrantyPaperEnclosed</td>
                            <td>@strWarrentStartDate</td>

                            <td>@probabilyDate</td>
                            <td>@item.TSName</td>
                            <td>@item.ApproxBill</td>
                            <td class="text-center text-bold">@item.EntryUser</td>
                            <td class="text-center text-bold">@item.CloseUser</td>
                            <td>@item.EntryDate.Value.ToString("dd-MMM-yyyy")</td>
                            <td>@repairDate</td>
                            <td>@closeDate</td>
                            <td class="hide">@item.CustomerSupportStatus</td>


                        </tr>
                    }
                    @if (Model.Count() == 0)
                    {
                        <tr class="empty-row text-center">
                            <td colspan="20">No data found in the table</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 joborder">
        @Html.Partial("_Pagination", pagerData)
    </div>
</div>



