@model  IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderViewModel>
@{
    int sl = 0;
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    string isWarrantyAvailable = string.Empty;
    string isWarrantyPaperEnclosed = string.Empty;
    string badge = string.Empty;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped table-responsive-lg text-sm tblJobOrderList" id="tblJobOrderList">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th class="hide"></th>
                    <th style="vertical-align:middle">
                        <input type="checkbox" name="allJobOrder" id="allJobOrder" />
                    </th>
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle">Job Code</th>
                    <th style="vertical-align:middle">Customer Name</th>
                    <th style="vertical-align:middle">Mobile No</th>
                    <th style="vertical-align:middle">Address</th>
                    <th style="vertical-align:middle">Receive Id</th>
                    <th style="vertical-align:middle">Model</th>
                    <th style="vertical-align:middle">Symptom</th>
                    <th style="vertical-align:middle">Accessories</th>
                    @*<th style="vertical-align:middle">Warrenty Available</th>*@
                    <th style="vertical-align:middle">Warrenty Paper</th>
                    <th style="vertical-align:middle">Job Status</th>
                    <th style="vertical-align:middle">From Branch</th>
                    <th style="vertical-align:middle">Issued by</th>
                    <th style="vertical-align:middle">Create Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    badge = item.StateStatus == "Job-Initiated" ? "badge bg-success" : "badge bg-success";
                    sl = sl + 1;
                    isWarrantyAvailable = item.IsWarrantyAvailable ? "Yes" : "No";
                    isWarrantyPaperEnclosed = item.IsWarrantyPaperEnclosed ? "Yes" : "No";
                    <tr>
                        <td class="hide">@item.JodOrderId</td>
                        <td style="vertical-align:middle">
                            <input type="checkbox" name="jobOrderName" data-item-val="@item.JodOrderId" data-code-val="@item.JobOrderCode" />
                        </td>
                        <td class="text-center text-bold">@sl</td>
                        <td class="text-center text-bold">@item.JobOrderCode</td>
                        <td>@item.CustomerName</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Address</td>
                        <td>@item.MultipleJobOrderCode</td>
                        <td>@item.ModelName</td>
                        <td>@item.Problems</td>
                        <td>@item.AccessoriesNames</td>
                        @*<td class="text-center">@isWarrantyAvailable</td>*@
                        <td class="text-center">@isWarrantyPaperEnclosed</td>
                        <td class="text-center" data-val="@item.StateStatus">
                            <span class="@badge">@item.StateStatus</span>
                        </td>
                        <td class="text-center text-bold">@item.BranchName</td>
                        <td class="text-center text-bold">@item.EntryUser</td>
                        <td>@item.EntryDate.Value.ToString("dd-MMM-yyyy")</td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="empty-row text-center">
                        <td colspan="15">No data found in the table</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

