@model IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderReturnDetailViewModel>
@{
    Layout = null;
    int sl = 0;
    string badge = string.Empty;
}
<div class="col-md-12 text-sm">
    <table class="table table-bordered table-sm table-striped" id="tblPartsReturnList">
        <thead class="btn-dark">
            <tr class="text-center">
                <th>#SL</th>
                <th>Transfer Code</th>
                <th>JobCode</th>
                <th>Status</th>
                <th>BranchFrom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                sl = sl + 1;
                badge = item.TransferStatus == "Pending" ? "badge bg-warning" : "badge bg-success";
                //string entryDate = part.EntryDate != null ? part.EntryDate.Value.ToString("dd-MMM-yyy hh:mm tt") : "";
                <tr>
                    <td class="text-center">@sl</td>
                    <td>@item.TransferCode</td>
                    <td>@item.JobOrderCode</td>
                    <td class="text-center" data-val="@item.TransferStatus">
                        <span class="@badge">@item.TransferStatus</span>
                    </td>
                    <td class="text-center">@item.BranchName</td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="6">
                        No Rows Found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
