@model IEnumerable<ERPBO.Configuration.ViewModels.ModelWiseProblemViewModel>
@{ 
    Layout = null;
    int sl = 0;
}
<table class="table table-responsive-lg table-bordered table-sm">
    <thead class="btn-dark">
        <tr>
            <th style="vertical-align:middle">SL</th>
            <th style="vertical-align:middle">Model</th>
            <th style="vertical-align:middle">Dead</th>
            <th style="vertical-align:middle">Network Problem</th>
            <th style="vertical-align:middle">LCD Problem</th>
            <th style="vertical-align:middle">Battery can't start mobile</th>
            <th style="vertical-align:middle">DC power can't start mobile</th>
            <th style="vertical-align:middle">Auto power on</th>
            <th style="vertical-align:middle">Auto reboot</th>
            <th style="vertical-align:middle">Can't power off</th>
            <th style="vertical-align:middle">No incoming call</th>
            <th style="vertical-align:middle">Communi-cation echo</th>
            <th style="vertical-align:middle">Auto Call drop</th>
            <th style="vertical-align:middle">No incoming video call</th>
            <th style="vertical-align:middle">No outgoing video call</th>
            <th style="vertical-align:middle">Low sound at receiver end(Outgoing)</th>
            <th style="vertical-align:middle">No sound at receiver end(outgoing)</th>
            <th style="vertical-align:middle">No sound at caller's end(incoming)</th>
            <th style="vertical-align:middle">Low sound at caller's end(incoming)</th>
            <th style="vertical-align:middle">No signal</th>
            <th style="vertical-align:middle">Weak signal</th>
            <th style="vertical-align:middle">Unstable signal</th>
            <th style="vertical-align:middle">No network</th>
            <th style="vertical-align:middle">Search network</th>
            <th style="vertical-align:middle">No service</th>
            <th style="vertical-align:middle">Can't identify SIM card</th>
            <th style="vertical-align:middle">Can't identify T or SD card</th>
            <th style="vertical-align:middle">Wi-Fi does not get the signal</th>
            <th style="vertical-align:middle">Wi-Fi does not connected</th>
            <th style="vertical-align:middle">Can't dual Sim dual standby</th>
            <th style="vertical-align:middle">BT can't transfer files</th>
            <th style="vertical-align:middle">Data Connection Problem</th>
            <th style="vertical-align:middle">Not charging</th>
            <th style="vertical-align:middle">Warning Bad Contact</th>
            <th style="vertical-align:middle">Charger indicator light abnormal</th>
            <th style="vertical-align:middle">Charge does not store</th>
            <th style="vertical-align:middle">Low Battery shutdown</th>
            <th style="vertical-align:middle">Battery explosion</th>
            <th style="vertical-align:middle">Low standby time</th>
            <th style="vertical-align:middle">Auto charge</th>
            <th style="vertical-align:middle">Display line missing</th>
            <th style="vertical-align:middle">Flicker screen</th>
            <th style="vertical-align:middle">No backlight</th>
            <th style="vertical-align:middle">Black/ white dot</th>
            <th style="vertical-align:middle">Display white</th>
            <th style="vertical-align:middle">Display Black</th>
            <th style="vertical-align:middle">Display Black dot</th>
            <th style="vertical-align:middle">No ring tone sound</th>
            <th style="vertical-align:middle">Low ring tone sound</th>
            <th style="vertical-align:middle">Noisy Sound</th>
            <th style="vertical-align:middle">No vibration</th>
            <th style="vertical-align:middle">Vibration noise</th>
            <th style="vertical-align:middle">Weak vibration</th>
            <th style="vertical-align:middle">Missing components</th>
            <th style="vertical-align:middle">SIM Card base broken</th>
            <th style="vertical-align:middle">Camera Hang</th>
            <th style="vertical-align:middle">Earphone noise</th>
            <th style="vertical-align:middle">Can't use earphone</th>
            <th style="vertical-align:middle">Non steady hang</th>
            <th style="vertical-align:middle">Steady hang</th>
            <th style="vertical-align:middle">I/o port liquid damage</th>
            <th style="vertical-align:middle">Liquid damage</th>
            <th style="vertical-align:middle">Display broken</th>
            <th style="vertical-align:middle">Fire damage</th>
            <th style="vertical-align:middle">I/o connector broken</th>
            <th style="vertical-align:middle">Main lens broken</th>
            <th style="vertical-align:middle">SIM Reader broken</th>
            <th style="vertical-align:middle">Upper shell broken</th>
            <th style="vertical-align:middle">Touch Pad Broken</th>
            <th style="vertical-align:middle">Invalid IMEI</th>
            <th style="vertical-align:middle">Phone password block</th>
            <th style="vertical-align:middle">Charge Not Stay</th>
            <th style="vertical-align:middle">HP Symbol Show</th>
            <th style="vertical-align:middle">Keypad Problem</th>
            <th style="vertical-align:middle">Auto Power On/Off</th>
            <th style="vertical-align:middle">Camera Problem</th>
            <th style="vertical-align:middle">Battery Problem</th>
            <th style="vertical-align:middle">Memory Not Found</th>
            <th style="vertical-align:middle">Auto Off</th>
            <th style="vertical-align:middle">Touch Light Problem</th>
            <th style="vertical-align:middle">Software Problem</th>
            <th style="vertical-align:middle">Speaker Problem</th>
            <th style="vertical-align:middle">Microphone Problem</th>
            <th style="vertical-align:middle">Receiver Problem</th>
            <th style="vertical-align:middle">All Check</th>
            <th style="vertical-align:middle">Head Phone Symbol Show</th>
            <th style="vertical-align:middle">Gift Box Damage</th>
            <th style="vertical-align:middle">Charger Problem</th>
            <th style="vertical-align:middle">Battery Cover Problem</th>
            <th style="vertical-align:middle">Touch Pad Problem</th>
            <th style="vertical-align:middle">LCD Lance Broken </th>
            <th style="vertical-align:middle">Over Heat Problem</th>
            <th style="vertical-align:middle">LED Key Problem</th>
            <th style="vertical-align:middle">LED Key Missing</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            sl = sl + 1;
        <tr>
            <td class="text-center">@sl</td>
            <td >@item.ModelName</td>
            <td class="text-center">@item.Dead</td>
            <td class="text-center">@item.NetworkProblem</td>
            <td class="text-center">@item.LCDProblem</td>
            <td class="text-center">@item.Batterycantstartmobile</td>
            <td class="text-center">@item.DCpowercantstartmobile</td>
            <td class="text-center">@item.Autopoweron</td>
            <td class="text-center">@item.Autoreboot</td>
            <td class="text-center">@item.Cantpoweroff</td>
            <td class="text-center">@item.Noincomingcall</td>
            <td class="text-center">@item.Communicationecho</td>
            <td class="text-center">@item.AutoCalldrop</td>
            <td class="text-center">@item.Noincomingvideocall</td>
            <td class="text-center">@item.Nooutgoingvideocall</td>
            <td class="text-center">@item.LowsoundatreceiverendOutgoing</td>
            <td class="text-center">@item.Nosoundatreceiverendoutgoing</td>
            <td class="text-center">@item.Nosoundatcallersendincoming</td>
            <td class="text-center">@item.Lowsoundatcallersendincoming</td>
            <td class="text-center">@item.Nosignal</td>
            <td class="text-center">@item.Weaksignal</td>
            <td class="text-center">@item.Unstablesignal</td>
            <td class="text-center">@item.Nonetwork</td>
            <td class="text-center">@item.Searchnetwork</td>
            <td class="text-center">@item.Noservice</td>
            <td class="text-center">@item.CantidentifySIMcard</td>
            <td class="text-center">@item.CantidentifyTorSDcard</td>
            <td class="text-center">@item.WiFidoesnotgetthesignal</td>
            <td class="text-center">@item.WiFidoesnotconnected</td>
            <td class="text-center">@item.CantdualSimdualstandby</td>
            <td class="text-center">@item.BTcanttransferfiles</td>
            <td class="text-center">@item.DataConnectionProblem</td>
            <td class="text-center">@item.Notcharging</td>
            <td class="text-center">@item.WarningBadContact</td>
            <td class="text-center">@item.Chargerindicatorlightabnormal</td>
            <td class="text-center">@item.Chargedoesnotstore</td>
            <td class="text-center">@item.LowBatteryshutdown</td>
            <td class="text-center">@item.Batteryexplosion</td>
            <td class="text-center">@item.Lowstandbytime</td>
            <td class="text-center">@item.Autocharge</td>
            <td class="text-center">@item.Displaylinemissing</td>
            <td class="text-center">@item.Flickerscreen</td>
            <td class="text-center">@item.Nobacklight</td>
            <td class="text-center">@item.Blackwhitedot</td>
            <td class="text-center">@item.Displaywhite</td>
            <td class="text-center">@item.DisplayBlack</td>
            <td class="text-center">@item.DisplayBlackDot</td>
            <td class="text-center">@item.Noringtonesound</td>
            <td class="text-center">@item.Lowringtonesound</td>
            <td class="text-center">@item.NoisySound</td>
            <td class="text-center">@item.Novibration</td>
            <td class="text-center">@item.Vibrationnoise</td>
            <td class="text-center">@item.Weakvibration</td>
            <td class="text-center">@item.Missingcomponents</td>
            <td class="text-center">@item.SIMCardbasebroken</td>
            <td class="text-center">@item.CameraHang</td>
            <td class="text-center">@item.Earphonenoise</td>
            <td class="text-center">@item.Cantuseearphone</td>
            <td class="text-center">@item.Nonsteadyhang</td>
            <td class="text-center">@item.Steadyhang</td>
            <td class="text-center">@item.Ioportliquiddamage</td>
            <td class="text-center">@item.Liquiddamage</td>
            <td class="text-center">@item.Displaybroken</td>
            <td class="text-center">@item.Firedamage</td>
            <td class="text-center">@item.Ioconnectorbroken</td>
            <td class="text-center">@item.Mainlensbroken</td>
            <td class="text-center">@item.SIMReaderbroken</td>
            <td class="text-center">@item.Uppershellbroken</td>
            <td class="text-center">@item.TouchPadBroken</td>
            <td class="text-center">@item.InvalidIMEI</td>
            <td class="text-center">@item.Phonepasswordblock</td>
            <td class="text-center">@item.ChargeNotStay</td>
            <td class="text-center">@item.HPSymbolShow</td>
            <td class="text-center">@item.KeypadProblem</td>
            <td class="text-center">@item.AutoPowerOnOff</td>
            <td class="text-center">@item.CameraProblem</td>
            <td class="text-center">@item.BatteryProblem</td>
            <td class="text-center">@item.MemoryNotFound</td>
            <td class="text-center">@item.AutoOff</td>
            <td class="text-center">@item.TouchLightProblem</td>
            <td class="text-center">@item.SoftwareProblem</td>
            <td class="text-center">@item.SpeakerProblem</td>
            <td class="text-center">@item.MicrophoneProblem</td>
            <td class="text-center">@item.ReceiverProblem</td>
            <td class="text-center">@item.AllCheck</td>
            <td class="text-center">@item.HeadPhoneSymbolShow</td>
            <td class="text-center">@item.GiftBoxDamage</td>
            <td class="text-center">@item.ChargerProblem</td>
            <td class="text-center">@item.BatteryCoverProblem</td>
            <td class="text-center">@item.TouchPadProblem</td>
            <td class="text-center">@item.LCDLanceBroken</td>
            <td class="text-center">@item.OverHeatProblem</td>
            <td class="text-center">@item.LEDKeyProblem</td>
            <td class="text-center">@item.LEDKeyMissing</td>
        </tr>
        }
    </tbody>
</table>