
@{
    ViewBag.Title = "Other Branch Requsition";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Other Branch T.S Requsition</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row text-sm">
                    <div class="col-md-2">
                        <label for="txtReqCode" class="control-label font-weight-bold">Requisition Code</label>
                        <input type="text" name="search" id="txtReqCode" class="form-control form-control-sm" placeholder="Search By Requisition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
                    </div>
                    <div class="col-md-4 hide">
                        <label for="ddlWarehouseName" class="control-label font-weight-bold">Warehouse Name</label>
                        @Html.DropDownList("ddlWarehouseName", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouseName, "--Select ServicesWarehouse--", new { @class = "form-control form-control-sm ctrl-changed" })
                        <span class="error hide required-warehouseName font-weight-bold">Required Warehouse Name!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlTechnicalServicesName" class="control-label font-weight-bold">TS Name</label>
                        @Html.DropDownList("ddlTechnicalServicesName", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName, "--Select TSName--", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="ddlStateStatus" class="control-label font-weight-bold">State Status</label>
                        @Html.DropDownList("ddlStateStatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm ctrl-changed" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">From Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">To Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm" id="dataContainer">
                        @{Html.RenderAction("AnotherBranchRequsitionPartialList");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade" id="modalRequsitionJobOrderDetails" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header alert-secondary">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdfRequsitionDetailId" />
                    <input type="hidden" id="hdfRowIndex" />
                    <h4 id="modalHeading" class="modal-title">
                        Requsition For Job Order Details
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="dataContainer1">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfRequstionDetailForJobOrderId = $("#hdfRequstionDetailForJobOrderId");
        var ddlWarehouseName = $("#ddlWarehouseName");
        var txtReqCode = $("#txtReqCode");
        var ddlStateStatus = $("#ddlStateStatus");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var hdfJobCodeId = $("#hdfJobCodeId");
        var hdfRequsitionDetailId = $("#hdfRequsitionDetailId");
        var hdfRowIndex = $("#hdfRowIndex");
        var ddlTechnicalServicesName = $("#ddlTechnicalServicesName");
        var pageNo = 1;

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
        })

        txtReqCode.keyup(function () {
            LoadDataTable();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTable();
        })
        ddlTechnicalServicesName.change(function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { reqCode: txtReqCode.val().trim(), warehouseId: TryParseInt(ddlWarehouseName.val(), 0), tsId: TryParseInt(ddlTechnicalServicesName.val(), 0), status: ddlStateStatus.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), page: pageNo };

            $.when(getReqWithData('html', 'GET', '/FrontDesk/AnotherBranchRequsitionPartialList', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
            pageNo = 1;
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTable();
            }
        })

        function OpenModalDetails() {
            clearCtr()
            $("#modalRequsitionJobOrderDetails").modal("show");
            $("#dataContainer1").empty();
            hdfRequsitionDetailId.val('0');
            hdfRowIndex.val("");
        }

        $(document).on("click", "a.data-item-details2", function (e) {
            e.preventDefault();
            OpenModalDetails()
            var data = {
                requsitionInfoId: TryParseInt($(this).attr("data-item-details2"), 0)
            };
            var idx = $(this).parent().parents('tr').index();
            $.when(getReqWithData('html', 'GET', '/FrontDesk/AnotherBranchRequsitionDetails', data)).then(function (res, status) {
                if (status == "success") {
                    hdfRequsitionDetailId.val(data.requsitionInfoId);
                    hdfRowIndex.val(idx)
                    $("#dataContainer1").empty();
                    $("#dataContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
            clearCtr()
        })
        function clearCtr() {
            hdfRequsitionDetailId.val('0');
            hdfRowIndex.val('0');
        }
        ////////Warehouse Stock Out
        $(document).on('click', ".btnPending2", function (e) {
            e.preventDefault();
            fnRequisitionStateChange(hdfRequsitionDetailId.val(), hdfRowIndex.val(), reqStatus.pending);
        })
        $(document).on('click', ".btnReject2", function (e) {
            e.preventDefault();
            fnRequisitionStateChange(hdfRequsitionDetailId.val(), hdfRowIndex.val(), reqStatus.reject);
        })
        $(document).on('click', ".btnIssue2", function (e) {
            e.preventDefault();
            fnRequisitionStateChange(hdfRequsitionDetailId.val(), hdfRowIndex.val(), reqStatus.approved);
        })

        function fnRequisitionStateChange(id, index, status) {
            if (id > 0) {
                var data = JSON.stringify({ reqId: id, status: status })
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/FrontDesk/TSSaveRequisitionStatus', data, getToken())).then(function (res, status) {
                    if (status == "success" && res === true) {
                        $("#modalRequsitionJobOrderDetails").modal("toggle").toggle("fast");
                        hdfRequsitionDetailId.val('0');
                        hdfRowIndex.val("");
                        removeTableRow("#tblRequsitionInfoForJobOrder tbody", index);
                        $('.toastrReqSuccess').trigger('click');
                        setTimeout(function () {
                        }, 1500);
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }
        }

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}

