
@{
    ViewBag.Title = "Invoice Accessories Sells";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <a href="/FrontDesk/GetJobOrders" class="btn btn-sm btn-outline-primary" title="Back To List"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-center">Inovoice For Accessories Sales</h4>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-outline-danger btn-sm float-lg-right" id="btnReset" title="RESET UI"><i class="fas fa-sync-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-sm">
    <div class="col-md-8">
        <div class="card card-secondary shadow">
            <form id="salesAccessories">
                @Html.AntiForgeryToken()
                <div class="card-body shadow">
                    <div class="row" style="border-bottom:1px solid #cecece">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptSellsDate" placeholder="Sales Date" />
                                <div class="input-group-prepend cursor-pointer remove-date dptSellsDate" style="cursor:pointer">
                                    <span class="input-group-text">&#10008;</span>
                                </div>
                            </div>
                            <span class="error hide require-dptSellsDate font-weight-bold">Sales date No is required !</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtCustomer" class="control-label font-weight-bold">Customer Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            <input type="text" class="form-control form-control-sm" id="txtCustomer" />
                            <span class="error hide require-customer font-weight-bold">Name is required !</span>
                        </div>
                        <div class="col-md-3">
                            <label for="txtMobileNumber" class="control-label font-weight-bold">Mobile Number<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            <input type="text" class="form-control form-control-sm" id="txtMobileNumber" />
                            <span class="error hide require-mobile font-weight-bold">Mobile No is required !</span>
                        </div>
                        <div class="col-md-3">
                            <label for="txtEmail" class="control-label font-weight-bold">Email</label>
                            <input type="email" class="form-control form-control-sm" id="txtEmail" />
                        </div>
                        <div class="col-md-3">
                            <label for="txtAddress" class="control-label font-weight-bold">Address</label>
                            <textarea id="txtAddress" class="form-control form-control-sm" cols="10" rows="1"></textarea>
                            <span class="error hide require-address font-weight-bold">Mobile No is required !</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="ddlSellType" class="control-label font-weight-bold">Sale Type<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            <select class="form-control form-control-sm select2" id="ddlSellType">
                                <option value="">--Select--</option>
                                <option value="Good">Good</option>
                                <option value="Faulty">Faulty</option>
                                <option value="Handset">Handset</option>
                            </select>
                            <span class="error hide req-sellType">Input Sale Type!</span>
                        </div>
                        <div class="col-md-2" id="partsModel">
                            <label for="ddlPartsModelName" class="control-label font-weight-bold">Model<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlPartsModelName", (IEnumerable<SelectListItem>)ViewBag.ddlPartsModelName, "--Select--", new { @class = "form-control form-control-sm select2" })
                            <span class="error hide require-partsModel font-weight-bold">Model is required !</span>
                            <span class="error hide require-duplicate-parts font-weight-bold">Parts is Added!</span>
                        </div>
                        <div class="col-md-2" id="divParts">
                            <label for="ddlMobileParts" class="control-label font-weight-bold">Parts Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlMobileParts", (IEnumerable<SelectListItem>)ViewBag.ddlMobileParts, "--Select Parts--", new { @class = "form-control form-control-sm select2" })
                            <span class="error hide require-mobileParts font-weight-bold">Parts is required !</span>
                            <span class="error hide require-duplicate-parts font-weight-bold">Parts is Added!</span>
                        </div>
                        <div class="col-md-2" id="divFaultyParts">
                            <label for="ddlFaultyMobileParts" class="control-label font-weight-bold">Parts Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlFaultyMobileParts", (IEnumerable<SelectListItem>)ViewBag.ddlFaultyMobileParts, "--Select Parts--", new { @class = "form-control form-control-sm select2" })
                            <span class="error hide require-mobileParts font-weight-bold">Parts is required !</span>
                            <span class="error hide require-duplicate-parts font-weight-bold">Parts is added!</span>
                        </div>
                        <div class="col-md-3" id="divModel">
                            <label for="ddlHandset" class="control-label font-weight-bold">Scan IMEI<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @*@Html.DropDownList("ddlHandset", (IEnumerable<SelectListItem>)ViewBag.ddlHandset, "--Select Model--", new { @class = "form-control form-control-sm select2" })*@
                            <input type="text" placeholder="SCANNING" name="IMEI" id="txtIMEI" class="form-control form-control-sm" />
                            <span class="error hide require-mobile-model font-weight-bold">IMEI is required !</span>
                            <span class="error hide require-mobile-imei font-weight-bold">IMEI must 15 digit!</span>
                            <span class="error hide require-duplicate-imei font-weight-bold">IMEI is added !</span>
                            <span class="error hide stock-imei font-weight-bold">IMEI is not in Stock !</span>
                        </div>
                        <div class="col-md-2" id="divSellPriceForParts">
                            <label for="ddlsellsPrice" class="control-label font-weight-bold">Sales Price<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlsellsPrice", (IEnumerable<SelectListItem>)ViewBag.ddlsellsPrice, "--Select--", new { @class = "form-control form-control-sm" })
                            <span class="error hide require-sellPrice font-weight-bold">Price is required !</span>
                        </div>
                        <div class="col-md-2" id="divSellPriceForHandset">
                            <label for="txtSellPriceForHandset" class="control-label font-weight-bold">Sales Price<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            <input type="number" placeholder="Sell Price" name="SellPrice" id="txtSellPriceForHandset" class="form-control form-control-sm" />
                            <span class="error hide require-sellPrice font-weight-bold">Price is required !</span>
                        </div>
                        <div class="col-md-2">
                            <label for="txtQty" class="control-label font-weight-bold">Qty.<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup><span id="stockQty" class="font-weight-bold mt-2 stockQty" style="color:red"></span></label>
                            <div class="input-group">
                                <div class="col-sm-12">
                                    <input type="number" placeholder="Qty" name="quantity" id="txtQty" class="form-control form-control-sm" />
                                </div>
                                <span id="unitName" class="font-weight-bold mt-3" style="color:darkblue"> </span>
                            </div>
                            <span class="error hide required-qty font-weight-bold">Qty. is required !</span>
                        </div>
                        <div class="col-md-1">
                            <label for="" class="control-label font-weight-bold" style="visibility:hidden"> Add</label>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-sm btn-outline-warning float-left mr-1" id="btnAddToList" title="ADD TO LIST"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblAccessorieSells">
                                                <thead>
                                                    <tr class="btn-dark text-center">
                                                        <th>#SL</th>
                                                        <th class="hide"></th>
                                                        <th class="hide"></th>
                                                        <th>Model</th>
                                                        <th>Parts/IMEI</th>
                                                        <th>SalesPrice</th>
                                                        <th>Qty.</th>
                                                        <th class="hide"></th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-secondary shadow">
            <form>
                <div class="card-body shadow">
                    <div class="row">
                        <div class="col-md-6 hide">
                            <label for="txtWarrenty" class="control-label font-weight-bold">Warrenty For(Month)</label>
                            @*<input type="number" class="form-control form-control-sm" id="txtWarrenty" />*@
                            <select class="form-control form-control-sm" id="txtWarrenty">
                                <option value="3">3</option>
                                <option value="6">6</option>
                                <option value="12" selected>12</option>
                                <option value="18">18</option>
                                <option value="24">24</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="txtVAT" class="control-label font-weight-bold">VAT</label>
                            <input type="number" class="form-control form-control-sm" id="txtVAT" />
                            <span class="error hide require-VAT font-weight-bold">Customer name is required !</span>
                        </div>
                        <div class="col-md-6">
                            <label for="txtTAX" class="control-label font-weight-bold">TAX</label>
                            <input type="number" class="form-control form-control-sm" id="txtTAX" />
                            <span class="error hide require-TAX font-weight-bold">Mobile No is required !</span>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label for="txtDiscount" class="control-label font-weight-bold">Discount</label>
                            <input type="number" class="form-control form-control-sm" id="txtDiscount" />
                            <span class="error hide require-discount font-weight-bold">Customer name is required !</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtDiscount" class="control-label font-weight-bold" style="visibility:hidden">Discount</label>
                            <button type="submit" id="btnInvoiceSubmit" class="btn btn-sm btn-success float-right" title="Submit the form for save"><i class="fas fa-paper-plane"></i> Save </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var txtSellPriceForHandset = $("#txtSellPriceForHandset");
        var ddlSellType = $("#ddlSellType");
        var txtIMEI = $("#txtIMEI");
        var dptSellsDate = $("#dptSellsDate");
        var txtCustomer = $("#txtCustomer");
        var txtMobileNumber = $("#txtMobileNumber");
        var txtEmail = $("#txtEmail");
        var txtAddress = $("#txtAddress"); 
        var ddlMobileParts = $("#ddlMobileParts");
        var ddlFaultyMobileParts = $("#ddlFaultyMobileParts");
        var ddlsellsPrice = $("#ddlsellsPrice");
        var txtQty = $("#txtQty");
        var txtWarrenty = $("#txtWarrenty");
        var txtVAT = $("#txtVAT");
        var txtTAX = $("#txtTAX");
        var txtDiscount = $("#txtDiscount");
        var stockQty = $("#stockQty");
        var modelId = '';
        var colorId = '';
        var ddlPartsModelName = $("#ddlPartsModelName");

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptSellsDate.prop('readonly', true);
            dptSellsDate.css("background-color", "#fff");
            $('#dptSellsDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            var date = new Date();
            var thisDate = date.getDate() + ' ' + getMonthName(date.getMonth() + 1, "MM") + " " + date.getFullYear();
            $('#dptSellsDate').val(thisDate)
            $('#dptSellsDate').trigger('change');

            $("#divParts").hide();
            $("#divFaultyParts").hide();
            $("#divModel").hide(); 
            $("#divSellPriceForParts").hide();
            $("#divSellPriceForHandset").hide();
        })

        ddlSellType.change(function () {
            if (ddlSellType.val() === "") {
                $("#divFaultyParts").hide();
                $("#divParts").hide();
                $("#divModel").hide();
                $("#divSellPriceForParts").hide();
                $("#divSellPriceForHandset").hide();
                ddlMobileParts.val('');
                ddlMobileParts.trigger("change");
                ddlFaultyMobileParts.val('');
                ddlFaultyMobileParts.trigger("change");
                txtIMEI.val('');
                //ddlHandset.trigger("change");
                ddlsellsPrice.val('');
                ddlsellsPrice.trigger("change");
                txtSellPriceForHandset.val('');
                txtQty.val('');
                enable("#txtQty");
            }
            else if (ddlSellType.val() === "Handset") {
                $("#divParts").hide();
                $("#divModel").show();
                $("#divFaultyParts").hide();
                $("#divSellPriceForParts").hide();
                $("#divSellPriceForHandset").show();
                ddlFaultyMobileParts.val('');
                ddlFaultyMobileParts.trigger("change");
                ddlMobileParts.val('');
                ddlMobileParts.trigger("change");
                ddlsellsPrice.val('');
                ddlsellsPrice.trigger("change");
                txtQty.val('1');
                disable("#txtQty");
                txtIMEI.val('');
                txtIMEI.focus();
            }
            else if (ddlSellType.val() === "Faulty") {
                $("#divFaultyParts").show();
                $("#divParts").hide();
                $("#divModel").hide();
                $("#divSellPriceForParts").show();
                $("#divSellPriceForHandset").hide();
                ddlMobileParts.val('');
                ddlMobileParts.trigger("change");
                txtIMEI.val('');
                //ddlHandset.trigger("change");
                txtSellPriceForHandset.val('');
                txtQty.val('');
                enable("#txtQty");
                
            }
            else if (ddlSellType.val() === "Good") {
                $("#divFaultyParts").hide();
                $("#divParts").show();
                $("#divModel").hide();
                $("#divSellPriceForParts").show();
                $("#divSellPriceForHandset").hide();
                ddlFaultyMobileParts.val('');
                ddlFaultyMobileParts.trigger("change");
                txtIMEI.val('');
                //ddlHandset.trigger("change");
                txtSellPriceForHandset.val('');
                txtQty.val('');
                enable("#txtQty");
            }
        })

        //txtIMEI.change(function () {
        //    if ($.trim(txtIMEI.val()) != "" && $.trim(txtIMEI.val()).length == 15) {
        //        if (ajaxBooleanChecker(JSON.stringify({ imei: $.trim(txtIMEI.val()) }), '/Common2/IsExistsInHandsetStock', getToken()) == false) {
        //            $(".stock-imei").removeClass("hide");
        //            isValid = false;
        //        }
        //    }
        //})

        //function GetModelIdAndColorId() {
        //    modelId = '';
        //    colorId = '';
        //    if (ddlHandset.val() != '') {
        //        modelId = ddlHandset.val().substring(0, ddlHandset.val().indexOf("#"));
        //        colorId = ddlHandset.val().substring(ddlHandset.val().lastIndexOf("#") + 1);
        //    }
        //}

        ddlMobileParts.change(function () {
            $("#stockQty").text('');
            if (ddlMobileParts.val() != "") {
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Common2/GetStockForAccessoriesSells', JSON.stringify({ partsId: ddlMobileParts.val(), modelId: ddlPartsModelName.val() }), getToken())).then(function (res, status) {
                    console.log(res);
                    console.log(status);
                    if (status == "success") {
                        $("#stockQty").text('(' + res + ')');
                    }
                }).fail(function (error) {
                    consoleLog(error);
                })
            }

        })

        //casced dropdown load for CostPrice
        ddlMobileParts.change(function () {
            clearDropdown("ddlsellsPrice");
            if (ddlMobileParts.val() != "") {
                LoadDropDown('/Common2/GetSellPriceForDDL', 'POST', ddlsellsPrice, JSON.stringify({ partsId: ddlMobileParts.val(), modelId: ddlPartsModelName.val() }));
            }
        })
        ddlFaultyMobileParts.change(function () {
            clearDropdown("ddlsellsPrice");
            if (ddlFaultyMobileParts.val() != "") {
                LoadDropDown('/Common2/GetFaultyStockSellPriceForDDL', 'POST', ddlsellsPrice, JSON.stringify({ partsId: TryParseInt(ddlFaultyMobileParts.val(), 0), modelId: ddlPartsModelName.val() }));
            }
        })
        ddlFaultyMobileParts.change(function () {
            $("#stockQty").text('');
            if (ddlFaultyMobileParts.val() != "") {
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Common2/GetFaultyStockForAccessoriesSells', JSON.stringify({ partsId: TryParseInt(ddlFaultyMobileParts.val(), 0), modelId: ddlPartsModelName.val() }), getToken())).then(function (res, status) {
                    if (status == "success") {
                        $("#stockQty").text('(' + res + ')');
                    }
                }).fail(function (error) {
                    consoleLog(error);
                })
            }

        })

        function validateInput() {
            $('.error').addClass('hide');
            var isValid = true;
            var count = $("#tblAccessorieSells tbody tr").length;
            if (count > 0) {
                $.each($("#tblAccessorieSells tbody tr"), function (index, item) {
                    var partsId = $(this).children('td').eq(2).html();
                    var sellType = $(this).children('td').eq(1).html();
                    if (partsId == ddlMobileParts.val() && sellType == ddlSellType.val()) {
                        isValid = false;
                        $(".require-duplicate-parts").removeClass('hide');
                    }
                    if (partsId == ddlFaultyMobileParts.val() && sellType == ddlSellType.val()) {
                        isValid = false;
                        $(".require-duplicate-parts").removeClass('hide');
                    }
                    if (partsId == txtIMEI.val() && sellType == ddlSellType.val()) {
                        isValid = false;
                        $(".require-duplicate-imei").removeClass('hide');
                    }
                })
            }
            if ($.trim(txtCustomer.val()) == "") {
                $(".require-customer").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtMobileNumber.val()) == "") {
                $(".require-mobile").removeClass("hide");
                isValid = false;
            }
            if ($.trim(ddlPartsModelName.val()) == "") {
                $(".require-partsModel").removeClass("hide");
                isValid = false;
            }
            if (TryParseInt(txtMobileNumber.val(), 0) <= 0) {
                isValid = false;
                $(".require-mobile").removeClass("hide");
            }
            //if (TryParseInt(ddlMobileParts.val(), 0) <= 0) {
            //    isValid = false;
            //    $(".require-mobileParts").removeClass("hide");
            //}
            //if (TryParseInt(ddlsellsPrice.val(), 0) <= 0) {
            //    isValid = false;
            //    $(".require-sellPrice").removeClass("hide");
            //}
            if (txtQty.val() == "" || TryParseInt(txtQty.val(), 0) <= 0) {
                isValid = false;
                $(".required-qty").removeClass("hide");
            }
            if (ddlSellType.val() == "") {
                isValid = false;
                $(".req-sellType").removeClass("hide");
            }
            else if (ddlSellType.val() == "Good") {
                if (TryParseInt(ddlMobileParts.val(), 0) <= 0) {
                    isValid = false;
                    $(".require-mobileParts").removeClass("hide");
                }
                if (TryParseInt(ddlsellsPrice.val(), 0) <= 0) {
                    isValid = false;
                    $(".require-sellPrice").removeClass("hide");
                }
            }
            else if (ddlSellType.val() == "Faulty") {
                if (TryParseInt(ddlFaultyMobileParts.val(), 0) <= 0) {
                    isValid = false;
                    $(".require-mobileParts").removeClass("hide");
                }
                if (TryParseInt(ddlsellsPrice.val(), 0) <= 0) {
                    isValid = false;
                    $(".require-sellPrice").removeClass("hide");
                }
            }
            else if (ddlSellType.val() == "Handset") {
                //GetModelIdAndColorId();
                if ($.trim(txtIMEI.val()) == "") {
                    isValid = false;
                    $(".require-mobile-model").removeClass("hide");
                }
                else if ($.trim(txtIMEI.val()).length != 15) {
                    isValid = false;
                    $(".require-mobile-imei").removeClass("hide");
                }
                if (TryParseInt(txtSellPriceForHandset.val(), 0) <= 0) {
                    isValid = false;
                    $(".require-sellPrice").removeClass("hide");
                }
                if ($.trim(txtIMEI.val()) != "" && $.trim(txtIMEI.val()).length == 15) {
                    if (ajaxBooleanChecker(JSON.stringify({ imei: $.trim(txtIMEI.val()) }), '/Common2/IsExistsInHandsetStock', getToken()) == false) {
                        $(".stock-imei").removeClass("hide");
                        isValid = false;
                    }
                }
            }
            return isValid;
        }

        $("#btnReset").click(function (e) {
            e.preventDefault();
            $('.error').addClass('hide');
            enable("#txtCustomer");
            enable("#txtMobileNumber");
            enable("#txtEmail");
            enable("#txtAddress");
            txtAddress.val('');
            txtCustomer.val('');
            txtMobileNumber.val('');
            txtEmail.val('');
            ddlMobileParts.val('');
            ddlMobileParts.trigger("change");
            ddlFaultyMobileParts.val('');
            ddlFaultyMobileParts.trigger("change");
            ddlsellsPrice.val('');
            ddlsellsPrice.trigger("change");
            txtIMEI.val('');
            //ddlHandset.trigger("change");
            ddlSellType.val('');
            ddlSellType.trigger("change");
            txtQty.val('');
            stockQty.val('');
            $("#tblAccessorieSells tbody").empty();
        })
        $("#btnAddToList").click(function (e) {
            e.preventDefault();
            if (validateInput() == true) {
                disable("#txtCustomer");
                disable("#txtMobileNumber");
                disable("#txtEmail");
                disable("#txtAddress");
                disable("#ddlSellType");
                disable("#ddlPartsModelName");
                var sl = $("#tblAccessorieSells tbody tr").length;
                var td1 = "<td class='text-center text-bold'>" + (sl + 1) + "</td>"
                var td2 = "<td class='hide'>" + ddlMobileParts.val() + "</td>";
                var td3 = "<td class='text-center'>" + $("#ddlMobileParts option:selected").text() + "</td>";
                var td4 = "<td class='hide'>" + ddlFaultyMobileParts.val() + "</td>";
                var td5 = "<td class='text-center'>" + $("#ddlFaultyMobileParts option:selected").text() + "</td>";
                var td6 = "<td class='hide'>" + txtIMEI.val() + "</td>";
                var td7 = "<td class='text-center'>" + /*$("#ddlHandset option:selected").text()*/txtIMEI.val() + "</td>";
                var td8 = "<td class='text-center'>" + ddlsellsPrice.val() + "</td>";
                var td9 = "<td class='text-center'>" + txtSellPriceForHandset.val() + "</td>";
                var td10 = "<td class='text-center'>" + txtQty.val() + "</td>";
                var td11 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> </a></td>";
                var td12 = "<td class='text-center hide'>" + ddlSellType.val() + "</td>";

                var td13 = "<td class='hide'>" + ddlPartsModelName.val() + "</td>";
                var td14 = "<td class='text-center'>" + $("#ddlPartsModelName option:selected").text() + "</td>";

                if (TryParseInt(ddlMobileParts.val(), 0) > 0) {
                    var tr = "<tr>" + td1 + td12 + td13 + td14 + td2 + td3 + td8 + td10 + td6 + td11 + "</tr>";
                    if ($("#tblAccessorieSells tbody tr").length == 0) {
                        $("#tblAccessorieSells tbody").append(tr);
                    }
                    else {
                        $("#tblAccessorieSells tbody tr").eq(0).before(tr);
                    }
                    clearCtrl();
                }
                if (TryParseInt(ddlFaultyMobileParts.val(), 0) > 0) {
                    var tr = "<tr>" + td1 + td12 + td13 + td14 + td4 + td5 + td8 + td10 + td6 + td11 + "</tr>";
                    if ($("#tblAccessorieSells tbody tr").length == 0) {
                        $("#tblAccessorieSells tbody").append(tr);
                    }
                    else {
                        $("#tblAccessorieSells tbody tr").eq(0).before(tr);
                    }
                    clearCtrl();
                }
                if ($.trim(txtIMEI.val()) != "" && $.trim(txtIMEI.val()).length == 15) {
                    var tr = "<tr>" + td1 + td12 + td13 + td14 + td6 + td7 + td9 + td10+ td6 + td11 + "</tr>";
                    if ($("#tblAccessorieSells tbody tr").length == 0) {
                        $("#tblAccessorieSells tbody").append(tr);
                    }
                    else {
                        $("#tblAccessorieSells tbody tr").eq(0).before(tr);
                    }
                    clearCtrl();
                }

                //var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + "</tr>";
                //if ($("#tblAccessorieSells tbody tr").length == 0) {
                //    $("#tblAccessorieSells tbody").append(tr);
                //}
                //else {
                //    $("#tblAccessorieSells tbody tr").eq(0).before(tr);  
                //}
                //clearCtrl();
            }
        });
        function clearCtrl() {
            ddlMobileParts.val('');
            ddlMobileParts.trigger("change");
            ddlFaultyMobileParts.val('');
            ddlFaultyMobileParts.trigger("change");
            ddlsellsPrice.val('');
            //ddlPartsModelName.val('');
            //ddlPartsModelName.trigger("change");
            
            txtQty.val('');
            stockQty.val('0');
            txtIMEI.val('');
            txtIMEI.focus();
            txtSellPriceForHandset.val('');
        }
        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            if (bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result === true) {
                    removeTableRow("#tblAccessorieSells tbody", index);
                    fnFixTheTbodyRowSerialInDecsOrder("#tblAccessorieSells", index);
                };
            }));
        })

         $("#btnInvoiceSubmit").click(function (e) {
             e.preventDefault();
             if ($("#tblAccessorieSells tbody tr").length > 0) {
                 $(".error").addClass("hide");
                bootbox.confirm("Are you sure you want to save?", function (result) {
                    if (result) {
                        var info = {

                            CustomerName: txtCustomer.val(),
                            CustomerPhone: txtMobileNumber.val(),
                            Email: txtEmail.val(),
                            Address: txtAddress.val(),
                            WarrentyFor: TryParseInt( txtWarrenty.val(),0),
                            VAT: TryParseFloat(txtVAT.val(), 0.00),
                            Tax: TryParseFloat(txtTAX.val(), 0.00),
                            Discount: TryParseFloat(txtDiscount.val(), 0.00),
                        };

                        var details = []; details.length = 0;
                        if ($("#tblAccessorieSells tbody").length > 0) {
                            $.each($("#tblAccessorieSells tbody tr"), function (index, item) {
                                var tds = $(this).children('td');
                                var saleType = tds.eq('1').html();
                                var pModelId = tds.eq('2').html();
                                var pModelName = tds.eq('3').html();
                                if (saleType == "Handset") {
                                    var imei = tds.eq('4').html();
                                    var partsId = "";
                                    var pName = "IMEI: " + tds.eq('5').html();
                                }
                                else {
                                    var partsId = tds.eq('4').html();
                                    var imei = "";
                                    var pName = tds.eq('5').html();
                                }                               
                                var price = tds.eq('6').html();
                                var qty = tds.eq('7').html();
                                details.push({
                                    InvoiceDetailId: 0,
                                    SalesType: saleType,
                                    PartsId: TryParseInt(partsId, 0),
                                    PartsName: pName,
                                    ModelId: TryParseInt(pModelId, 0),
                                    ModelName: pModelName,
                                    IMEI: imei,
                                    Quantity: TryParseInt(qty, 0),
                                    SellPrice: TryParseFloat(price, 0),
                                    Total: (price * qty),
                                })
                            });
                            
                        }
                        
                        var data = JSON.stringify({ info: info, details: details});
                        console.log("Invoice");
                        console.log(data);
                      //return console.log(data);
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/FrontDesk/SaveInvoiceForAccessoriesSells', data, getToken())).then(function (res, status) {
                            console.log(res);
                            console.log(status);
                           // enable("#btnSubmit");
                            if (res == true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                setTimeout(function () {
                            redirectPage('@Url.Action("GetJobOrders",new { tab = "AccessoriesSells" })');
                        }, 1000);
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                        }).fail(function (error) {
                            consoleLog(error)
                        })
                    }
                });
             }
        });
        function redirectPage(page) {
            window.location.replace(page);
        }

    </script>
    }