
@{
    ViewBag.Title = "Job Order Reports";
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Job Order List Report</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row">
                    @using (Html.BeginForm("GetJobOrderReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                    {
                        <div class="col-md-12 text-sm">
                            <form method="get">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-form-label">Job Code</label>
                                        <input type="text" name="jobCode" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label">Model</label>
                                        @Html.DropDownList("modelId", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Search By Model--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label">IMEI1</label>
                                        <input type="text" id="txtIMEINo" name="iMEI" class="form-control form-control-sm" placeholder="Search By IMEI1" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label">IMEI2</label>
                                        <input type="text" id="txtIMEI2No" name="iMEI2" class="form-control form-control-sm" placeholder="Search By IMEI2" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label">Mobile No</label>
                                        <input type="text" id="txtMobileNo" name="mobileNo" class="form-control form-control-sm" placeholder="Search By Mobile" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label">Job Status</label>
                                        @Html.DropDownList("jobstatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">Customer Type</label>
                                        @Html.DropDownList("ddlCustomerType", (IEnumerable<SelectListItem>)ViewBag.ddlCustomerType, "--Search By CustomerType--", new { @class = "form-control form-control-sm ctrl-changed " })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">Job Type</label>
                                        @Html.DropDownList("ddlJobType", (IEnumerable<SelectListItem>)ViewBag.ddlJobType, "--Search By Job Type--", new { @class = "form-control form-control-sm ctrl-changed " })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">From Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" name="fromDate" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">To Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" name="toDate" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="rptType">Report Type</label>
                                        <select name="rptType" id="rptType" class="form-control form-control-sm">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="Download" style="visibility:hidden">Download</label>
                                        <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"> </i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 mt-3 text-sm" id="dataContainer" style="overflow-y:scroll">
                            @{Html.RenderAction("GetJobOrders", new { @flag = "view" });}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var pageNo = 1;
        var modelId = $("#modelId");
        var txtMobileNo = $("#txtMobileNo");
        var jobstatus = $("#jobstatus");
        var txtJobCode = $("#txtJobCode");
        var hdfJobOrderId = $("#hdfJobOrderId");
        var txtIMEINo = $("#txtIMEINo");
        var txtIMEI2No = $("#txtIMEI2No");
        var ddlCustomerType = $("#ddlCustomerType");
        var ddlJobType = $("#ddlJobType");
        //
        //
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        //
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            $('.action').addClass('hide');

        })

        txtMobileNo.keyup(function () {
            LoadDataTable();

        })

        txtJobCode.keyup(function () {
            LoadDataTable();
        })

        txtIMEINo.keyup(function () {
            LoadDataTable();
        })
        txtIMEI2No.keyup(function () {
            LoadDataTable();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { flag: "search", modelId: TryParseInt(modelId.val(), 0), jobOrderId: 0, mobileNo: $.trim(txtMobileNo.val()), status: jobstatus.val(), jobCode: txtJobCode.val(), iMEI: txtIMEINo.val(), iMEI2: txtIMEI2No.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), customerType: ddlCustomerType.val(), jobType: ddlJobType.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/GetJobOrders', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                        $('.action').addClass('hide');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

            pageNo = 1;
        }

        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTable();
            }
        })

        // View Job Order
        $(document).on('click', 'a.data-item-details', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-details");
            getJobOrderDetail("Detail",id);
        })
        //Ts Work Details
        $(document).on('click', 'a.data-item-tsWork', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-tsWork");
            getJobOrderDetail("TSWork", id);
        })

        // assign a T.S.
        $(document).on('click', 'a.data-item-assignTS', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-assignTS");
            getJobOrderDetail("Assign", id);
        })

        function getJobOrderDetail(flag, id) {
            hdfJobOrderId.val("0");
            if (TryParseInt(id) > 0) {
                hdfJobOrderId.val(id)
                var data = { flag: flag, modelId: 0, jobOrderId: id, mobileNo: '', status: "", jobCode: "", page: 1 };

                console.log(data);
                $.when(getReqWithData('html', 'GET', '/FrontDesk/GetJobOrders', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                        $("#modalJobOrderDetails").modal("show");
                    }
                }).fail(function (error) {
                    console.log(error);
                });
            }
        }

        //// Report
        //$("#btnReport").click(function (e) {
        //    e.preventDefault();
        //    var data = JSON.stringify({ flag: "search", modelId: TryParseInt(ddlModelName.val(), 0), jobOrderId: 0, mobileNo: $.trim(txtMobileNo.val()), status: ddlStateStatus.val(), jobCode: txtJobCode.val(), iMEI: txtIMEINo.val(), iMEI2: txtIMEI2No.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val()});
        //     console.log(data)
        //    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/ReportSS/GetJobOrderReport', data, getToken())).then(function (res, status) {
        //        console.log(res.IsSuccess);
        //        if (res.IsSuccess === true) {
        //            var pdfWindow = window.open("", "_blank")
        //            console.log(res.File);
        //            pdfWindow.document.write("<embed  width='100%' height='100%' src='" + res.File + "'></embed >"); // Preview
        //            download(res.File, res.FileName, "application/pdf"); // Download
        //        }
        //    }).fail(function (error) {
        //        console.log(error);
        //    })
        //})
       
        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}

