
@{
    ViewBag.Title = "Job Order List";
}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-pills" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-jobOrderList-tab" data-toggle="pill" href="#custom-tabs-two-jobOrderList" role="tab" aria-controls="custom-tabs-two-jobOrderList" aria-selected="true">Job Order List</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card-body shadow">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-jobOrderList" role="tabpanel" aria-labelledby="custom-tabs-two-jobOrderList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Job Order List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        <div class="row text-sm">
                                            <div class="col-md-2">
                                                <label class="col-form-label">Job Code</label>
                                                <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label">Model</label>
                                                @Html.DropDownList("ddlModelName", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "Search By Model", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label">IMEI1</label>
                                                <input type="text" id="txtIMEINo" class="form-control form-control-sm" placeholder="Search By IMEI1" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label">IMEI2</label>
                                                <input type="text" id="txtIMEI2No" class="form-control form-control-sm" placeholder="Search By IMEI2" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label">Mobile No</label>
                                                <input type="text" id="txtMobileNo" class="form-control form-control-sm" placeholder="Search By Mobile" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="col-form-label">Job Status</label>
                                                @Html.DropDownList("ddlStateStatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                                            </div>
                                        </div>
                                        <div class="row text-sm">
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">Customer Type</label>
                                                @Html.DropDownList("ddlCustomerType", (IEnumerable<SelectListItem>)ViewBag.ddlCustomerType, "--Search By CustomerType--", new { @class = "form-control form-control-sm ctrl-changed " })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">Job Type</label>
                                                @Html.DropDownList("ddlJobType", (IEnumerable<SelectListItem>)ViewBag.ddlJobType, "--Search By Job Type--", new { @class = "form-control form-control-sm ctrl-changed " })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">Receive Id</label>
                                                <input type="text" id="txtReceiveId" class="form-control form-control-sm" placeholder="Search By Receive Id" name="recId" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">From Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold">To Date</label>
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label font-weight-bold" style="visibility:hidden">To Dateeeeeee</label>
                                                <button type="button" class="btn float-lg-right btn-sm btn-success" id="btnSubmitMDelivery">Submit  <i class="fas fa-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                                                @{Html.RenderAction("GetJobOrderListForDelivery", new { @flag = "view" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInvoice" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Invoice</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmInvoice">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="txtLabourCharge" class="control-label font-weight-bold">Labour Charge</label>
                            <input type="number" name="labourCharge" value="" id="txtLabourCharge" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtVat" class="control-label font-weight-bold">VAT</label>
                            <input type="number" name="vat" value="" id="txtVat" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtTax" class="control-label font-weight-bold">Tax</label>
                            <input type="number" name="tax" value="" id="txtTax" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtDiscount" class="control-label font-weight-bold">Discount</label>
                            <input type="number" name="discount" value="" id="txtDiscount" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                        <div class="modal-body" id="dataContainer1">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnInvoiceSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //JobOrder
        var pageNo = 1;
        var ddlModelName = $("#ddlModelName");
        var txtMobileNo = $("#txtMobileNo");
        var ddlStateStatus = $("#ddlStateStatus");
        var txtJobCode = $("#txtJobCode");
        var hdfJobOrderId = $("#hdfJobOrderId");
        var txtIMEINo = $("#txtIMEINo");
        var txtIMEI2No = $("#txtIMEI2No");
        var txtReceiveId = $("#txtReceiveId");
        //JobOrderInvoice
        var txtLabourCharge = $("#txtLabourCharge");
        var txtVat = $("#txtVat");
        var txtTax = $("#txtTax");
        var txtDiscount = $("#txtDiscount");
        var txtRemarks = $("#txtRemarks");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        //Accessories Sells Invoice
        var dptFromDate2 = $("#dptFromDate2");
        var dptToDate2 = $("#dptToDate2");
        var txtInvoice = $("#txtInvoice");
        var txtMobileNo2 = $("#txtMobileNo2");
        var ddlCustomerType = $("#ddlCustomerType");
        var ddlJobType = $("#ddlJobType");

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate2.prop('readonly', true);
            dptToDate2.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            dptFromDate2.css("background-color", "#fff");
            dptToDate2.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true,
                showOn: "button",
                buttonImageOnly: true,
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptFromDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true,
                showOn: "button",
                buttonImageOnly: true,
            });
            $('#dptToDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptToDate2")) {
                if (dptToDate2.val() !== '') {
                    dptToDate2.val('');
                    LoadDataTableForASells();
                }
            }
            if ($(this).hasClass("dptFromDate2")) {
                if (dptFromDate2.val() !== '') {
                    dptFromDate2.val('');
                    LoadDataTableForASells();
                }
            }

        })

        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })

        txtMobileNo.keyup(function () {
            LoadDataTable();
        })
        txtJobCode.keyup(function () {
            LoadDataTable();
        })
        txtIMEINo.keyup(function () {
            LoadDataTable();
        })
        txtIMEI2No.keyup(function () {
            LoadDataTable();
        })
        txtReceiveId.keyup(function () {
            LoadDataTable();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { flag: "search", modelId: TryParseInt(ddlModelName.val(), 0), jobOrderId: 0, mobileNo: $.trim(txtMobileNo.val()), status: ddlStateStatus.val(), jobCode: txtJobCode.val(), iMEI: txtIMEINo.val(), iMEI2: txtIMEI2No.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), customerType: ddlCustomerType.val(), jobType: ddlJobType.val(), recId: txtReceiveId.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/GetJobOrderListForDelivery', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
        }

        function OpenInvoiceModal() {
            $("#modalInvoice").modal("show");
            $(".error").addClass("hide");
        }

        $(document).on('click', '.btnInvoice', function (e) {
            e.preventDefault();
            OpenInvoiceModal();
            var data = {
                jobOrderId: TryParseInt(hdfJobOrderId.val(),0)
            };
            $.when(getReqWithData('html', 'GET', '/FrontDesk/GetPartsUsedStock', data)).then(function (res, status) {
                if (status == "success") {
                    $("#dataContainer1").empty();
                    $("#dataContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
            //clearCtr()
        })


       
        //M Delivery C
        var count = 0;
        $(document).on('change', 'input[name="allJobOrder"]', function () {
            var isChecked = $('input[name="allJobOrder"]').is(":checked");
            $('input[name="jobOrderName"]').prop("checked", isChecked);
            if (isChecked) {
                count = $(".tblJobOrderDeliveryList tbody tr").length;
            }
            else {
                count = 0;
            }
        })

        $(document).on('change', 'input[name="jobOrderName"]', function () {
            count = 0;
            $.each($(".tblJobOrderDeliveryList tbody tr"), function (index, item) {
                if ($(this).children('td').eq(1).children('input[name="jobOrderName"]').is(":checked")) {
                    count++;
                }
            });
            var allChecked = $(".tblJobOrderDeliveryList tbody tr").length == count;
            $('input[name="allJobOrder"]').prop("checked", allChecked);
        })

        
        function ValidateSubmit() {
            var isValid = true;
            if (count == 0) {
                isValid = false;
                bootbox.alert("Please check at least one row");
            }
            return isValid;
        }
        $("#btnSubmitMDelivery").click(function (e) {
            e.preventDefault();
            if (ValidateSubmit()) {
                bootbox.confirm("Are you sure you want to pushing these Job Orders", function (result) {
                    if (result) {
                        disable("#btnSubmitMDelivery");
                        var jobOrders = []; jobOrders.length = 0;
                        $.each($(".tblJobOrderDeliveryList tbody tr"), function (index, item) {
                            var checkBox = $(this).children('td').eq(1).children('input[name="jobOrderName"]');
                            if (checkBox.is(":checked")) {
                                jobOrders.push(TryParseInt(checkBox.attr("data-item-val"), 0));
                            }
                        });
                        //console.log("JobOrders");
                        //console.log(jobOrders);

                        var data = JSON.stringify({ jobOrders: jobOrders });
                       // return console.log(data);
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/SaveMultipleDelivery', data, getToken())).then(function (res, status) {
                             if (res.isSuccess === true && status === "success") {
                                    $('.toastrDefaultSuccess').trigger('click');

                                    var pdfWindow = window.open("", "_blank")
                                    console.log(res.text);
                                    pdfWindow.document.write("<embed  width='100%' height='100%' src='" + res.text + "'></embed >"); // Preview
                                    //download(res.text, "DeliveryChallan", "application/pdf"); // Download

                                    count = 0;
                                    setTimeout(function () {
                                        redirectPage('@Url.Action("GetJobOrderListForDelivery")');
                                    }, 1000);

                                }
                                else {
                                    $('.toastrDefaultError').trigger('click');
                                }
                            enable("#btnSubmitMDelivery");
                        }).fail(function (error) {
                            console.log(error);
                            $('.toastrDefaultError').trigger('click');
                            enable("#btnSubmitMDelivery");
                        });
                    }
                })
            }
        });




        // Pagination
        //$(document).on('click', 'a.page-link', function (e) {
        //    e.preventDefault();
        //    if (!$(this).hasClass('current-page')) {
        //        if ($(this).parent().parents('div').hasClass('joborder')) {
        //            pageNo = $(this).attr('data-page-no');
        //            LoadDataTable();
        //        }
        //        else if ($(this).parent().parents('div').hasClass('sell')) {
        //            pageNo = $(this).attr('data-page-no');
        //            LoadDataTableForASells();
        //        }
        //    }
        //})

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}


