
@{
    ViewBag.Title = "Used Parts Reports";
}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-pills" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-usedPartsReport-tab" data-toggle="pill" href="#custom-tabs-two-usedPartsReport" role="tab" aria-controls="custom-tabs-two-usedPartsReport" aria-selected="true">Used Parts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-returnPartsReport-tab" data-toggle="pill" href="#custom-tabs-two-returnPartsReport" role="tab" aria-controls="custom-tabs-two-returnPartsReport" aria-selected="true">Return Parts</a>
                    </li>
                </ul>
            </div>
            <div class="card-body shadow">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-usedPartsReport" role="tabpanel" aria-labelledby="custom-tabs-two-usedPartsReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Used Parts Report
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("UsedPartsReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="ddlMobileParts" class="control-label font-weight-bold">Parts Name</label>
                                                            @Html.DropDownList("ddlMobileParts", (IEnumerable<SelectListItem>)ViewBag.ddlMobileParts, "--Select Parts--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Job Code</label>
                                                            <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="ddlTechnicalServicesName" class="control-label font-weight-bold">TS Name</label>
                                                            @Html.DropDownList("ddlTechnicalServicesName", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName, "--Select TSName--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                                                <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="rptType">Type</label>
                                                            <select name="rptType" id="rptType" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download </label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i> </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 mt-3 text-sm" id="dataContainer">
                                                @{Html.RenderAction("GetUsedParts", new { flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-returnPartsReport" role="tabpanel" aria-labelledby="custom-tabs-two-returnPartsReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Return Parts Report
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("PartsReturnReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="ddlMobileParts2" class="control-label font-weight-bold">Parts Name</label>
                                                            @Html.DropDownList("ddlMobileParts2", (IEnumerable<SelectListItem>)ViewBag.ddlMobileParts, "--Select Parts--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Job Code</label>
                                                            <input type="text" id="txtJobCode2" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode2" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="ddlTechnicalServicesName2" class="control-label font-weight-bold">TS Name</label>
                                                            @Html.DropDownList("ddlTechnicalServicesName2", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName2, "--Select Parts--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate2" name="fromDate2" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate2" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate2" name="toDate2" />
                                                                <div class="input-group-prepend remove-date dptToDate2" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="rptType2">Type</label>
                                                            <select name="rptType2" id="rptType2" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download</label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 mt-3 text-sm" id="dataContainer1">
                                                @{Html.RenderAction("ReturnParts", new { flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @*<div class="row">
        <div class="col-md-12 text-center">
            <div class="card card-gray shadow">
                <div class="card-header">
                    <h4>Used Parts Report</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    @Html.AntiForgeryToken()
                    @using (Html.BeginForm("UsedPartsReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                    {
                        <div class="col-md-12">
                            <form method="get">
                                <div class="row text-sm">
                                    <div class="col-md-2">
                                        <label for="ddlMobileParts" class="control-label font-weight-bold">Parts Name</label>
                                        @Html.DropDownList("ddlMobileParts", (IEnumerable<SelectListItem>)ViewBag.ddlMobileParts, "--Select Parts--", new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">JobCode</label>
                                        <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlTechnicalServicesName" class="control-label font-weight-bold">TSName</label>
                                        @Html.DropDownList("ddlTechnicalServicesName", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName, "--Select TSName--", new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">From Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">To Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="rptType">Type</label>
                                        <select name="rptType" id="rptType" class="form-control form-control-sm">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="Download" style="visibility:hidden">Download </label>
                                        <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 mt-3 text-sm" id="dataContainer">
                            @{Html.RenderAction("GetUsedParts", new { flag = "view" });}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@
</div>



@section scripts{
    <script type="text/javascript">
        var ddlMobileParts = $("#ddlMobileParts");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var ddlTechnicalServicesName = $("#ddlTechnicalServicesName");
        var txtJobCode = $("#txtJobCode");
        var pageNo = 1;
        //Return Parts
        var ddlMobileParts2 = $("#ddlMobileParts2");
        var dptFromDate2 = $("#dptFromDate2");
        var dptToDate2 = $("#dptToDate2");
        var ddlTechnicalServicesName2 = $("#ddlTechnicalServicesName2");
        var txtJobCode2 = $("#txtJobCode2");

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate2.prop('readonly', true);
            dptToDate2.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            dptFromDate2.css("background-color", "#fff");
            dptToDate2.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptFromDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptToDate2")) {
                if (dptToDate2.val() !== '') {
                    dptToDate2.val('');
                    LoadDataTable2();
                }
            }
            if ($(this).hasClass("dptFromDate2")) {
                if (dptFromDate2.val() !== '') {
                    dptFromDate2.val('');
                    LoadDataTable2();
                }
            }
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        txtJobCode.keyup(function () {
            LoadDataTable();
        })
        ddlMobileParts.change(function () {
            LoadDataTable();
        })
        ddlTechnicalServicesName.change(function () {
            LoadDataTable();
        })
        function LoadDataTable() {
            var data = { flag: "search", partsId: TryParseInt(ddlMobileParts.val(), 0), tsId: TryParseInt(ddlTechnicalServicesName.val(), 0), jobCode: txtJobCode.val().trim(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/GetUsedParts', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
                })
            pageNo = 1;
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                if ($(this).parent().parents('div').hasClass('usedParts')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTable();
                }
                else if ($(this).parent().parents('div').hasClass('returnParts')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTable2();
                }
            }
        })
        /////////
        dptFromDate2.change(function () {
            LoadDataTable2();
        })
        dptToDate2.change(function () {
            LoadDataTable2();
        })
        txtJobCode2.keyup(function () {
            LoadDataTable2();
        })
        ddlMobileParts2.change(function () {
            LoadDataTable2();
        })
        ddlTechnicalServicesName2.change(function () {
            LoadDataTable2();
        })
        function LoadDataTable2() {
            var data = { flag: "search", mobilePartId: TryParseInt(ddlMobileParts2.val(), 0), tsId: TryParseInt(ddlTechnicalServicesName2.val(), 0), jobCode: txtJobCode2.val().trim(), fromDate: dptFromDate2.val(), toDate: dptToDate2.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/ReturnParts', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }


        //$("#btnReport").click(function (e) {
        //    e.preventDefault();
        //    var data = JSON.stringify({ flag: "search", partsId: TryParseInt(ddlMobileParts.val(), 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() });
        //    //return console.log(data)
        //    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/ReportSS/UsedPartsReport', data, getToken())).then(function (res, status) {
        //        console.log(res.IsSuccess);
        //        if (res.IsSuccess === true) {
        //            var pdfWindow = window.open("", "_blank")
        //            console.log(res.File);
        //            pdfWindow.document.write("<embed  width='100%' height='100%' src='" + res.File + "'></embed >"); // Preview
        //            download(res.File, res.FileName, "application/pdf"); // Download
        //        }
        //    }).fail(function (error) {
        //        console.log(error);
        //    })
        //})
    </script>
}
