@model ERPBO.FrontDesk.ViewModels.RequsitionInfoForJobOrderViewModel
@{
    ViewBag.Title = "Issue Eng. Requsition";
}
<div class="row" style="margin-top:-15px">
    <div class="col-md-12">
        <div class="card card-gray-dark">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">
                            Issue Eng. Requisition
                        </h5>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-sm">
    <div class="col-md-12" style="margin-top:-10px">
        <div class="card card-navy">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="card-title">
                            Requisition Information
                        </h6>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control form-control-sm" id="ddlAction">
                                <option value="Approved" selected>Approved</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Pending">Pending</option>
                            </select>
                            <div class="input-group-append" style="cursor:pointer">
                                <a id="btnSubmit" href="#" title="Submit Requisition" style="background-color:darkblue" class="input-group-text">
                                    <i class="fas fa-paper-plane"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="margin-top:-15px">
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="hdfRequisitionId" value="@Model.RequsitionInfoForJobOrderId" />
                        <input type="hidden" id="hdfRequisitionCode" value="@Model.RequsitionCode" />
                        <input type="hidden" id="hdfModelId" value="@Model.DescriptionId" />
                        <input type="hidden" id="hdfJobOrderId" value="@Model.JobOrderId" />
                        <table class="table table-bordered table-sm table-responsive-lg text-bold text-sm" id="tblInfo">
                            <tbody>
                                <tr>
                                    <td class="alert-primary" style="width:10%">Req Code</td>
                                    <td style="width:15%; background-color:#e1dada">@Model.RequsitionCode</td>
                                    <td class="alert-primary" style="width:10%">JobCode</td>
                                    <td style="width:15%; background-color:#e1dada">@Model.JobOrderCode</td>
                                    <td class="alert-primary" style="width:10%">StateStatus</td>
                                    <td style="width:12%; background-color:#e1dada">@Model.StateStatus</td>
                                </tr>
                                <tr>
                                    <td class="alert-primary" style="width:10%">Model</td>
                                    <td style="width:15%; background-color:#e1dada">@Model.ModelName</td>
                                    <td class="alert-primary" style="width:10%">Request By</td>
                                    <td style="width:15%; background-color:#e1dada">@Model.UserName</td>
                                    <td class="alert-primary" style="width:10%">Requsition Date</td>
                                    <td style="width:12%; background-color:#e1dada">@Model.EntryDate</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        @{Html.RenderAction("IssueTsRequsitionDetails", new { @reqId = Model.RequsitionInfoForJobOrderId });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var hdfRequisitionId = $("#hdfRequisitionId");
        var hdfRequisitionCode = $("#hdfRequisitionCode");
        var ddlAction = $("#ddlAction");
        var hdfModelId = $("#hdfModelId");
        var hdfJobOrderId = $("#hdfJobOrderId");

        function validateSubmit() {
            var isValid = true;
            if (ddlAction.val() === "") {
                isValid = false;
                bootbox.alert("Please select a Action before submit");
            }
            if ($(".tblDataDetail tbody tr").length == 0) {
                isValid = false;
                bootbox.alert("Requistion details not found");
            }
            return isValid;
        }

        function validateSubmit2() {
            var isValid = true;
            if (ajaxBooleanChecker(JSON.stringify({ reqId: TryParseInt(hdfRequisitionId.val(), 0) }), '/Common2/RequsitionDuplicateCheck', getToken()) == true) {
                isValid = false;
                bootbox.alert("Requistion Already Submit");
            }
            return isValid;
        }



        $("#btnSubmit").click(function (e) {
            e.preventDefault();

            if (validateSubmit()) {
                bootbox.confirm("Are you sure you want to save this requisition with " + ddlAction.val() + " status", function (result) {
                    if (result) {
                        disable("#btnSubmit")
                        if (validateSubmit2()) {
                            var info = { RequsitionInfoForJobOrderId: TryParseInt(hdfRequisitionId.val(), 0), StateStatus: ddlAction.val(), DescriptionId: TryParseInt(hdfModelId.val()), RequsitionCode: hdfRequisitionCode.val(), JobOrderId: TryParseInt(hdfJobOrderId.val(),0) };

                        var details = []; details.length = 0;

                        $.each($(".tblDataDetail tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                            details.push({
                                RequsitionDetailForJobOrderId: tds.eq(1).html(),
                                DescriptionId: tds.eq(2).html(),
                                PartsId: tds.eq(4).html(),
                                Quantity: tds.eq(7).html(),
                                IssueQty: tds.eq(8).children('input[type="number"]').val()
                            })
                        })

                        info.RequsitionDetailForJobOrders = details;

                        console.log("Requisition Information");
                        console.log(info);
                        var data = JSON.stringify({ info: info });
                        //return console.log(data)
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/UpdateReqStatusAndWarehouseStockOut', data, getToken())).then(function (res, status) {
                            console.log(res);
                            console.log(status);
                            if (res === true && status === "success") {
                                $('.toastrDefaultSuccess').trigger('click');
                                 setTimeout(function () {
                                    redirectPage('@Url.Action("TSRequsitionInfoForJobOrderList")');
                                }, 1000);
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmit");
                        }).fail(function (error) {
                            console.log(error);
                            enable("#btnSubmit");
                        })
                        }
                    }// confirm
                })// bootbox
            }// submit
        })

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
    }
