
@{
    ViewBag.Title = "Receive JobOrder Report";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-pills" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-receiveJobOrderReport-tab" data-toggle="pill" href="#custom-tabs-two-receiveJobOrderReport" role="tab" aria-controls="custom-tabs-two-receiveJobOrderReport" aria-selected="true">Receive Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-receiveReturnJobOrderReport-tab" data-toggle="pill" href="#custom-tabs-two-receiveReturnJobOrderReport" role="tab" aria-controls="custom-tabs-two-receiveReturnJobOrderReport" aria-selected="true">Receive Return Job</a>
                    </li>
                </ul>
            </div>
            <div class="card-body shadow">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-receiveJobOrderReport" role="tabpanel" aria-labelledby="custom-tabs-two-receiveJobOrderReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Receive JobOrder Report
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("ReceivedJobOrderReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12 mb-2">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Branch Name</label>
                                                            @Html.DropDownList("ddlBranchName", (IEnumerable<SelectListItem>)ViewBag.ddlBranchName, "--Select Branch--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                                            <span class="error hide require-branch font-weight-bold">Branch is required !</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Transfer Code</label>
                                                            <input type="text" id="txtTransferCode" class="form-control form-control-sm" placeholder="Search By Code" name="transferCode" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Job Code</label>
                                                            <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Transfer Status</label>
                                                            @Html.DropDownList("ddlTransferStatus", (IEnumerable<SelectListItem>)ViewBag.ddlTransferStatus, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                                                <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="rptType">Type</label>
                                                            <select name="rptType" id="rptType" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download</label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                                                @{Html.RenderAction("ReceiveJobOrderReport", new { @flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-receiveReturnJobOrderReport" role="tabpanel" aria-labelledby="custom-tabs-two-receiveReturnJobOrderReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Receive Return JobOrder Report
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("ReceivedReturnJobOrderReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12 mb-2">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Repair Branch</label>
                                                            @Html.DropDownList("ddlBranchName2", (IEnumerable<SelectListItem>)ViewBag.ddlBranchName2, "--Select Branch--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                                            <span class="error hide require-branch font-weight-bold">Branch is required !</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Transfer Code</label>
                                                            <input type="text" id="txtTransferCode2" class="form-control form-control-sm" placeholder="Search By Code" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Job Code</label>
                                                            <input type="text" id="txtJobCode2" class="form-control form-control-sm" placeholder="Search By JobCode" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Transfer Status</label>
                                                            @Html.DropDownList("ddlTransferStatus2", (IEnumerable<SelectListItem>)ViewBag.ddlTransferStatus2, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate2" name="fromDate2" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate2" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate2" name="toDate2" />
                                                                <div class="input-group-prepend remove-date dptToDate2" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="rptType2">Type</label>
                                                            <select name="rptType2" id="rptType2" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download</label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 text-sm text-sm" id="dataContainer1" style="overflow-y:scroll">
                                                @{Html.RenderAction("ReceiveReturnJobOrderReport", new { @flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @*<div class="row">
        <div class="col-md-12 text-center">
            <div class="card card-gray shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center">
                            <h4><b>Receive JobOrder Report</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    @Html.AntiForgeryToken()
                    @using (Html.BeginForm("ReceivedJobOrderReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                    {
                        <div class="col-md-12 mb-2">
                            <form method="get">
                                <div class="row text-sm">
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">BranchName</label>
                                        @Html.DropDownList("ddlBranchName", (IEnumerable<SelectListItem>)ViewBag.ddlBranchName, "--Select Branch--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                        <span class="error hide require-branch font-weight-bold">Branch is required !</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">TransferCode</label>
                                        <input type="text" id="txtTransferCode" class="form-control form-control-sm" placeholder="Search By Code" name="transferCode" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">JobCode</label>
                                        <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">TransferStatus</label>
                                        @Html.DropDownList("ddlTransferStatus", (IEnumerable<SelectListItem>)ViewBag.ddlTransferStatus, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">From Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">To Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-sm">
                                    <div class="col-md-2">
                                        <label for="rptType">Type</label>
                                        <select name="rptType" id="rptType" class="form-control form-control-sm">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="Download" style="visibility:hidden">Download</label>
                                        <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                            @{Html.RenderAction("ReceiveJobOrderReport", new { @flag = "view" });}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@
</div>


@section scripts{
    <script type="text/javascript">
        var ddlBranchName = $("#ddlBranchName");
        var txtTransferCode = $("#txtTransferCode");
        var txtJobCode = $("#txtJobCode");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var ddlTransferStatus = $("#ddlTransferStatus");
        var pageNo = 1;
        /////////
        var ddlBranchName2 = $("#ddlBranchName2");
        var txtTransferCode2 = $("#txtTransferCode2");
        var txtJobCode2 = $("#txtJobCode2");
        var dptFromDate2 = $("#dptFromDate2");
        var dptToDate2 = $("#dptToDate2");
        var ddlTransferStatus2 = $("#ddlTransferStatus2");

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate2.prop('readonly', true);
            dptToDate2.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            dptFromDate2.css("background-color", "#fff");
            dptToDate2.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptFromDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('.action').addClass('hide');
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptToDate2")) {
                if (dptToDate2.val() !== '') {
                    dptToDate2.val('');
                    LoadDataTable2();
                }
            }
            if ($(this).hasClass("dptFromDate2")) {
                if (dptFromDate2.val() !== '') {
                    dptFromDate2.val('');
                    LoadDataTable2();
                }
            }
        })

        txtJobCode.keyup(function () {
            LoadDataTable();
        })
        txtTransferCode.keyup(function () {
            LoadDataTable();
        })
        ddlBranchName.change(function () {
            LoadDataTable();
        })
        ddlTransferStatus.change(function () {
            LoadDataTable();
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        function LoadDataTable() {
            var data = { flag: "search", branchName: TryParseInt(ddlBranchName.val(), 0), jobCode: txtJobCode.val(), transferCode: txtTransferCode.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), tstatus: ddlTransferStatus.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/ReceiveJobOrderReport', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                        $('.action').addClass('hide');
                    });
                }
            }).fail(function (error) {
                console.log(error);
                });
            pageNo = 1;
        }
        /////////
        dptFromDate2.change(function () {
            LoadDataTable2();
        })
        dptToDate2.change(function () {
            LoadDataTable2();
        })

        txtJobCode2.keyup(function () {
            LoadDataTable2();
        })
        txtTransferCode2.keyup(function () {
            LoadDataTable2();
        })
        ddlBranchName2.change(function () {
            LoadDataTable2();
        })
        ddlTransferStatus2.change(function () {
            LoadDataTable2();
        })
        function LoadDataTable2() {
            var data = { flag: "search", branchName: TryParseInt(ddlBranchName2.val(), 0), jobCode: txtJobCode2.val(), transferCode: txtTransferCode2.val(), fromDate: dptFromDate2.val(), toDate: dptToDate2.val(), tstatus: ddlTransferStatus2.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/ReceiveReturnJobOrderReport', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                        $('.action').addClass('hide');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                if ($(this).parent().parents('div').hasClass('receiveJob')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTable();
                }
                else if ($(this).parent().parents('div').hasClass('receiveReturnJob')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTable2();
                }
            }
        })
        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}