@model  IEnumerable<ERPBO.FrontDesk.ViewModels.RequsitionDetailForJobOrderViewModel>
@using ERPBO.FrontDesk.ViewModels;
@{
    int sl = 0;
    Layout = null;
    RequsitionInfoForJobOrderViewModel info = ((RequsitionInfoForJobOrderViewModel)ViewBag.ReqInfoJobOrder);
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}
<table class="table table-bordered table-striped table-sm table-responsive-lg">
    <tr>
        <td style="width:13%">Job Order</td>
        <td style="width:20%"><b>@info.JobOrderCode</b></td>

        <td style="width:10%" class="hide">Services Warehouse</td>
        <td style="width:23%" class="hide"><b>@info.SWarehouseName</b></td>
        <td style="width:13%">Type</td>
        <td style="width:20%"><b>@info.Type</b></td>
    </tr>
    <tr>
        <td style="width:13%">Requsition Code</td>
        <td style="width:20%"><b>@info.RequsitionCode</b></td>
        <td style="width:13%">Model Name</td>
        <td style="width:20%"><b>@info.ModelName</b></td>
    </tr>
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg" id="tblRequsitionDetailForJob">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th class="hide"></th>
            <th class="hide"></th>
            <th>Parts Name</th>
            <th>Parts Code</th>
            <th>Qty.</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center" width="10%"><b>@sl</b></td>
                <td class="hide">@item.RequsitionDetailForJobOrderId</td>
                <td class="hide">@item.PartsId</td>
                <td>@item.PartsName</td>
                <td>@item.MobilePartCode</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center">@item.Remarks</td>
            </tr>
        }
    </tbody>
</table>
@if ((string)ViewBag.RequisitionStatus == "Approved")
{
    <div class="modal-footer">
        @*<button type="button" class="btn btn-sm btn-success btnAccept">Accepted</button>*@
    </div>
}
@if ((string)ViewBag.RequisitionStatus == "Void")
{
    <div class="modal-footer">
        <div class="text-center" style="color:red">
            <h5><b>Rejected Requsition</b></h5>
        </div>
    </div>
}
