@using ERPBO.Configuration.ViewModels;
@{
    /**/

    /**/

    /**/

    /**/

    ViewBag.Title = "T.S Services Details";
    int sl = 0;
    int sl2 = 0;
    var jobOrder = (ERPBO.FrontDesk.ViewModels.JobOrderViewModel)ViewBag.JobOrder;
    var repair = (ERPBO.FrontDesk.ViewModels.JobOrderRepairViewModel)ViewBag.jobrepair;
    IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderProblemViewModel> Problems = (IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderProblemViewModel>)ViewBag.Problem;
    IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderFaultViewModel> Faulty = (IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderFaultViewModel>)ViewBag.faulty;
    IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderServiceViewModel> services = (IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderServiceViewModel>)ViewBag.services;
    IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderRepairViewModel> Repair = (IEnumerable<ERPBO.FrontDesk.ViewModels.JobOrderRepairViewModel>)ViewBag.repair;
    IEnumerable<ERPBO.Configuration.ViewModels.MobilePartStockInfoViewModel> WareStock = (IEnumerable<ERPBO.Configuration.ViewModels.MobilePartStockInfoViewModel>)ViewBag.warehouseStock;
    IEnumerable<ERPBO.FrontDesk.ViewModels.SparePartsAvailableAndReqQtyViewModel> availableQty = (IEnumerable<ERPBO.FrontDesk.ViewModels.SparePartsAvailableAndReqQtyViewModel>)ViewBag.SparePartsAvailableAndReqQty;
    IEnumerable<ERPBO.FrontDesk.ViewModels.TechnicalServicesStockViewModel> tsStock = (IEnumerable<ERPBO.FrontDesk.ViewModels.TechnicalServicesStockViewModel>)ViewBag.TechnicalServicesStock;
    string faulty = string.Empty;
    string service = string.Empty;
    // string repair = string.Empty;
    string problem = string.Empty;
}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row text-sm" style="overflow-y:scroll">
                    <div class="col-md-6">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" id="hdfJobOrderId" value="@jobOrder.JodOrderId" />
                        <div class="row">
                            <div class="col-md-1">
                                <a href="/FrontDesk/GetJobOrdersTS" class="btn btn-sm btn-outline-primary" title="Back To List"><i class="fas fa-arrow-alt-circle-left"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b style="color:darkblue">Job Order : @jobOrder.JobOrderCode</b>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <b>@jobOrder.EntryDate.Value.ToString("dd-MMM-yyyy")</b>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <b style="color:darkblue">Customer Details</b>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody style="background-color:lightcyan">
                                        <tr>
                                            <td>Name: <b>@jobOrder.CustomerName</b></td>
                                            <td>Address: <b>@jobOrder.Address</b></td>
                                            <td>Mobile No: <b>@jobOrder.MobileNo</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <b style="color:darkblue">Handset Details</b>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody style="background-color: lightsteelblue">
                                        <tr>
                                            <td>Model: <b>@jobOrder.ModelName</b></td>
                                            <td>Type: <b>@jobOrder.Type</b></td>
                                            <td>Color: <b>@jobOrder.ModelColor</b></td>
                                            <td>IMEI1: <b>@jobOrder.IMEI</b></td>
                                            <td>IMEI2: <b>@jobOrder.IMEI2</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>F.Desk:</b> @jobOrder.Remarks
                                            </td>
                                            <td>
                                                <b>@jobOrder.JobOrderType</b> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>C.Center Remarks:</b> @jobOrder.CallCenterRemarks
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Symptom:</b>
                                                @foreach (var item in Problems)
                                                {
                                                    problem += item.ProblemName + ",";
                                                }
                                                @{
                                                    if (Problems.Count() > 0)
                                                    {
                                                        problem = problem.Substring(0, problem.Length - 1);
                                                    }

                                                }
                                                @problem
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnSymptom" class="btn btn-sm btn-primary" title="Add New Symptom"><i class="fas fa-plus"> </i> </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg" id="tblFault">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Fault:</b>
                                                @foreach (var item in Faulty)
                                                {
                                                    faulty += item.FaultName + ",";
                                                }
                                                @{
                                                    if (Faulty.Count() > 0)
                                                    {
                                                        faulty = faulty.Substring(0, faulty.Length - 1);
                                                    }

                                                }
                                                @faulty
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnFault" class="btn btn-sm btn-primary" title="Add New Fault"><i class="fas fa-plus"> </i> </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Service: </b>
                                                @foreach (var item in services)
                                                {
                                                    service += item.ServiceName + ",";
                                                }
                                                @{
                                                    if (services.Count() > 0)
                                                    {
                                                        service = service.Substring(0, service.Length - 1);
                                                    }

                                                }
                                                @service
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnService" class="btn btn-sm btn-primary" title="Add New Service"><i class="fas fa-plus"> </i> </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Repair: </b><span id="repairName">@repair.RepairName</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnRepair" class="btn btn-sm btn-primary" title="Add New Repair"><i class="fas fa-plus"> </i> </button>
                            </div>
                        </div>
                        @*<div class="row">
            <div class="col-md-11">
                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                    <tbody>
                        <tr>
                            <td>
                                <b>TSRemarks: </b>@jobOrder.TSRemarks
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
                <button type="button" id="btnTsRemarks" class="btn btn-sm btn-primary" title="Remarks"><i class="fas fa-plus"> </i> </button>
            </div>
        </div>*@
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="text" name="remarks" value="@jobOrder.TSRemarks" placeholder="TSRemarks" id="txtTSRemarks" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <b class="text-center" style="visibility:hidden">Parts Requsition</b>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9">
                                        <b style="color:darkblue">Parts Requsition </b>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="btn btn-success btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Requsition</a>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="col-md-12" id="dataContainer">
                                @{Html.RenderAction("RequsitionInfoForJobOrderPartialListList", new { @jobOrderId = jobOrder.JodOrderId });}
                            </div>
                            <div class="modal fade" id="modalRequsitionJobOrderDetails" role="dialog" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header alert-secondary" style="height:60px">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" id="hdfRequsitionDetailId" />
                                            <input type="hidden" id="hdfRowIndex" />
                                            <h4 id="modalHeading" class="modal-title">
                                                Requsition For Job Order Details
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body" id="dataContainer1" style="overflow-y:scroll">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row hide">
                            <div class="col-md-4">
                                <b>Spare Parts</b>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg">
                                    <thead style="background-color: lightblue">
                                        <tr class="text-center">
                                            <th>#SL No.</th>
                                            <th>Parts Name</th>
                                            <th>Available Qty.</th>
                                            <th>Requsition Qty.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var stock in availableQty)
                                        {
                                            sl = sl + 1;
                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td>@stock.MobilePartName</td>
                                                <td class="text-center">@stock.AvailableQty</td>
                                                <td class="text-center">@stock.RequistionQty</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <b style="color:darkblue">Spare Parts</b>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-sm table-striped" id="tblTechnicalServicesStockData">
                                    <thead class="btn-dark">
                                        <tr class="text-center">
                                            <th style="vertical-align:middle">#SL</th>
                                            <th class="hide"></th>
                                            <th class="hide"></th>
                                            <th class="hide">SWarehouse Name</th>
                                            <th class="hide"></th>
                                            <th style="vertical-align:middle">Requsition Code</th>
                                            <th class="hide"></th>
                                            <th style="vertical-align:middle">Parts Name</th>
                                            <th style="vertical-align:middle">Parts Code</th>
                                            <th style="vertical-align:middle">Qty.</th>
                                            @if (jobOrder.QCStatus == "QC-Fail")
                                            {
                                                <th class="hide" style="vertical-align:middle">U Qty.</th>
                                                <th class="hide" style="vertical-align:middle">R Qty.</th>
                                            }
                                            <th class="hide">Total Qty.</th>
                                            <th class="hide">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var stock in tsStock)
                                        {
                                            sl2 = sl2 + 1;
                                        <tr>
                                            <td class="text-center text-bold" width="10%">@sl2</td>
                                            <td class="hide">@stock.TsStockId</td>
                                            <td class="hide">@stock.SWarehouseId</td>
                                            <td class="hide">@stock.SWarehouseName</td>
                                            <td class="hide">@stock.RequsitionInfoForJobOrderId</td>
                                            <td>@stock.RequsitionCode</td>
                                            <td class="hide">@stock.PartsId</td>
                                            <td>@stock.PartsName</td>
                                            <td>@stock.MobilePartCode</td>
                                            <td class="text-center">@stock.Quantity</td>
                                            @if (jobOrder.QCStatus == "QC-Fail")
                                            {
                                            <td class="text-center hide">@stock.UsedQty</td>
                                            <td class="text-center hide">@stock.ReturnQty</td>
                                            }
                                            
                                            <td class="text-center hide">@stock.TotalQty</td>
                                            <td class="text-center hide">@stock.Remarks</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg" style="background-color:lightgoldenrodyellow">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>CC:</b> @jobOrder.CustomerApproval
                                            </td>
                                            <td>
                                               @jobOrder.CallCenterRemarks
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm table-responsive-lg" style="background-color:lightgoldenrodyellow">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>QC:</b> @jobOrder.QCStatus
                                            </td>
                                            <td>
                                                @jobOrder.QCRemarks
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" id="changeIMEI1">
                                <label for="txtIMEI1" class="control-label font-weight-bold">IMEI1<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                                <input type="text" class="form-control form-control-sm" id="txtIMEI1" placeholder="Input IMEI1" />
                                <span class="error hide require-IMEI1 font-weight-bold">Mobile IMEI1 is required !</span>
                                <span class="error hide require-len-IMEI1 font-weight-bold">Must Input 15 digit IMEI !</span>
                                <span class="error hide newHandset-IMEI1 font-weight-bold">Input New Hanset IMEI1 !</span>
                                <span class="error hide duplicate-IMEI1 font-weight-bold">Already Exist IMEI1 !</span>
                            </div>
                            <div class="col-md-6" id="changeIMEI2">
                                <label for="txtIMEI2" class="control-label font-weight-bold">IMEI2<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                                <input type="text" class="form-control form-control-sm" id="txtIMEI2" placeholder="Input IMEI2" />
                                <span class="error hide require-IMEI2 font-weight-bold">Mobile IMEI2 is required !</span>
                                <span class="error hide require-len-IMEI2 font-weight-bold">Must Input 15 digit IMEI !</span>
                                
                                <span class="error hide duplicate-IMEI2 font-weight-bold">Already Exist IMEI2 !</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5" id="changeModel">
                                <label for="ddlModelName" class="control-label font-weight-bold">Model<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                                @Html.DropDownList("ddlModelName", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm select2 select2-danger" })
                                <span class="error hide require-modelName font-weight-bold">Model is required !</span>
                                <span class="error hide newHandset-IMEI1 font-weight-bold">Input New Hanset Model !</span>
                            </div>
                            <div class="col-md-5" id="changeColor">
                                <label for="ddlModelColor" class="control-label font-weight-bold">Color<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                                @Html.DropDownList("ddlModelColor", (IEnumerable<SelectListItem>)ViewBag.ddlModelColor, "--Select Color--", new { @class = "form-control form-control-sm ctrl-changed" })
                                <span class="error hide require-ModelColor font-weight-bold">Mobile ModelColor is required !</span>
                                <span class="error hide newHandset-IMEI1 font-weight-bold">Input New Hanset Color !</span>
                            </div>
                            <div class="col-md-2" id="changeButton">
                                <label class="control-label font-weight-bold" style="visibility:hidden">Coloroooo</label>
                                <button type="button" id="btnHandsetChangeSave" class="btn btn-sm btn-primary" title="">Update</button>
                            </div>
                        </div>

                    </div>
                    

                    <div class="col-md-1">
                        <input class="btn btn-success btn-sm float-lg-right" value="Save" type="button" id="btnSave" onclick="window.close()" />
                        @*<a href="#" class="btn btn-outline-primary btn-sm float-lg-right" id="btnJobSave"><i></i> Save</a>*@
                    </div>
                    <div id="btnjobsign">
                        <a href="#" class="btn btn-danger btn-sm float-lg-right" id="btnJobSingOut"><i class="fas fa-sign-out"></i>Job Sing Out</a>
                    </div>
                    <div id="btnHandsetchange" class="hide">
                        <a href="#" class="btn btn-danger btn-sm float-lg-right" id="btnHandsetchangeJobSingOut"><i class="fas fa-sign-out"></i>Job-Sing-Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalSymptom" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Symptom</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfSymptomId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ddlSymptomName" class="control-label font-weight-bold">Symptom Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlSymptomName", (IEnumerable<SelectListItem>)ViewBag.ddlSymptomName, new { @class = "form-control form-control-sm select2 select2-danger", @multiple = "multiple" })
                            <span class="error hide required-Symptom font-weight-bold">Input Symptom!</span>
                            <span class="error hide duplicate-Symptom font-weight-bold">Alrady Symptom Exist!</span>
                        </div>
                    </div>
                    @*<div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtFaultRemarks" class="control-label font-weight-bold">Remarks</label>
                                <input type="text" name="remarks" value="" id="txtFaultRemarks" class="form-control form-control-sm" />
                            </div>
                        </div>*@
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmitSymptom"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFault" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Fault</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfFaultId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ddlFaultName" class="control-label font-weight-bold">Fault Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlFaultName", (IEnumerable<SelectListItem>)ViewBag.ddlFaultName, new { @class = "form-control form-control-sm select2 select2-danger", @multiple = "multiple" })
                            <span class="error hide required-faultName font-weight-bold">Input Fault!</span>
                            <span class="error hide duplicate-faultName font-weight-bold">Alrady Fault Exist!</span>
                        </div>
                    </div>
                    @*<div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtFaultRemarks" class="control-label font-weight-bold">Remarks</label>
                                <input type="text" name="remarks" value="" id="txtFaultRemarks" class="form-control form-control-sm" />
                            </div>
                        </div>*@
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmitFault"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalServices" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Service</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfServicesId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ddlServiceName" class="control-label font-weight-bold">Service Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlServiceName", (IEnumerable<SelectListItem>)ViewBag.ddlServiceName, new { @class = "form-control form-control-sm select2 select2-danger", @multiple = "multiple" })
                            <span class="error hide required-ServiceName font-weight-bold">Input Service!</span>
                            <span class="error hide duplicate-servicesName font-weight-bold">Alrady Service Exist!</span>
                        </div>
                    </div>
                    @*<div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtServiceRemarks" class="control-label font-weight-bold">Remarks</label>
                                <input type="text" name="remarks" value="" id="txtServiceRemarks" class="form-control form-control-sm" />
                            </div>
                        </div>*@
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmitService"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRepair" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Repair</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfRepairId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ddlRepairName" class="control-label font-weight-bold">Repair Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlRepairName", (IEnumerable<SelectListItem>)ViewBag.ddlRepairName, "--Select Repair--", new { @class = "form-control form-control-sm ctrl-changed" })
                            <span class="error hide required-Repair font-weight-bold">Input Repair!</span>
                        </div>
                    </div>
                    @*<div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtRepairRemarks" class="control-label font-weight-bold">Remarks</label>
                                <input type="text" name="remarks" value="" id="txtRepairRemarks" class="form-control form-control-sm" />
                            </div>
                        </div>*@
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmitRepair"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTsRemarks" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add TS Remarks</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtTSRemarks" class="control-label font-weight-bold">TS Remarks</label>
                            <input type="text" name="remarks" value="" id="txtTSRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmitTSRemarks"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRequstionDetailForJobOrder" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Spare Parts Requsition</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmWarehouse">
                    <input type="hidden" id="hdfRequstionDetailForJobOrderId" />
                    <input type="hidden" id="hdfJobCodeId" value="@jobOrder.JodOrderId" />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-danger btn-sm float-lg-right" id="btnReset" title="RESET UI"><i class="fas fa-sync-alt"></i> </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 hide">
                            <label for="ddlServicesWarehouse" class="control-label font-weight-bold">S.Warehouse Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlServicesWarehouse", (IEnumerable<SelectListItem>)ViewBag.ddlServicesWarehouse, new { @class = "form-control form-control-sm" })
                            <span class="error hide require-warehouse font-weight-bold">S.Warehouse is required !</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ddlMobilePart" class="control-label font-weight-bold">Parts Name<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup></label>
                            @Html.DropDownList("ddlMobilePart", (IEnumerable<SelectListItem>)ViewBag.ddlMobilePart, "--Select Parts--", new { @class = "form-control form-control-sm select2 select2-danger" })
                            <span class="error hide require-parts font-weight-bold">Parts is required !</span>
                            <span class="error hide duplicate-parts font-weight-bold">This parts is already exist !</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtStockInQty" class="control-label font-weight-bold">Quantity<sup><i class="fas fa-asterisk fa-sm text-red" style="font-size:0.25rem;"></i></sup><span id="stockQty" class="font-weight-bold mt-2 stockQty" style="color:red"></span></label>
                            <div class="input-group">
                                <div class="col-sm-8">
                                    <input type="number" placeholder="Qty" name="quantity" id="txtStockInQty" class="form-control form-control-sm" />
                                </div>
                                <span id="unitName" class="font-weight-bold mt-3" style="color:darkblue"> </span>
                            </div>
                            <span class="error hide required-qty font-weight-bold">Quantity is required!</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="control-label font-weight-bold" style="visibility:hidden"> Add To List</label>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-sm btn-outline-warning float-left mr-1" id="btnAddToList" title="Save"><i class="fas fa-plus"></i> &nbsp; ADD TO LIST </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">

                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblRequsitionDetailForJobOrders">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <button class="btn btn-success btn-sm float-lg-right" id="btnSubmit">SAVE <i class="fas fa-paper-plane"></i> </button>
                                    </th>
                                </tr>
                                <tr class="btn-dark text-center">
                                    <th>#SL</th>
                                    <th class="hide"></th>
                                    <th>Parts Name</th>
                                    <th>Qty.</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTSStock" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-lg alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">TS Spare Parts</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">
                <table class="table table-bordered table-striped table-sm table-responsive-lg tblStockByRequsition" id="tblStockByRequsition">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>#SL</th>
                            <th class="hide"></th>
                            <th>Requsition Code</th>
                            <th class="hide"></th>
                            <th>Parts Name</th>
                            <th>Qty.</th>
                            <th width="15%">Used Qty.</th>
                            <th class="hide"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnReturnStock"> <span id="spanSaveText">SignOut</span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //#region Faulty
        var hdfFaultId = $("#hdfFaultId");
        var ddlFaultName = $("#ddlFaultName");
        var txtFaultRemarks = $("#txtFaultRemarks");
        var hdfJobOrderId = $("#hdfJobOrderId");
        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            $("#ddlSymptomName").attr("data-placeholder", "Select Symptom");
            $("#ddlFaultName").attr("data-placeholder", "Select Fault");
            $("#ddlServiceName").attr("data-placeholder", "Select Service");
            $("#ddlMobilePart").attr("data-placeholder", "Select Parts");
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });
        function OpenFaultModal() {
            clearCtrlFault();
            $("#modalFault").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnFault").click(function (e) {
           e.preventDefault();
           clearCtrlFault();
            OpenFaultModal();
        })
        function clearCtrlFault() {
            hdfFaultId.val('0');
            ddlFaultName.val('');
            txtFaultRemarks.val('');
        }
         function validateFaultForm() {
            var isValid = true;
            $(".error").addClass('hide');

             if (ddlFaultName.val() === "") {
                $(".required-faultName").removeClass("hide");
                  isValid = false;
                  }
                  else {
                     var id = TryParseInt(hdfJobOrderId.val(), 0);
                     $.each(ddlFaultName.val(), function (index,item) {
                       if (ajaxBooleanChecker(JSON.stringify({ id: id, faultId: TryParseInt(item, 0) }), '/Common2/IsDuplicateFaultId', getToken()) == true) {
                          $(".duplicate-faultName").removeClass("hide");
                       isValid = false;
                       }
                     })
              }
            return isValid;
        }
        $("#btnSubmitFault").click(function (e) {
            e.preventDefault();
            if (validateFaultForm()) {

                //var aryFault = []; aryFault.length = 0;
                //var Fault = ddlFaultName.val();
                //aryFault.push({
                //    FaultId: Fault,
                //    JobOrderId: hdfJobOrderId.val()
                //});
                var aryFault = []; aryFault.length = 0;
                var Fault = ddlFaultName.val();
                for (var i = 0; i < Fault.length; i++) {
                    aryFault.push({
                        FaultId: Fault[i],
                        JobOrderId: hdfJobOrderId.val()
                    });
                }
                var data = JSON.stringify({ jobOrderFaultViewModels: aryFault });
              console.log("Faulty List");
               console.log(data);

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/SaveJobOrderFault', data, getToken())).then(function (res, status) {
                    if (res === true && status === "success") {
                    $('.toastrDefaultSuccess').trigger('click');
                            setTimeout(function () {
                            redirectPage('@Url.Action("ServicesDetails", "FrontDesk", new { @joborderId =jobOrder.JodOrderId })');
                                }, 1000);
                            }
                                else {
                            $('.toastrDefaultError').trigger('click');
                    }
                                }).fail(function (error) {
                                    console.log(error);
                $('.toastrDefaultError').trigger('click');
                                });
            }
          });
         //#endregion

        //Service
        var hdfServicesId = $("#hdfServicesId");
        var ddlServiceName = $("#ddlServiceName");
        var txtServiceRemarks = $("#txtServiceRemarks");

        function OpenServicesModal() {
            clearCtrlService();
            $("#modalServices").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnService").click(function (e) {
           e.preventDefault();
           clearCtrlService();
           OpenServicesModal();
        })
        function clearCtrlService() {
               hdfServicesId.val('0');
               ddlServiceName.val('');
               txtServiceRemarks.val('');
        }

        function validateServiceForm() {
              var isValid = true;
            $(".error").addClass('hide');
              if (ddlServiceName.val() === "") {
                $(".required-ServiceName").removeClass("hide");
                    isValid = false;
              }
              else {
                 var id = TryParseInt(hdfJobOrderId.val(), 0);
                  $.each(ddlServiceName.val(), function (index, item) {
                  if (ajaxBooleanChecker(JSON.stringify({ id: id, servicesId: TryParseInt(item, 0) }), '/Common2/IsDuplicateServicesId', getToken()) == true) {
                    $(".duplicate-servicesName").removeClass("hide");
                       isValid = false;
                  }
              });

              }
           return isValid;
        }

        $("#btnSubmitService").click(function (e) {
                                e.preventDefault();
                                if (validateServiceForm()) {

                                    //var aryService = []; aryService.length = 0;
                                    //var Service = ddlServiceName.val();
                                    //aryService.push({
                                    //    ServiceId: Service,
                                    //    JobOrderId: hdfJobOrderId.val()
                                    //});
                                    var aryService = []; aryService.length = 0;
                                    var Service = ddlServiceName.val();
                                    for (var i = 0; i < Service.length; i++) {
                                        aryService.push({
                                        ServiceId: Service[i],
                        JobOrderId: hdfJobOrderId.val()
                                    });
                                }

                                var data = JSON.stringify({ jobOrderServiceViewModels: aryService });
                                console.log("Service List");
                                console.log(data);

                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/SaveJobOrderService', data, getToken())).then(function (res, status) {
                                    if (res === true && status === "success") {
                        $('.toastrDefaultSuccess').trigger('click');
                                        setTimeout(function () {
                                            redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId = jobOrder.JodOrderId })');
                                        }, 1000);
                                    }
                                    else {
                        $('.toastrDefaultError').trigger('click');
                                    }
                                }).fail(function (error) {
                                    console.log(error);
                    $('.toastrDefaultError').trigger('click');
                     });
                }
        });
        //symptom
        var hdfSymptomId = $("#hdfSymptomId");
        var ddlSymptomName = $("#ddlSymptomName");

        function OpenSymptomModal() {
            clearCtrlSymptom();
            $("#modalSymptom").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnSymptom").click(function (e) {
             e.preventDefault();
             clearCtrlSymptom();
             OpenSymptomModal();
        })
        function clearCtrlSymptom() {
             hdfSymptomId.val('0');
            ddlSymptomName.val('');
        }
        function validateSymptomForm() {
             var isValid = true;
            $(".error").addClass('hide');
             if (ddlSymptomName.val() === "") {
                $(".required-SymptomName").removeClass("hide");
                   isValid = false;
             }
             else {
                    var id = TryParseInt(hdfJobOrderId.val(), 0);
                   $.each(ddlSymptomName.val(), function (index, item) {
                   if (ajaxBooleanChecker(JSON.stringify({ id: id, prblmId: TryParseInt(item, 0) }), '/Common2/IsDuplicateSymptomId', getToken()) == true) {
                         $(".duplicate-Symptom").removeClass("hide");
                            isValid = false;
                    }
                  });

             }
         return isValid;
        }

        $("#btnSubmitSymptom").click(function (e) {
           e.preventDefault();
          if (validateSymptomForm()) {

            //var arySymptom = []; arySymptom.length = 0;
              //var symptom = ddlSymptomName.val();
            //arySymptom.push({
            //    ProblemId: symptom,
             //    JobOrderId: hdfJobOrderId.val()
             //});
               var arySymptom = []; arySymptom.length = 0;
               var symptom = ddlSymptomName.val();
               for (var i = 0; i < symptom.length; i++) {
                   arySymptom.push({
                    ProblemId: symptom[i],
                    JobOrderId: hdfJobOrderId.val()
                   });
               }

                var data = JSON.stringify({ jobOrderProblemViewModels: arySymptom });
                console.log("Problem List");
                console.log(data);

                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/SaveJobOrderProblem', data, getToken())).then(function (res, status) {
                       if (res === true && status === "success") {
                         $('.toastrDefaultSuccess').trigger('click');
                          setTimeout(function () {
                            redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId = jobOrder.JodOrderId })');
                            }, 1000);
                          }
                       else {
                         $('.toastrDefaultError').trigger('click');
                            }
                       }).fail(function (error) {
                        console.log(error);
                    $('.toastrDefaultError').trigger('click');
                        });
                 }
        });

        //Repair
        var hdfRepairId = $("#hdfRepairId");
        var ddlRepairName = $("#ddlRepairName");
        var txtRepairRemarks = $("#txtRepairRemarks");
       // var repairName = $("#repairName");
        //var btnjobsign = $("#btnjobsign");

        

        function OpenRepairModal() {
            clearCtrlRepair();
            $("#modalRepair").modal("show");
            $(".error").addClass("hide");
         }

        $("#btnRepair").click(function (e) {
         e.preventDefault();
         clearCtrlRepair();
         OpenRepairModal();
        })
        function clearCtrlRepair() {
           hdfRepairId.val('0');
           ddlRepairName.val('');
           txtRepairRemarks.val('');
        }
          function validateRepairForm() {
                var isValid = true;
                $(".error").addClass('hide');
             if (ddlRepairName.val() === "") {
              $(".required-Repair").removeClass("hide");
                isValid = false;
             }
           return isValid;
          }

        $("#btnSubmitRepair").click(function (e) {
                e.preventDefault();
               if (validateRepairForm()) {

                var aryRepair = []; aryRepair.length = 0;
               var Repair = ddlRepairName.val();
                  aryRepair.push({
                   RepairId: Repair,
                  JobOrderId: hdfJobOrderId.val()
               });

                                    var data = JSON.stringify({ jobOrderRepairViewModels: aryRepair, jobOrderId: hdfJobOrderId.val() });
                                    console.log("Repair List");
                                    console.log(data);

                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/SaveJobOrderRepair', data, getToken())).then(function (res, status) {
                                        if (res === true && status === "success") {
                        $('.toastrDefaultSuccess').trigger('click');
                                            setTimeout(function () {
                                                redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId = jobOrder.JodOrderId })');
                                            }, 1000);
                                        }
                                        else {
                        $('.toastrDefaultError').trigger('click');
                                        }
                                    }).fail(function (error) {
                                        console.log(error);
                    $('.toastrDefaultError').trigger('click');
                                    });
                                }
                            });
        //Remarks For Ts
        var txtTSRemarks = $("#txtTSRemarks");

        function OpenTsRemarksModal() {
                                clearCtrlTsRemarks();
            $("#modalTsRemarks").modal("show");
            $(".error").addClass("hide");
                            }

        $("#btnTsRemarks").click(function (e) {
                                e.preventDefault();
                                clearCtrlTsRemarks();
                                OpenTsRemarksModal();
                            })
        function clearCtrlTsRemarks() {

                                txtTSRemarks.val('');
                            }
        $("#btnSave").click(function (e) {
            e.preventDefault();
            var data = JSON.stringify({ jobOrderId: TryParseInt( hdfJobOrderId.val(),0), remarks: txtTSRemarks.val() });
            console.log(data);
$.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/UpdateJobOrderTsRemarks', data, getToken())).then(function (res, status) {
                if (res === true && status === "success") {
    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId = jobOrder.JodOrderId })');
                    }, 1000);
                }
                else {
    $('.toastrDefaultError').trigger('click');
                }
            }).fail(function (error) {
                console.log(error);
$('.toastrDefaultError').trigger('click');
            });
        });

        //Requsition Page
        var hdfRequstionDetailForJobOrderId = $("#hdfRequstionDetailForJobOrderId");
        var ddlServicesWarehouse = $("#ddlServicesWarehouse");
        var ddlMobilePart = $("#ddlMobilePart");
        var txtStockInQty = $("#txtStockInQty");
        var txtRemarks = $("#txtRemarks");
        var hdfJobCodeId = $("#hdfJobCodeId");
        var hdfRequsitionDetailId = $("#hdfRequsitionDetailId");
        var hdfRowIndex = $("#hdfRowIndex");
        var stockQty = $("#stockQty");

        ddlMobilePart.change(function () {
            $("#stockQty").text('');
            if (ddlMobilePart.val() != "", hdfJobOrderId.val() != "") {
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Common2/GetPartsStockByParts', JSON.stringify({ partsId: ddlMobilePart.val(), jobOrderId: TryParseInt(hdfJobOrderId.val(),0) }), getToken())).then(function (res, status) {
                                console.log(res);
                                console.log(status);
                                if (status == "success") {
                        $("#stockQty").text('(' + res + ')');
                                }
                            }).fail(function (error) {
                                consoleLog(error);
                            })
            }

        })

        $("#btnReset").click(function (e) {
             e.preventDefault();
            clearDropdown("#ddlMobilePart");
            $("#tblRequsitionDetailForJobOrders tbody").empty();
            txtStockInQty.val('0');
            txtRemarks.val('');
        })
        function OpenModal() {
            $("#modalRequstionDetailForJobOrder").modal("show");
            $(".error").addClass("hide");
             clearCtrl();
        }

        $("#btnAddNew").click(function (e) {
             e.preventDefault();
             OpenModal();
        })

        function validateInput() {
            $('.error').addClass('hide');
               var isValid = true;
                var count = $("#tblRequsitionDetailForJobOrders tbody tr").length;
               if (count > 0) {
                $.each($("#tblRequsitionDetailForJobOrders tbody tr"), function (index, item) {
                     var partsId = $(this).children('td').eq(1).html();
                     if (partsId == ddlMobilePart.val()) {
                     isValid = false;
                     $(".duplicate-parts").removeClass('hide');
                      }
                })
            }
                if (TryParseInt(ddlServicesWarehouse.val(), 0) <= 0) {
                     isValid = false;
                $(".require-warehouse").removeClass("hide");
                   }
                if (TryParseInt(ddlMobilePart.val(), 0) <= 0) {
                       isValid = false;
                $(".require-parts").removeClass("hide");
                  }
               if (txtStockInQty.val() == "" || TryParseInt(txtStockInQty.val(), 0) <= 0) {
                    isValid = false;
                $(".required-qty").removeClass("hide");
                   }
                  return isValid;
              }

        $("#btnAddToList").click(function (e) {
                                e.preventDefault();
                                if (validateInput() == true) {
                                    disable("#ddlServicesWarehouse");
                                    var sl = $("#tblRequsitionDetailForJobOrders tbody tr").length;
                                    var td1 = "<td class='text-center text-bold'>" + (sl + 1) + "</td>"
                                    var td2 = "<td class='hide'>" + ddlMobilePart.val() + "</td>";
                                    var td3 = "<td>" + $("#ddlMobilePart option:selected").text() + "</td>";
                                    var td4 = "<td class='text-center'>" + txtStockInQty.val() + "</td>";
                                    var td5 = "<td>" + txtRemarks.val() + "</td>";
                                    var td6 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";

                                    var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + "</tr>";
                                    if ($("#tblRequsitionDetailForJobOrders tbody tr").length == 0) {
                    $("#tblRequsitionDetailForJobOrders tbody").append(tr);
                                    }
                else {
                    $("#tblRequsitionDetailForJobOrders tbody tr").eq(0).before(tr);
                                    }
                                    clearCtrl();
                                }
                            });

        function clearCtrl() {
                                ddlMobilePart.val('');
                                txtStockInQty.val('');
                                txtRemarks.val('');
                                stockQty.text('(0)');
                            }


        $(document).on("click", "a.data-onfly-del", function (e) {
                                e.preventDefault();
                                var index = $(this).parent().parents('tbody tr').index();
                                if (bootbox.confirm("Are you sure you want to delete?", function (result) {
                                    if (result === true) {
                                        removeTableRow("#tblRequsitionDetailForJobOrders tbody", index);
                                        fnFixTheTbodyRowSerialInDecsOrder("#tblRequsitionDetailForJobOrders", index);
                                    };
                                }));
                            })

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            if ($("#tblRequsitionDetailForJobOrders tbody tr").length > 0) {
                $(".error").addClass("hide");
                                bootbox.confirm("Are you sure you want to save?", function (result) {
                                    if (result) {
                                        disable("#btnSubmit");
                                        var info = {
                            JobOrderId: TryParseInt(hdfJobCodeId.val(), 0),
                            SWarehouseId: TryParseInt(ddlServicesWarehouse.val(),0),
                        };

                                    var details = []; details.length = 0;
                        $.each($("#tblRequsitionDetailForJobOrders tbody tr"), function (index, item) {
                                        var tds = $(this).children('td');
                                        var partsId = tds.eq('1').html();
                                        var qty = tds.eq('3').html();
                                        var rmk = tds.eq('4').html();

                                        details.push({
                                        RequsitionDetailForJobOrderId: 0,
                                PartsId: TryParseInt(partsId, 0),
                                Quantity: TryParseInt(qty, 0),
                                Remarks: rmk
                                        })
                        });

                                    var data = JSON.stringify({ info: info, details: details });
                                    console.log("Requsition Job Order");
                                    console.log(data);

                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/FrontDesk/SaveRequisitionInfoForJobOrder', data, getToken())).then(function (res, status) {
                                        console.log(res);
                                        console.log(status);
                                        enable("#btnSubmit");
                                        if (res == true) {
                                $('.toastrDefaultSuccess').trigger('click');

                                            setTimeout(function () {
                                                redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId=jobOrder.JodOrderId })');
                                            }, 1000);
                                        }
                                        else {
                                $('.toastrDefaultError').trigger('click');
                                        }
                                    }).fail(function (error) {
                                        consoleLog(error)
                                    })
                        enable("#btnSubmit");
                                }
                            });
            }
                                
        });
        function clearCtrlTsRemarks() {

                                txtTSRemarks.val('');
                            }

                            function OpenModalDetails() {
                                clearCtr()
                                $("#modalRequsitionJobOrderDetails").modal("show");
            $("#dataContainer1").empty();
                                hdfRequsitionDetailId.val('0');
                                hdfRowIndex.val("");

                            }

        $(document).on("click", "a.data-item-details", function (e) {
                                e.preventDefault();
                                OpenModalDetails()
            var data = {
                requsitionInfoId: TryParseInt($(this).attr("data-item-details"), 0)
            };
                            var idx = $(this).parent().parents('tr').index();
            $.when(getReqWithData('html', 'GET', '/FrontDesk/RequsitionForJobOrderDetails', data)).then(function (res, status) {
                                if (status == "success") {
                                    hdfRequsitionDetailId.val(data.requsitionInfoId);
                                    hdfRowIndex.val(idx)
                                    $("#dataContainer1").empty();
                    $("#dataContainer1").append(res);
                                }
                            }).fail(function (error) {
                                console.log(error);
                            })
            clearCtr()
        })

        function clearCtr() {
                                hdfRequsitionDetailId.val('0');
                                hdfRowIndex.val('0');
                            }
                            ////req end






                            ///TS Stock Return
        function OpenTSStockModal() {
            $("#modalTSStock").modal("show");
            $(".error").addClass("hide");
                            }

                            var jobOrderSignOutObj = {};

        $("#btnJobSingOut").click(function (e) {
                  jobOrderSignOutObj = {};
                  e.preventDefault();
            $("#tblStockByRequsition tbody").empty();
                var data = JSON.stringify({
                jobOrderId: TryParseInt(hdfJobOrderId.val(), 0)
                });
            $.when(postReqWithToken(dataType.applicationJson,dataType.json, type.post, '/FrontDesk/JobOrderTsStock', data,getToken())).then(function (response, status) {
                                    if (response != null && status == "success") {
                                        console.log("JobOrder Objects");
                                        jobOrderSignOutObj.jobOrder = response.jobOrder;
                                        jobOrderSignOutObj.tsStock = response.tsStock;
                                        fnJobOrderSignOut(jobOrderSignOutObj)
                                    }
                                }).fail(function (error) {
                                    console.log(error);
                         })
               });

        function fnJobOrderSignOut(jobOrderobj)
                            {
                                // Condition //
                                var info = jobOrderSignOutObj.jobOrder;// single obj
                                var stocks = jobOrderSignOutObj.tsStock; // list
                                console.log("fnJobOrderSignOut");
                                console.log(info);
                                console.log(stocks);
            if (info.TsRepairStatus === "QC") {
                // If Stocks avaiable // used qty
                if (stocks.length > 0) {
                    fnBindTsStockmodalForSignOut(stocks);
                }
                else {
                    fnSubmitJobSignOut(jobOrderSignOutObj);
                }
            }
            else if (info.TsRepairStatus === "RETURN WITHOUT REPAIR") {
                // not used qty
                // Direct Stock Singout
                fnSubmitJobSignOut(jobOrderSignOutObj);
            }
            else if (info.TsRepairStatus === "MODULE SWAP") {
                if (validateIMEIForm() == true) {
                    fnSubmitJobSignOut(jobOrderSignOutObj);
                }
            }
        }
        function validateIMEIForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if (TryParseInt(hdfJobOrderId.val(), 0) == 0) {
                $(".require-IMEI1").removeClass("hide");
                isValid = false;
            }
            else {
                if (ajaxBooleanChecker(JSON.stringify({ jobId: TryParseInt(hdfJobOrderId.val(), 0) }), '/Common2/ExistJobOrderForIMEI',
                    getToken()) == true){
                    $(".newHandset-IMEI1").removeClass("hide");
                    isValid = false;
                }
            } 
            return isValid;
        }

                            function fnBindTsStockmodalForSignOut(stocks) {
            $("#tblStockByRequsition tbody").empty();
                                if (!$.isEmptyObject(stocks)) { // list
                $.each(stocks, function (index,item) {
                                        var td1 = "<td>" + (index + 1) + "</td>";
                                        var td2 = "<td class='hide'>" + item.RequsitionInfoForJobOrderId + "</td>";
                                        var td3 = "<td>" + item.RequsitionCode+"</td>";
                                        var td4 = "<td class='hide'>"+item.PartsId+"</td>";
                                        var td5 = "<td>" + item.PartsName+"</td>";
                    var td6 = "<td class='text-center'>" + item.Quantity + "</td>";
                                        var td7 = "<td class='text-center' style='width:15%'><input type='number' value=0 class='form-control form-control-sm' name='usedQty' /></td>";
                    var td8 = "<td class='hide'></td>";
                    
                                        var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + "</tr>";
                    $("#tblStockByRequsition tbody").append(tr);
                                    })
                OpenTSStockModal();
                                }
        }




               function fnSubmitJobSignOut(obj) {
                       console.log("Fooooo");
                      console.log(obj); // Final Obj

                       var stocks = []; stocks.length;

                       var info = {
                TsRepairStatus: obj.jobOrder.TsRepairStatus,
                JobOrderId: obj.jobOrder.JodOrderId,
                TSId: obj.jobOrder.TSId
                                };

            $.each(obj.tsStock, function (index,item) {
                    stocks.push({
                    RequsitionInfoForJobOrderId: item.RequsitionInfoForJobOrderId,
                    RequsitionCode: item.RequsitionCode,
                    PartsId: item.PartsId,
                    PartsName: item.PartsName,
                    Quantity: item.Quantity,
                    UsedQty:item.UsedQty
                                });
                            })
            info.StockDetails = stocks;
            console.log(info);


            // JobOrder, jobOrderId, TsStatus , Stock
            var data = JSON.stringify({ servicesStockViewModel: info});
                    console.log("stock Return");
                    console.log(data);
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/FrontDesk/SaveReturnStockandTsStockOut', data, getToken())).then(function (res, status) {
                                console.log(res);
                                console.log(status);
                                if (res == true) {
                    $('.toastrDefaultSuccess').trigger('click');

                                    setTimeout(function () {
                                        redirectPage('@Url.Action("GetJobOrdersTS")');
                                    }, 1000);
                                }
                                else {
                    $('.toastrDefaultError').trigger('click');
                                }
                            }).fail(function (error) {
                                consoleLog(error)
                            });
        }

        $("#btnReturnStock").click(function (e) {
                                e.preventDefault();
                                var tbllength = $("#tblStockByRequsition tbody").length;
                                if (tbllength > 0) {
                $.each(jobOrderSignOutObj.tsStock, function (index, item) {
                    $.each($("#tblStockByRequsition tbody tr"), function (ix, it) {
                                            var tds = $(this).children('td');
                                            var pId = tds.eq(3).html();
                                            var iuputQty = tds.eq(6).children('input').val();
                                            if (item.PartsId == pId) {
                                            item.UsedQty = TryParseInt(iuputQty,0);
                          }
                    })
                })
            }
            fnSubmitJobSignOut(jobOrderSignOutObj);
        });

        function fnDisableRowsInputElementByRepairStatus()
        {
            if ($(".tblStockByRequsition tbody tr").length > 0)
            {
                var repairtext = $(".tblStockByRequsition tbody").children("tr").eq(0).children('td').eq('7').html();
                //salert("repairtext=" + repairtext)
                if (repairtext !== "REPAIR AND RETURN") {
                    $("input[name='usedQty']").prop("disabled", true);
                }
            }
        }

        //////
        $(document).ready(function () {
            if ($("#repairName").text() == "QC" || $("#repairName").text() == "RETURN WITHOUT REPAIR") {
                $("#btnjobsign").show();
               // $("#btnHandsetchange").hide();
                $("#changeIMEI1").hide();
                $("#changeIMEI2").hide();
                $("#changeModel").hide();
                $("#changeColor").hide();
                $("#changeButton").hide();
            }
            else if ($("#repairName").text() == "MODULE SWAP") {
                //$("#btnHandsetchange").show();
                $("#btnjobsign").show();
                $("#changeIMEI1").show();
                $("#changeIMEI2").show();
                $("#changeModel").show();
                $("#changeColor").show();
                $("#changeButton").show();
            }
            else {
                //$("#btnHandsetchange").hide();
                $("#btnjobsign").hide();
                $("#changeIMEI1").hide();
                $("#changeIMEI2").hide();
                $("#changeModel").hide();
                $("#changeColor").hide();
                $("#changeButton").hide();
            }
        });

        ///////Handset Changes////////
        var txtIMEI1 = $("#txtIMEI1");
        var txtIMEI2 = $("#txtIMEI2");
        var ddlModelName = $("#ddlModelName");
        var ddlModelColor = $("#ddlModelColor");

        $("#btnHandsetChangeSave").click(function (e) {
           e.preventDefault();
            if (validateChangeHForm()) {
                var data = JSON.stringify({ jobId: TryParseInt(hdfJobOrderId.val(), 0), imei1: txtIMEI1.val(), imei2: txtIMEI2.val(), modelId: ddlModelName.val(), color: ddlModelColor.val() });
                console.log("ChangeList");
                console.log(data);
                //return console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/UpdateAndChangeJobOrder', data, getToken())).then(function (res, status) {
                       if (res === true && status === "success") {
                         $('.toastrDefaultSuccess').trigger('click');
                          setTimeout(function () {
                            redirectPage('@Url.Action("ServicesDetails","FrontDesk",new { @joborderId = jobOrder.JodOrderId })');
                            }, 1000);
                          }
                       else {
                         $('.toastrDefaultError').trigger('click');
                            }
                       }).fail(function (error) {
                        console.log(error);
                    $('.toastrDefaultError').trigger('click');
                        });
                 }
        });

        function validateChangeHForm() {
            var isValid = true;
            $(".error").addClass('hide');
            if (txtIMEI1.val() === "") {
                $(".require-IMEI1").removeClass("hide");
                isValid = false;
            }
            else {
                if (ajaxBooleanChecker(JSON.stringify({ iMEI: txtIMEI1.val().trim(), jobOrdeId: hdfJobOrderId.val() }), '/Common2/IsIMEIExistWithRunningJobOrder', getToken()) == true) {
                    $(".duplicate-IMEI1").removeClass("hide");
                    isValid = false;
                }
            }
            if (txtIMEI1.val().length !== 15) {
                $(".require-len-IMEI1").removeClass("hide");
                isValid = false;
            }
            //if (txtIMEI2.val() === "") {
            //    $(".require-IMEI2").removeClass("hide");
            //    isValid = false;
            //}
            //if (txtIMEI2.val().length !== 15) {
            //    $(".require-len-IMEI2").removeClass("hide");
            //    isValid = false;
            //}
            if (ddlModelName.val() === "") {
                $(".require-modelName").removeClass("hide");
                isValid = false;
            }
            if (ddlModelColor.val() === "") {
                $(".require-ModelColor").removeClass("hide");
                isValid = false;
            }
            return isValid;
        }

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}