
@{
    ViewBag.Title = "TS Requsition Report";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-pills" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-requsitionReport-tab" data-toggle="pill" href="#custom-tabs-two-requsitionReport" role="tab" aria-controls="custom-tabs-two-requsitionReport" aria-selected="true">Requsition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-requsitionOtherBranchReport-tab" data-toggle="pill" href="#custom-tabs-two-requsitionOtherBranchReport" role="tab" aria-controls="custom-tabs-two-requsitionOtherBranchReport" aria-selected="true">Requsition(Other Branches)</a>
                    </li>
                </ul>
            </div>
            <div class="card-body shadow">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-requsitionReport" role="tabpanel" aria-labelledby="custom-tabs-two-requsitionReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Requsition Report
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body text-sm">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("TSRequsitionReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12 mb-2">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="txtReqCode" class="control-label font-weight-bold">Requisition Code</label>
                                                            <input type="text" name="reqCode" id="txtReqCode" class="form-control form-control-sm" placeholder="Search By Requisition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">Job Code</label>
                                                            <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                                        </div>
                                                        <div class="col-md-4 hide">
                                                            <label for="ddlWarehouseName" class="control-label font-weight-bold">Warehouse Name</label>
                                                            @Html.DropDownList("ddlWarehouseName", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouseName, "--Select ServicesWarehouse--", new { @class = "form-control form-control-sm ctrl-changed" })
                                                            <span class="error hide required-warehouseName font-weight-bold">Required Warehouse Name!</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="ddlTechnicalServicesName" class="control-label font-weight-bold">TS Name</label>
                                                            @Html.DropDownList("ddlTechnicalServicesName", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName, "--Select TSName--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="ddlStateStatus" class="control-label font-weight-bold">Status</label>
                                                            @Html.DropDownList("reqStatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm ctrl-changed" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                                                <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-sm">
                                                        <div class="col-md-1">
                                                            <label for="rptType">Type</label>
                                                            <select name="rptType" id="rptType" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download</label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 mt-3 text-sm" id="dataContainer">
                                                @{Html.RenderAction("TSRequsitionInfoForJobOrderPartialListList", new { @flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show " id="custom-tabs-two-requsitionOtherBranchReport" role="tabpanel" aria-labelledby="custom-tabs-two-requsitionOtherBranchReport-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card shadow card-gray-dark">
                                    <div class="card-header shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Requsition Report(Other Branches)
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card shadow card-navy">
                                    <div class="card-body">
                                        @Html.AntiForgeryToken()
                                        @using (Html.BeginForm("OtherBranchRequsitionReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                                        {
                                            <div class="col-md-12 mb-2">
                                                <form method="get">
                                                    <div class="row text-sm">
                                                        <div class="col-md-2">
                                                            <label for="txtReqCode2" class="control-label font-weight-bold">Requisition Code</label>
                                                            <input type="text" name="reqCode2" id="txtReqCode2" class="form-control form-control-sm" placeholder="Search By Requisition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
                                                        </div>
                                                        <div class="col-md-4 hide">
                                                            <label for="ddlWarehouseName2" class="control-label font-weight-bold">Warehouse Name</label>
                                                            @Html.DropDownList("ddlWarehouseName2", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouseName2, "--Select ServicesWarehouse--", new { @class = "form-control form-control-sm ctrl-changed" })
                                                            <span class="error hide required-warehouseName font-weight-bold">Required Warehouse Name!</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="ddlTechnicalServicesName2" class="control-label font-weight-bold">TS Name</label>
                                                            @Html.DropDownList("ddlTechnicalServicesName2", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName2, "--Select TSName--", new { @class = "form-control form-control-sm" })
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="ddlStateStatus2" class="control-label font-weight-bold">Status</label>
                                                            @Html.DropDownList("reqStatus2", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus2, "--Select Status--", new { @class = "form-control form-control-sm ctrl-changed" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">From Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate2" name="fromDate2" />
                                                                <div class="input-group-prepend cursor-pointer remove-date dptFromDate2" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label font-weight-bold">To Date</label>
                                                            <div class="input-group input-group-sm ">
                                                                <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate2" name="toDate2" />
                                                                <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                                    <span class="input-group-text">&#10008;</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="rptType2">Type</label>
                                                            <select name="rptType2" id="rptType2" class="form-control form-control-sm">
                                                                <option value="PDF">PDF</option>
                                                                <option value="EXCEL">EXCEL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label for="Download" style="visibility:hidden">Download</label>
                                                            <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 text-sm" id="dataContainer1">
                                                @{Html.RenderAction("TSOtherBranchRequsitionReport", new { flag = "view" });}
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @*<div class="row">
        <div class="col-md-12 text-center">
            <div class="card card-gray shadow">
                <div class="card-header">
                    <h4>TS Requsition Report</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    @Html.AntiForgeryToken()
                    @using (Html.BeginForm("TSRequsitionReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                    {
                        <div class="col-md-12 mb-2">
                            <form method="get">
                                <div class="row text-sm">
                                    <div class="col-md-2">
                                        <label for="txtReqCode" class="control-label font-weight-bold">Requisition Code</label>
                                        <input type="text" name="reqCode" id="txtReqCode" class="form-control form-control-sm" placeholder="Search By Requisition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">JobCode</label>
                                        <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" name="jobCode" />
                                    </div>
                                    <div class="col-md-4 hide">
                                        <label for="ddlWarehouseName" class="control-label font-weight-bold">Warehouse Name</label>
                                        @Html.DropDownList("ddlWarehouseName", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouseName, "--Select ServicesWarehouse--", new { @class = "form-control form-control-sm ctrl-changed" })
                                        <span class="error hide required-warehouseName font-weight-bold">Required Warehouse Name!</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlTechnicalServicesName" class="control-label font-weight-bold">TSName</label>
                                        @Html.DropDownList("ddlTechnicalServicesName", (IEnumerable<SelectListItem>)ViewBag.ddlTechnicalServicesName, "--Select TSName--", new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlStateStatus" class="control-label font-weight-bold">Status</label>
                                        @Html.DropDownList("reqStatus", (IEnumerable<SelectListItem>)ViewBag.ddlStateStatus, "--Select Status--", new { @class = "form-control form-control-sm ctrl-changed" })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">From Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label font-weight-bold">To Date</label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                <span class="input-group-text">&#10008;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-sm">
                                    <div class="col-md-1">
                                        <label for="rptType">Type</label>
                                        <select name="rptType" id="rptType" class="form-control form-control-sm">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label for="Download" style="visibility:hidden">Download</label>
                                        <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 mt-3 text-sm" id="dataContainer">
                            @{Html.RenderAction("TSRequsitionInfoForJobOrderPartialListList");}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@
</div>

@section scripts{
    <script type="text/javascript">
        var hdfRequstionDetailForJobOrderId = $("#hdfRequstionDetailForJobOrderId");
        var ddlWarehouseName = $("#ddlWarehouseName");
        var txtReqCode = $("#txtReqCode");
        var reqStatus = $("#reqStatus");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var hdfJobCodeId = $("#hdfJobCodeId");
        var hdfRequsitionDetailId = $("#hdfRequsitionDetailId");
        var hdfRowIndex = $("#hdfRowIndex");
        var ddlTechnicalServicesName = $("#ddlTechnicalServicesName");
        var txtJobCode = $("#txtJobCode");
        var pageNo = 1;
        //Other Branch Requsition
        var hdfRequstionDetailForJobOrderId2 = $("#hdfRequstionDetailForJobOrderId2");
        var ddlWarehouseName2 = $("#ddlWarehouseName2");
        var txtReqCode2 = $("#txtReqCode2");
        var ddlStateStatus2 = $("#ddlStateStatus2");
        var dptFromDate2 = $("#dptFromDate2");
        var dptToDate2 = $("#dptToDate2");
        var hdfJobCodeId2 = $("#hdfJobCodeId2");
        var hdfRequsitionDetailId2 = $("#hdfRequsitionDetailId2");
        var hdfRowIndex2 = $("#hdfRowIndex2");
        var ddlTechnicalServicesName2 = $("#ddlTechnicalServicesName2");

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate2.prop('readonly', true);
            dptToDate2.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            dptFromDate2.css("background-color", "#fff");
            dptToDate2.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptFromDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });

            $('.action').addClass('hide');
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptToDate2")) {
                if (dptToDate2.val() !== '') {
                    dptToDate2.val('');
                    LoadDataTableForOtherBRequsition();
                }
            }
            if ($(this).hasClass("dptFromDate2")) {
                if (dptFromDate2.val() !== '') {
                    dptFromDate2.val('');
                    LoadDataTableForOtherBRequsition();
                }
            }
        })

        txtReqCode.keyup(function () {
            LoadDataTable();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTable();
        })
        ddlTechnicalServicesName.change(function () {
            LoadDataTable();
        })
        txtJobCode.keyup(function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { reqCode: txtReqCode.val().trim(), jobCode: txtJobCode.val().trim(), warehouseId: TryParseInt(ddlWarehouseName.val(), 0), tsId: TryParseInt(ddlTechnicalServicesName.val(), 0), status: reqStatus.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), page: pageNo };

            $.when(getReqWithData('html', 'GET', '/FrontDesk/TSRequsitionInfoForJobOrderPartialListList', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                        $('.action').addClass('hide');
                    });
                }
            }).fail(function (error) {
                console.log(error);
                })
            pageNo = 1;
        }
        //Other Branch Requsition
        txtReqCode2.keyup(function () {
            LoadDataTableForOtherBRequsition();
        })

        $(document).on('change', '.ctrl-changed', function () {
            LoadDataTableForOtherBRequsition();
        })
        ddlTechnicalServicesName2.change(function () {
            LoadDataTableForOtherBRequsition();
        })

        function LoadDataTableForOtherBRequsition() {
            var data = { reqCode: txtReqCode2.val().trim(), warehouseId: TryParseInt(ddlWarehouseName2.val(), 0), tsId: TryParseInt(ddlTechnicalServicesName2.val(), 0), rstatus: ddlStateStatus2.val(), fromDate: dptFromDate2.val(), toDate: dptToDate2.val(), page: pageNo };

            $.when(getReqWithData('html', 'GET', '/FrontDesk/AnotherBranchRequsitionPartialList', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                        $('.action').addClass('hide');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }


        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                if ($(this).parent().parents('div').hasClass('requsition')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTable();
                }
                else if ($(this).parent().parents('div').hasClass('otherBRequsition')) {
                    pageNo = $(this).attr('data-page-no');
                    LoadDataTableForOtherBRequsition();
                }
            }
        })
        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}
