@model IEnumerable<ERPBO.Configuration.ViewModels.DealerSSViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-sm table-striped" tblDealerData id="tblDealerData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle">Name</th>
                    <th style="vertical-align:middle">Code</th>
                    <th style="vertical-align:middle">Address</th>
                    <th style="vertical-align:middle">Mobile</th>
                    <th style="vertical-align:middle">Tel No.</th>
                    <th style="vertical-align:middle">Email</th>
                    <th style="vertical-align:middle">Division</th>
                    <th style="vertical-align:middle">District</th>
                    <th style="vertical-align:middle">Zone</th>
                    <th style="vertical-align:middle">Contract P Name</th>
                    <th style="vertical-align:middle">Contract P Number</th>
                    <th style="vertical-align:middle">Remarks</th>
                    <th style="vertical-align:middle">Entry Date</th>
                    <th style="vertical-align:middle">Entry User</th>
                    <th style="vertical-align:middle" class="hide">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dealer in Model)
                {
                    sl = sl + 1;
                    string entryDate = dealer.EntryDate != null ? dealer.EntryDate.Value.ToString("dd-MMM-yyy") : "";
                    <tr>
                        <td class="text-center" width="10%">@sl</td>
                        <td class="hide">@dealer.DealerId</td>
                        <td>@dealer.DealerName</td>
                        <td>@dealer.DealerCode</td>
                        <td>@dealer.Address</td>
                        <td>@dealer.MobileNo</td>
                        <td>@dealer.TelephoneNo</td>
                        <td>@dealer.Email</td>
                        <td>@dealer.DivisionName</td>
                        <td>@dealer.DistrictName</td>
                        <td>@dealer.ZoneName</td>
                        <td>@dealer.ContactPersonName</td>
                        <td>@dealer.ContactPersonMobile</td>
                        <td>@dealer.Remarks</td>
                        <td>@entryDate</td>
                        <td>@dealer.EntryUser</td>
                        <td class="text-center hide">
                            <a href="#" class="btn btn-outline-warning btn-sm data-edit-dealer" title="Edit" data-edit-dealer="@dealer.DealerId"><i class="fas fa-pencil-alt"></i> </a>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="13">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12 dealer">
    @Html.Partial("_Pagination", pagerData)
</div>



