@model IEnumerable<ERPBO.FrontDesk.ViewModels.FaultyStockAssignTSViewModel>

@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    int stock = 0;
}
<div class="row" style="overflow-y:scroll">
    <table class="table table-bordered table-sm table-striped tblFaultyStockAssignTS" id="tblFaultyStockAssignTS">
        <thead class="btn-dark">
            <tr class="text-center">
                <th style="vertical-align:middle">
                    <input type="checkbox" id="chkAll" class="chkAll" name="allItem" />
                </th>
                <th>#SL</th>
                <th class="hide"></th>
                <th class="hide"></th>
                <th>Model</th>
                <th>Parts Name</th>
                <th>Cost Price</th>
                <th>Sell Price</th>
                <th>Qty.</th>
                <th>Repaired Qty.</th>
                <th>Scraped Qty.</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tbody>
            @foreach (var info in Model)
            {
                sl = sl + 1;
            <tr data-item-row="notSelected">
                <td class="btn-dark text-center" style="vertical-align:middle;width:5%">
                    <input type="checkbox" class="chkItem" name="item"/>
                </td>
                <td class="text-center text-bold">@sl</td>
                <td class="hide">@info.FaultyStockAssignTSId</td>
                <td class="hide">@info.PartsId</td>
                <td class="text-center">@info.ModelName</td>
                <td class="text-center">@info.MobilePartName</td>
                <td class="text-center">@info.CostPrice.ToString("0.00 Tk")</td>
                <td class="text-center">@info.SellPrice.ToString("0.00 Tk")</td>
                <td class="text-center">@info.Quantity</td>
                <td class="text-center">
                    <input type="number" class="form-control form-control-sm text-center" value="@info.Quantity" />
                </td>
                <td class="text-center">
                    <input type="number" class="form-control form-control-sm text-center" value="0" />
                </td>
            </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="13">
                        No data available in table
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="FaultyStockTSAssign">
    @Html.Partial("_Pagination", pagerData)
</div>


