@model IEnumerable<ERPBO.Configuration.ViewModels.FaultyStockTransferDetailsViewModel>
@{
    int sl = 0;
    string status = (string)ViewBag.ddlStatus;
}
<table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblTransferStockDetails">
    <thead class="btn-dark">
        <tr class="text-center">
            <th style="vertical-align:middle">#SL</th>
            <th class="hide"></th>
            <th class="hide"></th>
            <th>Model</th>
            <th class="hide"></th>
            <th>Parts Name</th>
            <th>Parts Code</th>
            <th>Qty.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var details in Model)
        {
            sl = sl + 1;
        <tr>
            <td class="text-center text-bold">@sl</td>
            <td class="hide">@details.FSTInfoId</td>
            <td class="hide">@details.ModelId</td>
            <td>@details.ModelName</td>
            <td class="hide">@details.PartsId</td>
            <td>@details.PartsName</td>
            <td class="text-center">@details.PartsCode</td>
            <td class="text-center">@details.Quantity</td>
        </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center empty-row">
                <td colspan="14">
                    No data found in table
                </td>
            </tr>
        }
    </tbody>
</table>
@if (status == "Send")
{
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success btnReceived">Receive</button>
    </div>
}