@model IEnumerable<ERPBO.Configuration.ViewModels.ClientProblemViewModel>
@{ 
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    Layout = null;
}
<div class="col-md-12 text-sm">
    <table class="table table-bordered table-sm table-striped" id="tblClientProblemData">
        <thead class="btn-dark">
            <tr class="text-center">
                <th>#SL</th>
                <th class="hide"></th>
                <th>Handset Symptom Name</th>
                <th>Remarks</th>
                <th>Entry Date</th>
                <th>Entry User</th>
                <th class="hide">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                sl = sl + 1;
                string entryDate = client.EntryDate != null ? client.EntryDate.Value.ToString("dd-MMM-yyy") : "";
                <tr>
                    <td class="text-center" width="10%">@sl</td>
                    <td class="hide">@client.ProblemId</td>
                    <td>@client.ProblemName</td>
                    <td class="text-center">@client.Remarks</td>
                    <td>@entryDate</td>
                    <td>@client.EntryUser</td>
                    <td class="text-center hide">
                        <a href="#" class="btn btn-outline-warning btn-sm data-edit-item-symptom" title="Edit" data-edit-item-symptom="@client.ProblemId"><i class="fas fa-pencil-alt"></i> </a>
                        <a href="#" class="btn btn-outline-danger btn-sm data-del-item-symptom" title="Delete" data-del-item-symptom="@client.ProblemId"><i class="far fa-trash-alt"></i> </a>
                    </td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="5">
                        No Rows Found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-12 symptom">
    @Html.Partial("_Pagination", pagerData)
</div>