@model IEnumerable<ERPBO.Configuration.ViewModels.HandSetStockViewModel>
@{
    var pagerData = (ERPWeb.Infrastructure.PagerData)ViewBag.PagerData;
    int sl = pagerData.Serial;
    string badge1 = string.Empty;
}
<div class="row">
    <table class="table table-bordered table-sm table-striped" id="tblHandsetStock">
        <thead class="btn-dark">
            <tr class="text-center">
                <th>#SL</th>
                <th class="hide"></th>
                <th class="hide"></th>
                <th class="hide"></th>
                <th>IMEI-1</th>
                <th>IMEI-2</th>
                <th>StateStatus</th>
                <th>Model</th>
                <th>Color</th>
                <th>Type</th>
                <th class="hide">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tbody>
            @foreach (var info in Model)
            {
                sl = sl + 1;
                badge1 = info.StateStatus == "Stock-In" ? "badge bg-success" : "badge bg-warning";
            <tr>
                <td class="text-center text-bold">@sl</td>
                <td class="hide">@info.HandSetStockId</td>
                <td class="hide">@info.DescriptionId</td>
                <td class="hide">@info.ColorId</td>
                <td class="text-center">@info.IMEI1</td>
                <td class="text-center">@info.IMEI</td>
                <td class="text-center" data-val="@info.StateStatus">
                    <span class="@badge1">@info.StateStatus</span>
                </td>
                <td class="text-center" data-val="@info.DescriptionId">@info.ModelName</td>
                <td class="text-center" data-val="@info.ColorId">@info.ColorName</td>
                <td class="text-center">@info.StockType</td>
                <td class="text-center hide">
                    <a href="#" class="btn btn-warning btn-sm data-edit-item" data-edit-item="@info.HandSetStockId" style="line-height:1"><i class="fa fa-pen"></i>Edit</a>
                </td>
            </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="13">
                        No data available in table
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="handsetStock">
    @Html.Partial("_Pagination", pagerData)
</div>

