@model IEnumerable<ERPBO.Configuration.ViewModels.TransferDetailViewModel>
@{
    int sl = 0;
    Layout = null;
}
<table class="table table-bordered table-sm table-striped table-responsive-lg tblDataDetail text-sm" id="tblDataDetail">
    <thead class="btn-dark">
        <tr class="text-center text-sm">
            <th>#SL</th>
            <th class="hide"></th>
            <th class="hide"></th>
            <th class="hide"></th>
            <th>Model</th>
            <th>Parts Name</th>
            <th>Parts Code</th>
            <th>Request Qty</th>
            <th>Issue Qty</th>
            <th>Available Qty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr class="text-sm text-bold">
                <td class="text-center text-bold" style="width:5%">@sl</td>
                <td class="hide">@item.TransferDetailId</td>
                <td class="hide">@item.PartsId</td>
                <td class="hide">@item.DescriptionId</td>
                <td>@item.Model</td>
                <td>@item.PartsName</td>
                <td>@item.PartsCode</td>
                <td class="text-center" style="width:10%">@item.Quantity</td>
                <td style="width:10%">
                    <input type="number" class="issueQty form-control form-control-sm" value="0" />
                </td>
                <td class="text-center" style="width:10%">
                    @item.AvailableQty
                </td>
            </tr>
        }
    </tbody>
</table>
