@model IEnumerable<ERPBO.Configuration.ViewModels.CustomerViewModel>
@{
    ViewBag.Title = "Customer List";
    int sl = 0;
}

<div class="row">
    <div class="col-md-12 text-center">
        <h4><b style="color:darkblue">Customer List</b></h4>
        <hr />
    </div>
    <div class="col-md-12 mb-2">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblCustomerData tbody tr',this)" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary btn-sm" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Add New Customer</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-sm table-striped" id="tblCustomerData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th>CustomerName</th>
                    <th>Address</th>
                    <th>Phone No.</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cus in Model)
                {
                    sl = sl + 1;
                <tr>
                    <td class="text-center" width="10%">@sl</td>
                    <td class="hide">@cus.CustomerId</td>
                    <td>@cus.CustomerName</td>
                    <td>@cus.CustomerAddress</td>
                    <td>@cus.CustomerPhone</td>
                    <td class="text-center">@cus.Remarks</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-warning btn-sm data-edit-item" data-edit-item="@cus.CustomerId"><i class="fa fa-pen"></i> Edit</a>
                        <a href="#" class="btn btn-danger btn-sm data-del-item" data-del-item="@cus.CustomerId"><i class="fa fa-pen"></i> Delete</a>
                    </td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="5">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalCustomer" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Customer</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfCustomerId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtCustomerName" class="control-label font-weight-bold">CustomerName</label>
                            <input type="text" name="txtCustomerName" value="" id="txtCustomerName" class="form-control form-control-sm" />
                            <span class="error hide required-customerName font-weight-bold">Input Customer Name!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtCustomerAddress" class="control-label font-weight-bold">CustomerAddress</label>
                            <input type="text" name="txtCustomerAddress" value="" id="txtCustomerAddress" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtCustomerPhone" class="control-label font-weight-bold">CustomerMobile Number</label>
                            <input type="text" name="txtCustomerPhone" value="" id="txtCustomerPhone" class="form-control form-control-sm" />
                            <span class="error hide required-customerPhone font-weight-bold">Input Customer Mobile No!</span>
                            <span class="error hide duplicate-customerPhone font-weight-bold">Already Customer Mobile No Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfCustomerId = $("#hdfCustomerId");
        var txtCustomerName = $("#txtCustomerName");
        var txtCustomerAddress = $("#txtCustomerAddress");
        var txtCustomerPhone = $("#txtCustomerPhone");
        var txtRemarks = $("#txtRemarks");

        $(document).ready(function () {
            $('#tblCustomerData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            clearCtrl();
            $("#spanModalHead").text('Add New Customer');
            $("#spanSaveText").text('Save');
            $("#modalCustomer").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            clearCtrl();
            OpenModal();
        })

        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtCustomerPhone.val()) == "") {
                $(".required-customerPhone").removeClass("hide");
                isValid = false;
            }
            else {
                var id = TryParseInt(hdfCustomerId.val(), 0);
                if (ajaxBooleanChecker(JSON.stringify({ id: id, CustomerPhone: txtCustomerPhone.val().trim() }), '/Common2/IsDuplicateCustomerPhone', getToken()) == true) {
                    $(".duplicate-customerPhone").removeClass("hide");
                    isValid = false;
                }
            }
            if ($.trim(txtCustomerName.val()) == "") {
                $(".required-customerName").removeClass("hide");
                isValid = false;
            }
            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $(".error").addClass("hide");
            if (validateForm() == true) {
                var data = JSON.stringify({
                    CustomerId: TryParseInt(hdfCustomerId.val(), 0),
                    CustomerName: txtCustomerName.val(),
                    CustomerAddress: txtCustomerAddress.val(),
                    CustomerPhone: txtCustomerPhone.val(),
                    Remarks: txtRemarks.val()
                });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/SaveCustomer', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#tblCustomerData");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }

        })
        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault()
            OpenModal()
            $("#spanModalHead").text('Update Customer');
            $("#spanSaveText").text('Update');
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();

            hdfCustomerId.val(td1);
            txtCustomerName.val(td2);
            txtCustomerAddress.val(td3)
            txtCustomerPhone.val(td4);
            txtRemarks.val(td5)

        })

        function clearCtrl() {
            hdfCustomerId.val('0');
            txtCustomerName.val('');
            txtCustomerAddress.val('');
            txtCustomerPhone.val('');
            txtRemarks.val('');
        }

        $(document).on('click', 'a.data-del-item', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-del-item');
            var index = $(this).parent().parents('tr').index();
            bootbox.confirm('Are you sure you want to delete', function (result) {
                if (result) {

                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/DeleteCustomer', JSON.stringify({ id: id }), getToken())).then(function (res, status) {
                        console.log(status);
                        console.log(res);
                        if (res === true) {
                            $('.toastrDefaultDelete').trigger('click');
                            fnRemoveARowFromTbody("#tblCustomerData", index);
                        }
                        else {
                            $('.toastrDefaultError').trigger('click');
                        }
                    }).fail(function (err) {
                        $('.toastrDefaultError').trigger('click');
                        console.log(err);
                    });
                }
            })
        })
    </script>
    }