@model IEnumerable<ERPBO.Configuration.ViewModels.RepairViewModel>
@{
    ViewBag.Title = "Repair List";
    int sl = 0;
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Repair List</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblRepairData tbody tr',this)" />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-primary btn-sm" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Add New Repair</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm">
                        <table class="table table-bordered table-sm table-striped" id="tblRepairData">
                            <thead class="btn-dark">
                                <tr class="text-center">
                                    <th>#SL</th>
                                    <th class="hide"></th>
                                    <th>RepairName</th>
                                    <th>RepairCode</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rep in Model)
                                {
                                    sl = sl + 1;
                                    <tr>
                                        <td class="text-center" width="10%">@sl</td>
                                        <td class="hide">@rep.RepairId</td>
                                        <td>@rep.RepairName</td>
                                        <td>@rep.RepairCode</td>
                                        <td>@rep.Remarks</td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-outline-warning btn-sm data-edit-item" title="Edit" data-edit-item="@rep.RepairId"><i class="fas fa-pencil-alt"></i> </a>
                                            <a href="#" class="btn btn-outline-danger btn-sm data-del-item" title="Delete" data-del-item="@rep.RepairId"><i class="far fa-trash-alt"></i> </a>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Count() == 0)
                                {
                                    <tr class="text-center empty-row">
                                        <td colspan="5">
                                            No Rows Found
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalRepair" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Repair</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmAccessories">
                    <input type="hidden" name="Id" id="hdfRepairId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRepairName" class="control-label font-weight-bold">RepairName</label>
                            <input type="text" name="txtRepairName" value="" id="txtRepairName" class="form-control form-control-sm" />
                            <span class="error hide required-repairName font-weight-bold">Input Repair Name!</span>
                            <span class="error hide duplicate-repairName font-weight-bold">Already Repair Name Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRepairCode" class="control-label font-weight-bold">Repair Code</label>
                            <input type="text" name="txtRepairCode" value="" id="txtRepairCode" class="form-control form-control-sm" />
                            <span class="error hide required-repairCode font-weight-bold">Input Repair Code!</span>
                            <span class="error hide duplicate-repairCode font-weight-bold">Already Repair Code Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfRepairId = $("#hdfRepairId");
        var txtRepairName = $("#txtRepairName");
        var txtRepairCode = $("#txtRepairCode");
        var txtRemarks = $("#txtRemarks");

        $(document).ready(function () {
            $('#tblRepairData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            clearCtrl();
            $("#spanModalHead").text('Add New Repair');
            $("#spanSaveText").text('Save');
            $("#modalRepair").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            clearCtrl();
            OpenModal();
        })

        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtRepairName.val()) == "") {
                $(".required-repairName").removeClass("hide");
                isValid = false;
            }
            else {
                var id = TryParseInt(hdfRepairId.val(), 0);
                if (ajaxBooleanChecker(JSON.stringify({ id: id, repairName: txtRepairName.val().trim() }), '/Common2/IsDuplicateRepairNameC', getToken()) == true) {
                    $(".duplicate-repairName").removeClass("hide");
                    isValid = false;
                }
            }
            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            if (validateForm() == true) {
                $(".error").addClass("hide");
                var data = JSON.stringify({ RepairId: TryParseInt(hdfRepairId.val(), 0), RepairName: txtRepairName.val(), RepairCode: txtRepairCode.val(), Remarks: txtRemarks.val() });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/SaveRepair', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#tblRepairData");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }
        })

        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault()
            OpenModal()
            $("#spanModalHead").text('Update Repair');
            $("#spanSaveText").text('Update');
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();

            hdfRepairId.val(td1);
            txtRepairName.val(td2);
            txtRepairCode.val(td3);
            txtRemarks.val(td4)

        })

        function clearCtrl() {
            hdfRepairId.val('0');
            txtRepairName.val('');
            txtRepairCode.val('');
            txtRemarks.val('');
        }

        //data-del-item

        $(document).on('click', 'a.data-del-item', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-del-item');
            var index = $(this).parent().parents('tr').index();
            bootbox.confirm('Are you sure you want to delete', function (result) {
                if (result) {

                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/DeleteRepair', JSON.stringify({ id: id }), getToken())).then(function (res, status) {
                        console.log(status);
                        console.log(res);
                        if (res === true) {
                            $('.toastrDefaultDelete').trigger('click');
                            fnRemoveARowFromTbody("#tblRepairData", index);
                        }
                        else {
                            $('.toastrDefaultError').trigger('click');
                        }
                    }).fail(function (err) {
                        $('.toastrDefaultError').trigger('click');
                        console.log(err);
                    });
                }
            })
        })
    </script>
}

