@model IEnumerable<ERPBO.Configuration.ViewModels.MobilePartViewModel>
@{
    ViewBag.Title = "Parts List";
    int sl = 0;
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Parts List</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblMobilePartData tbody tr',this)" />
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-primary btn-sm" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Add New Parts</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm">
                        <table class="table table-bordered table-sm table-striped" id="tblMobilePartData">
                            <thead class="btn-dark">
                                <tr class="text-center">
                                    <th>#SL</th>
                                    <th class="hide"></th>
                                    <th>Parts Name</th>
                                    <th>Parts Code</th>
                                    <th>Remarks</th>
                                    <th>Entry Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var part in Model)
                                {
                                    sl = sl + 1;
                                    <tr>
                                        <td class="text-center" width="10%">@sl</td>
                                        <td class="hide">@part.MobilePartId</td>
                                        <td>@part.MobilePartName</td>
                                        <td class="text-center">@part.MobilePartCode</td>
                                        <td class="text-center">@part.Remarks</td>
                                        <td>@part.EntryDate</td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-outline-warning btn-sm data-edit-item" title="Edit" data-edit-item="@part.MobilePartId"><i class="fas fa-pencil-alt"></i> </a>
                                            <a href="#" class="btn btn-outline-danger btn-sm data-del-item" title="Delete" data-del-item="@part.MobilePartId"><i class="far fa-trash-alt"></i> </a>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Count() == 0)
                                {
                                    <tr class="text-center empty-row">
                                        <td colspan="5">
                                            No Rows Found
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMobilePart" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Parts</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmAccessories">
                    <input type="hidden" name="Id" id="hdfMobilePartId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtMobilePartName" class="control-label font-weight-bold">Parts Name</label>
                            <input type="text" name="txtMobilePartName" value="" id="txtMobilePartName" class="form-control form-control-sm" />
                            <span class="error hide required-mobilePartName font-weight-bold">Input Parts Name!</span>
                            <span class="error hide duplicate-mobilePartName font-weight-bold">Already Parts Name Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtMobilePartCode" class="control-label font-weight-bold">Parts Code</label>
                            <input type="text" name="txtMobilePartCode" value="" id="txtMobilePartCode" class="form-control form-control-sm" />
                            <span class="error hide required-partsCode font-weight-bold">Input Parts Code!</span>
                            <span class="error hide duplicate-partsCode font-weight-bold">Already Parts Code Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-sm btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfMobilePartId = $("#hdfMobilePartId");
        var txtMobilePartName = $("#txtMobilePartName");
        var txtMobilePartCode = $("#txtMobilePartCode");
        var txtRemarks = $("#txtRemarks");

        $(document).ready(function () {
            $('#tblMobilePartData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            clearCtrl();
            $("#spanModalHead").text('Add New Mobile Parts');
            $("#spanSaveText").text('Save');
            $("#modalMobilePart").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            clearCtrl();
            OpenModal();
        })

        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtMobilePartName.val()) == "") {
                $(".required-mobilePartName").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtMobilePartCode.val()) == "") {
                $(".required-partsCode").removeClass("hide");
                isValid = false;
            }
            else {
                var id = TryParseInt(hdfMobilePartId.val(), 0);
                if (ajaxBooleanChecker(JSON.stringify({ id: id, partsCode: txtMobilePartCode.val().trim() }), '/Common2/IsDuplicateMobilePartCode', getToken()) == true) {
                    $(".duplicate-partsCode").removeClass("hide");
                    isValid = false;
                }
            }
            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $(".error").addClass("hide");
            if (validateForm() == true) {
                var data = JSON.stringify({
                    MobilePartId: TryParseInt(hdfMobilePartId.val(), 0),
                    MobilePartName: txtMobilePartName.val(),
                    MobilePartCode: txtMobilePartCode.val(),
                    Remarks: txtRemarks.val()
                });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/SaveMobilePart', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#tblMobilePartData");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }

        })

        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault()
            OpenModal()
            $("#spanModalHead").text('Update Mobile Parts');
            $("#spanSaveText").text('Update');
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();

            hdfMobilePartId.val(td1);
            txtMobilePartName.val(td2);
            txtMobilePartCode.val(td3);
            txtRemarks.val(td4)

        })

        function clearCtrl() {
            hdfMobilePartId.val('0');
            txtMobilePartName.val('');
            txtMobilePartCode.val('');
            txtRemarks.val('');
        }

        $(document).on('click', 'a.data-del-item', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-del-item');
            var index = $(this).parent().parents('tr').index();
            bootbox.confirm('Are you sure you want to delete', function (result) {
                if (result) {

                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/DeleteMobilePart', JSON.stringify({ id: id }), getToken())).then(function (res, status) {
                        console.log(status);
                        console.log(res);
                        if (res === true) {
                            $('.toastrDefaultDelete').trigger('click');
                            fnRemoveARowFromTbody("#tblMobilePartData", index);
                        }
                        else {
                            $('.toastrDefaultError').trigger('click');
                        }
                    }).fail(function (err) {
                        $('.toastrDefaultError').trigger('click');
                        console.log(err);
                    });
                }
            })
        })
    </script>
}