@model IEnumerable<ERPBO.Configuration.ViewModels.TechnicalServiceEngViewModel>
@{
    ViewBag.Title = "TechnicalServiceEngList";
    int sl = 0;
}

<div class="row">
    <div class="col-md-12 text-center">
        <h4><b style="color:darkblue">Technical Services List</b></h4>
        <hr />
    </div>
    <div class="col-md-12 mb-2">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblTechnicalServiceData tbody tr',this)" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary btn-sm" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Add New T.S</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-sm table-striped" id="tblTechnicalServiceData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th>Name</th>
                    <th>T.S Code</th>
                    <th>Address</th>
                    <th>Phone No.</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ts in Model)
                {
                    sl = sl + 1;
                    <tr>
                        <td class="text-center" width="10%">@sl</td>
                        <td class="hide">@ts.EngId</td>
                        <td>@ts.Name</td>
                        <td>@ts.TsCode</td>
                        <td>@ts.Address</td>
                        <td>@ts.PhoneNumber</td>
                        <td>@ts.UserName</td>
                        <td>@ts.Password</td>
                        <td class="text-center">@ts.Remarks</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-warning btn-sm data-edit-item" data-edit-item="@ts.EngId"><i class="fa fa-pen"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-sm data-del-item" data-del-item="@ts.EngId"><i class="fa fa-pen"></i> Delete</a>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="5">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalTS" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New T.S</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmCustomer">
                    <input type="hidden" name="Id" id="hdfTSId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtName" class="control-label font-weight-bold">T.S Name</label>
                            <input type="text" name="txtName" value="" id="txtName" class="form-control form-control-sm" />
                            <span class="error hide required-tSName font-weight-bold">Input TS Name!</span>
                            <span class="error hide duplicate-tSName font-weight-bold">Already TS Name Exist!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtTechnicalServicesCode" class="control-label font-weight-bold">T.S Code</label>
                            <input type="text" name="txtTechnicalServicesCode" value="" id="txtTechnicalServicesCode" class="form-control form-control-sm" />
                            <span class="error hide required-tSCode font-weight-bold">Input TS Code!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtAddress" class="control-label font-weight-bold">Address</label>
                            <input type="text" name="txtAddress" value="" id="txtAddress" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtPhone" class="control-label font-weight-bold">Phone Number</label>
                            <input type="text" name="txtPhone" value="" id="txtPhone" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtUsername" class="control-label font-weight-bold">Username</label>
                            <input type="text" name="txtUsername" value="" id="txtUsername" class="form-control form-control-sm" />
                            <span class="error hide required-userName font-weight-bold">Input Username Code!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtPassword" class="control-label font-weight-bold">Password</label>
                            <input type="text" name="txtPassword" value="" id="txtPassword" class="form-control form-control-sm" />
                            <span class="error hide required-password font-weight-bold">Input Password Code!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save </span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfTSId = $("#hdfTSId");
        var txtName = $("#txtName");
        var txtTechnicalServicesCode = $("#txtTechnicalServicesCode");
        var txtAddress = $("#txtAddress");
        var txtPhone = $("#txtPhone");
        var txtUsername = $("#txtUsername");
        var txtPassword = $("#txtPassword");
        var txtRemarks = $("#txtRemarks");

        $(document).ready(function () {
            $('#tblTechnicalServiceData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            clearCtrl();
            $("#spanModalHead").text('Add New T.S');
            $("#spanSaveText").text('Save');
            $("#modalTS").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            clearCtrl();
            OpenModal();
        })

        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtName.val()) == "") {
                $(".required-tSName").removeClass("hide");
                isValid = false;
            }
            else
            {
                var id = TryParseInt(hdfTSId.val(), 0);
                if (ajaxBooleanChecker(JSON.stringify({ id: id, name: txtName.val().trim() }), '/Common2/IsDuplicateTSName', getToken()) == true) {
                    $(".duplicate-tSName").removeClass("hide");
                    isValid = false;
                }
            }
            if ($.trim(txtTechnicalServicesCode.val()) == "") {
                $(".required-tSCode").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtUsername.val()) == "") {
                $(".required-userName").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtPassword.val()) == "") {
                $(".required-password").removeClass("hide");
                isValid = false;
            }
            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $(".error").addClass("hide");
            if (validateForm() == true) {
                var data = JSON.stringify({
                    EngId: TryParseInt(hdfTSId.val(), 0),
                    Name: txtName.val(),
                    TsCode: txtTechnicalServicesCode.val(),
                    Address: txtAddress.val(),
                    PhoneNumber: txtPhone.val(),
                    UserName: txtUsername.val(),
                    Password: txtPassword.val(),
                    Remarks: txtRemarks.val()
                });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/SaveTechnicalService', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#tblTechnicalServiceData");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }

        })
        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault()
            OpenModal()
            $("#spanModalHead").text('Update T.S');
            $("#spanSaveText").text('Update');
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();
            var td6 = row.find('td:eq(6)').html();
            var td7 = row.find('td:eq(7)').html();
            var td8 = row.find('td:eq(8)').html();

            hdfTSId.val(td1);
            txtName.val(td2);
            txtTechnicalServicesCode.val(td3);
            txtAddress.val(td4)
            txtPhone.val(td5);
            txtUsername.val(td6);
            txtPassword.val(td7);
            txtRemarks.val(td8)

        })

        function clearCtrl() {
            hdfTSId.val('0');
            txtName.val('');
            txtTechnicalServicesCode.val('');
            txtAddress.val('');
            txtPhone.val('');
            txtUsername.val('');
            txtPassword.val('');
            txtRemarks.val('');
        }

        $(document).on('click', 'a.data-del-item', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-del-item');
            var index = $(this).parent().parents('tr').index();
            bootbox.confirm('Are you sure you want to delete', function (result) {
                if (result) {

                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Configuration/DeleteTechnicalService', JSON.stringify({ id: id }), getToken())).then(function (res, status) {
                        console.log(status);
                        console.log(res);
                        if (res === true) {
                            $('.toastrDefaultDelete').trigger('click');
                            fnRemoveARowFromTbody("#tblTechnicalServiceData", index);
                        }
                        else {
                            $('.toastrDefaultError').trigger('click');
                        }
                    }).fail(function (err) {
                        $('.toastrDefaultError').trigger('click');
                        console.log(err);
                    });
                }
            })
        })
    </script>
}